_dailyuserlogs/*
public_html/static/img/profilepictures/*
public_html/static/img/questsubmissions/*
audifan/templatecache/*
_dailyuserlogs/
nbproject/
audifan/logs/*
/public_html/static/files/questarchives/
