{% extends "base.twig" %}

{% block pagetitle %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6 col-sm-6">
            {{ sectionStart('Login')|raw }}
                <div>
                    Already have an account?<br />
                    Welcome back!
                </div>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="email">Email:</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" id="email" name="email" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="password">Password:</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" id="password" name="password" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <div class="checkbox">
                                t
                            </div>
                        </div>
                    </div>
                </form>
            {{ sectionEnd()|raw }}
        </div>
        <div class="col-md-6 col-sm-6">
            {{ sectionStart('Register')|raw }}
                <div>
                    Don't have an account? Welcome to Audifan!<br />
                    We just need a little info from you.
                </div>
            {{ sectionEnd()|raw }}
        </div>
    </div>
{% endblock %}