$text-color: #ffffff;
$link-color: #0099cc;

$page-background-color: #000000;

$content-background-color: #222222;
$content-background-color-2: #333333;
$content-background-color-3: #444444;

$menu-background-color: #002B39;
$menu-background-color-hover: #113C4A;



$bootstrap-xs-max: 767px;
$bootstrap-sm-min: 768px;
$bootstrap-sm-max: 991px;
$bootstrap-md-min: 992px;
$bootstrap-md-max: 1199px;
$bootstrap-lg-min: 1200px;