{% extends "base.twig" %}

{% block title %}Audifan.net - Patch Archive{% endblock %}

{% block head %}

{% endblock %}

{% block body %}
<div class="contentwrapper2col">
    <div class="pagetitle">Patch Archive</div>
    <div class="float">
        <div class="sectionwrapper">
            <div class="sectionheading">2017 - <a href="/patch/all/2017/">View All</a></div>
            <div class="_center">
                <a href="/patch/20170719/">July 19, 2017 Patch</a><br />
                <br />
                <a href="/patch/20170614/">June 14, 2017 Patch</a><br />
                <br />
                <a href="/patch/20170516/">May 16, 2017 Patch</a><br />
                <br />
                <a href="/patch/20170412/">April 12, 2017 Patch</a><br />
                <br />
                <a href="/patch/20170315/">March 15, 2017 Patch</a><br />
                <br />
                <a href="/patch/20170213/">February 13, 2017 Patch</a><br />
                <br />
                <a href="/patch/20170122/">January 22, 2017 Patch</a><br />
                <br />
                <a href="/patch/20170104/">January 4, 2017 Patch</a>
            </div>
        </div>
        <div class="sectionwrapper">
            <div class="sectionheading">2016 - <a href="/patch/all/2016/">View All</a></div>
            <div class="_center">
                <a href="/patch/20161214/">December 14, 2016 Patch</a><br />
                <br />
                <a href="/patch/20161130/">November 30, 2016 Patch</a><br />
                <br />
                <a href="/patch/20161013/">October 13, 2016 Patch</a><br />
                <br />
                <a href="/patch/20160921/">September 21, 2016 Patch</a><br />
                <br />
                <a href="/patch/20160824/">August 24, 2016 Patch</a><br />
                <br />
                <a href="/patch/20160720/">July 20, 2016 Patch</a><br />
                <br />
                <a href="/patch/20160615/">June 15, 2016 Patch</a><br />
                <br />
                <a href="/patch/20160518/">May 18, 2016 Patch</a><br />
                <br />
                <a href="/patch/20160413/">April 13, 2016 Patch</a><br />
                <br />
                <a href="/patch/20160330/">March 30, 2016 Patch</a><br />
                <br />
                <a href="/patch/20160224/">February 24, 2016 Patch</a><br />
                <br />
                <a href="/patch/20160113/">January 13, 2016 Patch</a>
            </div>
        </div>
        <div class="sectionwrapper">
            <div class="sectionheading">2015 - <a href="/patch/all/2015/">View All</a></div>
            <div class="_center">
                <a href="/patch/20151216/">December 16, 2015 Patch</a><br />
                <br />
                <a href="/patch/20151111/">November 11, 2015 Patch</a><br />
                <br />
                <a href="/patch/20151014/">October 14, 2015 Patch</a><br />
                <br />
                <a href="/patch/20150916/">September 16, 2015 Patch</a><br />
                <br />
                <a href="/patch/20150805/">August 5, 2015 Patch</a><br />
                <br />
                <a href="/patch/20150708/">July 8, 2015 Patch</a><br />
                <br />
                <a href="/patch/20150610/">June 10, 2015 Patch</a><br />
                <br />
                <a href="/patch/20150225/">February 25, 2015 Patch</a><br />
                <br />
                <a href="/patch/20150121/">January 21, 2015 Patch</a>
            </div>
        </div>
        <div class="sectionwrapper">
            <div class="sectionheading">2014 - <a href="/patch/all/2014/">View All</a></div>
            <div class="_center">
                <a href="/patch/20141217/">December 17, 2014 Patch</a><br />
                <br />
                <a href="/patch/20141203/">December 3, 2014 Patch</a><br />
                <br />
                <a href="/patch/20141126/">November 26, 2014 Patch</a><br />
                <br />
                <a href="/patch/20141112/">November 12, 2014 Patch</a><br />
                <br />
                <a href="/patch/20141029/">October 29, 2014 Patch</a><br />
                <br />
                <a href="/patch/20141015/">October 15, 2014 Patch</a><br />
                <br />
                <a href="/patch/20141001/">October 1, 2014 Patch</a><br />
                <br />
                <a href="/patch/20140924/">September 24, 2014 Patch</a><br />
                <br />
                <a href="/patch/20140917/">September 17, 2014 Patch</a><br />
                <br />
                <a href="/patch/20140911/">September 11, 2014 Patch</a><br />
                <br />
                <a href="/patch/20140903/">September 3, 2014 Patch</a><br />
                <br />
                <a href="/patch/20140827/">August 27, 2014 Patch</a><br />
                <br />
                <a href="/patch/20140820/">August 20, 2014 Patch</a><br />
                <br />
                <a href="/patch/20140806/">August 6, 2014 Patch</a><br />
                <br />
                <a href="/patch/20140723/">July 23, 2014 Patch</a><br />
                <br />
                <a href="/patch/20140717/">July 17, 2014 Patch</a><br />
                <br />
                <a href="/patch/20140709/">July 9, 2014 Patch</a><br />
                <br />
                <a href="/patch/20140625/">June 25, 2014 Patch</a><br />
                <br />
                <a href="/patch/20140611/">June 11, 2014 Patch</a><br />
                <br />
                <a href="/patch/20140528/">May 28, 2014 Patch</a><br />
                <br />
                <a href="/patch/20140514/">May 14, 2014 Patch</a><br />
                <br />
                <a href="/patch/20140422/">April 22, 2014 Patch</a><br />
                <br />
                <a href="/patch/20140408/">April 8, 2014 Patch</a><br />
                <br />
                <a href="/patch/20140404/">April 4, 2014 Patch</a><br />
                <br />
                <a href="/patch/20140401/">April 1, 2014 Patch</a><br />
                <br />
                <a href="/patch/20140326/">March 26, 2014 Patch</a><br />
                <br />
                <a href="/patch/20140312/">March 12, 2014 Patch</a><br />
                <br />
                <a href="/patch/20140226/">February 26, 2014 Patch</a><br />
                <br />
                <a href="/patch/20140212/">February 12, 2014 Patch</a><br />
                <br />
                <a href="/patch/20140128/">January 28, 2014 Patch</a><br />
                <br />
                <a href="/patch/20140115/">January 15, 2014 Patch</a>
            </div>
        </div>
        <div class="sectionwrapper">
            <div class="sectionheading">2013 - <a href="/patch/all/2013/">View All</a></div>
            <div class="_center">
                <a href="/patch/20131230/">December 30, 2013 Patch</a><br />
                <br />
                <a href="/patch/20131218/">December 18, 2013 Patch</a><br />
                <br />
                <a href="/patch/20131211/">December 11, 2013 Patch</a><br />
                <br />
                <a href="/patch/20131127/">November 27, 2013 Patch</a><br />
                <br />
                <a href="/patch/20131113/">November 13, 2013 Patch</a><br />
                <br />
                <a href="/patch/20131106/">November 6, 2013 Patch</a><br />
                <br />
                <a href="/patch/20131030/">October 30, 2013 Patch</a><br />
                <br />
                <a href="/patch/20131016/">October 16, 2013 Patch</a><br />
                <br />
                <a href="/patch/20131002/">October 2, 2013 Patch</a><br />
                <br />
                <a href="/patch/20130925/">September 25, 2013 Patch</a><br />
                <br />
                <a href="/patch/20130917/">September 17, 2013 Patch</a><br />
                <br />
                <a href="/patch/20130911/">September 11, 2013 Patch</a><br />
                <br />
                <a href="/patch/20130904/">September 4, 2013 Patch</a><br />
                <br />
                <a href="/patch/20130814/">August 14, 2013 Patch</a><br />
                <br />
                <a href="/patch/20130807/">August 7, 2013 Patch</a><br />
                <br />
                <a href="/patch/20130724/">July 24, 2013 Patch</a><br />
                <br />
                <a href="/patch/20130717/">July 17, 2013 Patch</a><br />
                <br />
                <a href="/patch/20130703/">July 3, 2013 Patch</a><br />
                <br />
                <a href="/patch/20130605/">June 5, 2013 Patch</a><br />
                <br />
                <a href="/patch/20130522/">May 22, 2013 Patch</a><br />
                <br />
                <a href="/patch/20130508/">May 8, 2013 Patch</a><br />
                <br />
                <a href="/patch/20130424/">April 24, 2013 Patch</a><br />
                <br />
                <a href="/patch/20130410/">April 10, 2013 Patch</a><br />
                <br />
                <a href="/patch/20130327/">March 27, 2013 Patch</a><br />
                <br />
                <a href="/patch/20130313/">March 13, 2013 Patch</a><br />
                <br />
                <a href="/patch/20130227/">February 27, 2013 Patch</a><br />
                <br />
                <a href="/patch/20130124/">January 24, 2013 Patch</a><br />
                <br />
                <a href="/patch/20130111/">January 11, 2013 Patch</a>
            </div>
        </div>
    </div>
    <div class="float">
        <div class="sectionwrapper">
            <div class="sectionheading">2012 - <a href="/patch/all/2012/">View All</a></div>
            <div class="_center">
                <a href="/patch/20121220/">December 20, 2012 Patch</a><br>
		<br>
                <a href="/patch/20121206/">December 6, 2012 Patch</a><br>
		<br>
                <a href="/patch/20121122/">November 22, 2012 Patch</a><br>
		<br>
                <a href="/patch/20121108/">November 8, 2012 Patch</a><br>
		<br>
                <a href="/patch/20121025/">October 25, 2012 Patch</a><br>
		<br>
                <a href="/patch/20121011/">October 11, 2012 Patch</a><br>
		<br>
                <a href="/patch/20120920/">September 20, 2012 Patch</a><br>
		<br>
                <a href="/patch/20120906/">September 6, 2012 Patch</a><br>
		<br>
                <a href="/patch/20120823/">August 23, 2012 Patch</a><br>
		<br>
                <a href="/patch/20120809/">August 9, 2012 Patch</a><br>
		<br>
                <a href="/patch/20120724/">July 24, 2012 Patch</a><br>
		<br>
                <a href="/patch/20120710/">July 10, 2012 Patch</a><br>
		<br>
		<a href="/patch/20120620/">June 20, 2012 Patch</a><br>
		<br>
		<a href="/patch/20120606/">June 6, 2012 Patch</a><br>
		<br>
		<a href="/patch/20120524/">May 24, 2012 Patch</a><br>
		<br>
		<a href="/patch/20120509/">May 9, 2012 Patch</a><br>
		<br>
		<a href="/patch/20120423/">April 23, 2012 Patch</a><br>
		<br>
		<a href="/patch/20120404/">April 4, 2012 Patch</a><br>
		<br>
		<a href="/patch/20120321/">March 21, 2012 Patch</a><br>
		<br>
		<a href="/patch/20120307/">March 7, 2012 Patch</a><br>
		<br>
		<a href="/patch/20120221/">February 21, 2012 Patch</a><br>
		<br>
		<a href="/patch/20120201/">February 1, 2012 Patch</a><br>
		<br>
		<a href="/patch/20120117/">January 17, 2012 Patch</a><br>
		<br>
		<a href="/patch/20120104/">January 4, 2012 Patch</a>
            </div>
        </div>
        <div class="sectionwrapper">
            <div class="sectionheading">2011 - <a href="/patch/all/2011/">View All</a></div>
            <div class="_center">
                <a href="/patch/20111130/">November 30, 2011 Patch</a><br>
		<br>
		<a href="/patch/20111102/">November 2, 2011 Patch</a><br>
		<br>
		<a href="/patch/20111005/">October 5, 2011 Patch</a><br>
		<br>
		<a href="/patch/20110908/">September 8, 2011 Patch</a><br>
		<br>
		<a href="/patch/20110824/">August 24, 2011 Patch</a><br>
		<br>
		<a href="/patch/20110805/">August 5, 2011 Patch</a><br>
		<br>
		<a href="/patch/20110708/">July 8, 2011 Patch</a><br>
		<br>
		<a href="/patch/20110609/">June 9, 2011 Patch</a><br>
		<br>
		<a href="/patch/20110512/">May 12, 2011 Patch</a><br>
		<br>
		<a href="/patch/20110407/">April 7, 2011 Patch</a><br>
		<br>
		<a href="/patch/20110310/">March 10, 2011 Patch</a><br>
		<br>
		<a href="/patch/20110127/">January 27, 2011 Patch</a><br>
		<br>
		<a href="/patch/20110105/">January 5, 2011 Patch</a>
            </div>
        </div>
        <div class="sectionwrapper">
            <div class="sectionheading">2010 - <a href="/patch/all/2010/">View All</a></div>
            <div class="_center">
                <a href="/patch/20101216/">December 16, 2010 Patch</a><br>
		<br>
		<a href="/patch/20101123/">November 23, 2010 Patch</a><br>
		<br>
		<a href="/patch/20101026/">October 26, 2010 Patch</a><br>
		<br>
		<a href="/patch/20100802/">August 2, 2010 Patch</a><br>
		<br>
		<a href="/patch/20100525/">May 25, 2010 Patch</a><br>
		<br>
		<a href="/patch/20100420/">April 20, 2010 Patch</a><br>
		<br>
		<a href="/patch/20100323/">March 23, 2010 Patch</a><br>
		<br>
		<a href="/patch/20100224/">February 24, 2010 Patch</a><br>
		<br>
		<a href="/patch/20100126/">January 26, 2010 Patch</a>
            </div>
        </div>
        <div class="sectionwrapper">
            <div class="sectionheading">2009 - <a href="/patch/all/2009/">View All</a></div>
            <div class="_center">
                <a href="/patch/20091215/">December 15, 2009 Patch</a><br>
		<br>
		<a href="/patch/20091110/">November 10, 2009 Patch</a><br>
		<br>
		<a href="/patch/20091006/">October 6, 2009 Patch</a><br>
		<br>
		<a href="/patch/20090901/">September 1, 2009 Patch</a><br>
		<br>
		<a href="/patch/20090728/">July 28, 2009 Patch</a><br>
		<br>
		<a href="/patch/20090623/">June 23, 2009 Patch</a><br>
		<br>
		<a href="/patch/20090526/">May 26, 2009 Patch</a><br>
		<br>
		<a href="/patch/20090415/">April 15, 2009 Patch</a>
            </div>
        </div>
        <div class="sectionwrapper">
            <div class="sectionheading">2008 - <a href="/patch/all/2008/">View All</a></div>
            <div class="_center">
                <a href="/patch/20081021/">October 21, 2008 Patch</a>*<br>
		<br>
		<a href="/patch/20080923/">September 23, 2008 Patch</a>*<br>
		<br>
		<a href="/patch/20080902/">September 2, 2008 Patch</a>*<br>
		<br>
		<a href="/patch/20080814/">August 14, 2008 Patch</a>*<br>
		<br>
		<a href="/patch/20080716/">July 16, 2008 Patch</a>*<br>
		<br>
		<a href="/patch/20080701/">July 1, 2008 Patch</a>*<br>
		<br>
		<a href="/patch/20080603/">June 3, 2008 Patch</a>*<br>
		<br>
		<a href="/patch/20080514/">May 14, 2008 Patch</a>*<br>
		<br>
		<a href="/patch/20080422/">April 22, 2008 Patch</a>*<br>
		<br>
		<a href="/patch/20080401/">April 1, 2008 Patch</a>*<br>
		<br>
		<a href="/patch/20080311/">March 11, 2008 Patch</a>*<br>
		<br>
		<a href="/patch/20080220/">February 20, 2008 Patch</a>*<br>
		<br>
		<a href="/patch/20080129/">January 29, 2008 Patch</a>*<br>
		<br>
		<a href="/patch/20080115/">January 15, 2008 Patch</a>*
            </div>
        </div>
        <div class="sectionwrapper">
            <div class="sectionheading">2007 - <a href="/patch/all/2007/">View All</a></div>
            <div class="_center">
                <a href="/patch/20071218/">December 18, 2007 Patch</a>*<br>
                <br>
                <a href="/patch/20071127/">November 27, 2007 Patch</a>*<br>
                <br>
                <a href="/patch/20071106/">November 6, 2007 Patch</a>*<br>
                <br>
                <a href="/patch/20071016/">October 16, 2007 Patch</a>*<br>
                <br>
                <a href="/patch/20070927/">September 27, 2007 Patch</a>*<br>
                <br>
                <a href="/patch/20070912/">September 12, 2007 Patch</a>*<br>
                <br>
                <a href="/patch/20070814/">August 14, 2007 Patch</a>*<br>
                <br>
                <a href="/patch/20070724/">July 24, 2007 Patch</a>*<br>
                <br>
                <a href="/patch/20070710/">July 10, 2007 Patch</a>*<br>
                <br>
                <a href="/patch/20070605/">June 5, 2007 Patch</a>*<br>
                <br>
                <a href="/patch/20070524/">May 24, 2007 Patch</a>*<br>
                <br>
                <a href="/patch/20070508/">May 8, 2007 Patch</a>*<br>
                <br>
                <a href="/patch/20070426/">April 26, 2007 Patch</a>*
            </div>
        </div>
    </div>
    <div style="clear:both;"></div>
</div>
{% endblock %}