#errormessagewrapper {
    text-align: center;
    color: #ffaaaa;
    margin: 5px;
}

.errormessagecontent {
    margin-bottom: 3px;
}

#successmessagewrapper {
    text-align: center;
    color: #aaffaa;
    margin: 5px;
}

.successmessagecontent {
    margin-bottom: 3px;
}