$background-color: #060606;

$font-family: "Tahoma, Geneva, Helvetica, Arial, sans-serif";
$font-color: #ffffff;

$link-color: #0099cc;

$input-color: #002B39;
$input-active-color: #9c8aa5;

$content-background-color: #222222;

$shadow-color: #000000;
