{% extends "base.twig" %}

{% block title %}Audifan.net - Not Found{% endblock %}

{% block body %}
<div class="_center">
    The Crazy Crew seems to have misled you!  Page not found.<br />
    Error 404
</div>
{% endblock %}