{% extends "base.twig" %}

{% block title %}Audifan.net - Contact Us{% endblock %}

{% block pagetitle %}Contact Us{% endblock %}

{% block body %}
    <div class="contentwrapperhalf">
        <div class="float">
                We're working on a new ticket system for account inqueries, bug reports, and comments/feedback.<br />
                In the meantime, if you need to contact us, please either:<br />
            <ul>
                <li>Leave a comment on tr848's profile <a href="/community/profile/1/comments/">here</a>.</li>
                <li>Send tr848 a private message on Redbana Forums <a href="http://forums.redbana.com/privatemessage/new/12929">here</a>.</li>
                <li>Send us an email to kevin [at] audifan [dot] net.</li>
            </ul>
                
                <div>Thank you and sorry for the inconvenience.</div>
        </div>
    </div>
{% endblock %}