<div class="contentwrapper2col">
    <div class="float">
        {% include "index_news.twig" %}
        {% include "index_facebook.twig" %}
    </div>
    <div class="float">
        {% include "index_newsscroller.twig" %}
        {% include "index_right.twig" %}
    </div>
    <div style="clear:both;"></div>
</div>