<div style="margin-bottom:7px;">
    <div style="margin:auto; width:416px;">
        <div id="newsscroller" style="height:200px;"></div>
        <div class="_center" style="margin-top:3px;">
            <span style="margin-left:300px;"><a href="javascript:;" onclick="newsScrollerForward();">Skip &gt;</a></span>
        </div>
    </div>
</div>