{% extends "base.twig" %}

{% block title %}Audifan.net - Terms of Use{% endblock %}

{% block body %}
    <div class="contentwrapperhalf">
        <div class="float">
            <div><b>By using Audifan.net, you agree to the following terms of use.</b></div>
            <ol>
                <li>Please do not spam, including spamming comments or feed posts.  Spam will be deleted because it wastes space.</li>
                <li>Please do not impersonate anyone or any entity (e.g. Audifan or Redbana).</li>
                <li>Please do not share information on hacks.  Audifan is strictly against the use of hacks and other exploits.</li>
                <li>Please do not advertise content on the site.  This includes advertising to sell accounts or items.</li>
                <li>If we determine that you are not following the terms of use, attempting to hack or abuse our site, or purposely exploiting a known issue without reporting it to us, we may ban your account.  Repeated account bans and serious offenses will result in an IP ban.  Offenses that cause a violation with our service providers or sponsors may result in legal action by the respective parties.</li>
                <li>These terms of use may be changed at any time and without notice to you.</li>
            </ol>
            
            <div><b>Privacy Policy</b></div>
            <ol>
                <li>Your password will be encrypted before it is stored with us.  Nobody will be able to see your actual password at any time.  This includes site administrators.</li>
                <li>Your information will never be sold to another party.</li>
                <li>We will NEVER send you an email without your permission.</li>
                <li>An Audifan administrator or volunteer will NEVER ask for your password.  Please report any misrepresentation or phishing attempt to us immediately.</li>
                <li>As you use the site, Audifan and any of its service providers may record information such as your IP address, your general browser information, and your general computer information. This information will only be used for statistical and security purposes in order to provide a better service to you.</li>
                <li>In accordance with the Children's Online Privacy Protection Act (COPPA), you must be at least 13-years-old to submit information to us. Therefore, by creating an account with us, or performing any other action on that involves submitting information to us, you agree that you're at least 13-years-old.</li>
                <li>Facebook Connectivity
                    <ul>
                        <li>Our "Log In with Facebook" feature is in compliance with the <a href="https://developers.facebook.com/policy/" target="_blank">Facebook Platform Policies</a>.</li>
                        <li>We will only use your Facebook ID and name if you connect your Facebook account to your Audifan account. If you choose to disconnect, all data that was used to facilitate connectivity will be deleted.</li>
                        <li>We will NEVER post to your Facebook account without your permission.</li>
                    </ul>
                </li>
            </ol>
            
            <div><b>Credits</b></div>
            <ol>
                <li>Audifan uses a modified <a href="http://twig.sensiolabs.org/" target="_blank">Twig engine</a>.  We highly recommend it!  {{ ";LuvU"|bbcode }}</li>
                <li>Audifan uses some images from the <a href="http://www.famfamfam.com/" target="_blank">famfamfam collection</a>.</li>
            </ol>
        </div>
    </div>
{% endblock %}