{% extends "base.twig" %}

{% block title %}{% endblock %}

{% block body %}
    Remove new flags from:<br />
    <a href="javascript:;" onclick="$('input[type=checkbox]').attr('checked', 'checked');">Check All</a> | <a href="javascript:;" onclick="$('input[type=checkbox]').attr('checked', '');">Clear All</a><br />
    
    This page no longer worked.
{% endblock %}