<b>Version:</b> 06012<br>
<ol>
<li>Megaphone</li>
<li>New Songs</li>
	<ul>
	<li>HelloGoodbye - Here (In Your Arms) (126 bpm)</li>
	<li>Unk - Walk It Out (80 bpm)</li>
	</ul>
<li>250 new fashion items</li>
</ol>