<b>Version:</b> 06024<br>
<ol>
<li>3 couple mode</li>
	<ul>
	<li>Added green couple color option for possibility of 3 couples at a time</li>
	</ul>
<li>Couple Battle Party</li>
<li>New Songs</li>
	<ul>
	<li>Naturally 7 - Can You Feel It (83 bpm)</li>
	<li>Flobots - Same Thing (95 bpm)</li>
	<li>Billie Holiday - Spreadin' The Rhythm Around (98 bpm)</li>
	<li>Che'Nelle - Teach Me How To Dance (105 bpm)</li>
	<li>V3 - Take Me There (111 bpm)</li>
	<li>Tyler Hilton - Having You Home (112 bpm)</li>
	<li>Maxxfemm - Weak Condition (122 bpm)</li>
	<li>Relient K - Must Have Done Something Right (138 bpm)</li>
	<li>Yellowcard - Light Up The Sky (142 bpm)</li>
	<li>Boys Like Girls - The Great Escape (150 bpm)</li>
	</ul>
<li>New Items</li>
	<ul>
	<li>New fashion items</li>
	<li>Nickname change item</li>
	</ul>
</ol>