<b>Version:</b> 06034<br>
<ol>
<li>New stories (21 - 40)</li>
<li>Forbidden City stage</li>
<li>New Songs</li>
	<ul>
	<li>Blake Lewis - Break Anotha (88 bpm)</li>
	<li>Erik Carlson - There U Are (92 bpm)</li>
	<li>Lolafair & Baby J - Digital Love (108 bpm)</li>
	<li>HiFi Mike - Hollywood (Nathan G Luvbug Remix) (126 bpm)</li>
	<li>Cheyenne Kimball - One Original Thing (127 bpm)</li>
	<li>Familjen - Det Snurrar I Min Skalle (130 bpm)</li>
	<li>Test Your Reflex - New Year (137 bpm)</li>
	<li>Kim Sozzi feat. Cascada - Break Up (142 bpm)</li>
	<li>Avril Lavigne - Hot (145 bpm)</li>
	<li>Iglu & Hartly - Day-Glo (165 bpm)</li>
	</ul>
<li>New Items</li>
	<ul>
	<li>New fashion items</li>
	<li>Beginner Pass</li>
	</ul>
</ol>