<b>Version:</b> 06038<br>
<ol>
<li>Union Battle Party</li>
<li>Lifehouse Event</li>
	<ul>
	<li>Secret Lifehouse Battle Party NPC</li>
	<li>Exclusive Lifehouse songs</li>
	<li>Stages changed to include Lifehouse</li>
	</ul>
<li>Updated patcher</li>
<li>New Songs</li>
	<ul>
	<li>Audition - I Cannot Abandon It (84 bpm)</li>
	<li>Audition - U Know (90 bpm)</li>
	<li>Audition - Listen (98 bpm)</li>
	<li>Audition - Let's Start It (99 bpm)</li>
	<li>Audition - One Step (100 bpm)</li>
	<li>Audition - Get Down (100 bpm)</li>
	<li>Audition - Lie (100 bpm)</li>
	<li>Audition - Like U (104 bpm)</li>
	<li>Audition - Canon 2007 (105 bpm)</li>
	<li>Audition - Mov Mov (107 bpm)</li>
	<li>Audition - Who Who (109 bpm)</li>
	<li>Audition - Please Stand Up (110 bpm)</li>
	<li>Audition - Take It (120 bpm)</li>
	<li>Audition - Catch (120 bpm)</li>
	<li>Audition - Discreet (120 bpm)</li>
	<li>Audition - It's Alright (120 bpm)</li>
	<li>Audition - Promise (122 bpm)</li>
	<li>Audition - Sunrise (125 bpm)</li>
	<li>Audition - Happy Ending (128 bpm)</li>
	<li>Audition - What Else Do You Want? (128 bpm)</li>
	<li>Audition - Apology (140 bpm)</li>
	<li>Audition - At The Same Time (144 bpm)</li>
	<li>Audition - Good (145 bpm)</li>
	<li>Audition - Can Can (150 bpm)</li>
	<li>Audition - Like A Loser (150 bpm)</li>
	<li>Audition - With You (150 bpm)</li>
	<li>Audition - Love Mode (190 bpm)</li>
	<li>Lifehouse - Who We Are (142 bpm)</li>
	<li>Lifehouse - Birdges (146 bpm)</li>
	<li>Lifehouse - Whatever It Takes (150 bpm)</li>
	<li>Backstreet Boys - Inconsolable (160 bpm)</li>
	<li>JXL - Cities In Dust (128 bpm)</li>
	<li>Junior Boys - FM (Tensnake Remix) (123 bpm)</li>
	<li>Kottonmouth Kings - One Day (98 bpm)</li>
	</ul>
<li>New fashion items</li>
</ol>