<b>Version:</b> 06041<br>
<ol>
<li>Team Tournament</li>
<li>New Songs</li>
	<ul>
	<li>jasminexie - PUDDINGS!!!!4 (90 bpm)</li>
	<li>X Clan - Brother, Brother (90 bpm)</li>
	<li>Kelis - Milkshake (113 bpm)</li>
	<li>Aly & AJ - Like Whoa (121 bpm)</li>
	<li>Sara Bareilles - Love Song (123 bpm)</li>
	<li>MYOMI - Sun In My Eyes (125 bpm)</li>
	<li>Andy Hunter - Stars (128 bpm)</li>
	<li>My Brightest Diamond - Freak Out (Gold Chains Panique Mix) (130 bpm)</li>
	<li>Coheed & Cambria - The Running Free (170 bpm)</li>
	</ul>
<li>New Items</li>
	<ul>
	<li>New fashion items</li>
	<li>Face Changer</li>
	</ul>
</ol>