<b>Version:</b> 06028<br>
<ol>
<li>One-Two Party - Easy</li>
<li>Beat Up - 4 Keys</li>
<li>New Songs</li>
	<ul>
	<li>H.I.M. - Kiss of Dawn (90 bpm)</li>
	<li>Korn - Evolution (103 bpm)</li>
	<li>Krystal Meyers - Only You Make Me Happy (114 bpm)</li>
	<li>Fantasia - Uneligible (116 bpm)</li>
	<li>Undergreen - I Am A Superpower (120 bpm)</li>
	<li>The Cribs - Men's Needs (122 bpm)</li>
	<li>Uberzone - Funny Noise (128 bpm)</li>
	<li>VHS Or Beta - Take It Or Leave It (133 bpm)</li>
	<li>Search/Rescue - Fireflies (140 bpm)</li>
	<li>The Honorary Title - Stuck At Sea (147 bpm)</li>
	</ul>
<li>New Items</li>
	<ul>
	<li>New fashion items</li>
	<li>New items added to the Secret Shopper</li>
	</ul>
</ol>