<b>Version:</b> 10011<br>
<ol>
<li>FAM Battle</li>
<li>Club Dance II</li>
<li>New Songs</li>
	<ul>
	<li>Jordyn Taylor - Again</li>
	<li>Bexy - Don't Bring Me Down</li>
	<li>Bexy - Meant For Me</li>
	<li>Allan Cutler - What If</li>
	<li>Danielle Calato - You Got Me Hot</li>
	<li>Chrissy - My Slushy</li>
	<li>Chrissy - Strut</li>
	<li>Limotint & Wafeek - Vegas Trip</li>
	<li>Shaymin - Shake</li>
	<li>Allan Cutler - The One</li>
	<li>Jordyn Taylor - What's Good</li>
	</ul>
<li>New Items</li>
	<ul>
	<li>100 new items total</li>
	</ul>
</ol>