<b>Version:</b> 10013<br>
<ol>
<li><b>Season 2</b></li>
	<ul>
	<li>Game resolution changed from 800x600 to 1024x768.</li>
	<li>Tons of UI updates.</li>
	</ul> 
<li>Beat Rush</li>
	<ul>
	<li>Beat Rush Normal mode</li>
	<li>Beat Rush Hard mode</li>
	</ul>
<li>Tournament (re-added)</li>
<li>New Songs</li>
	<ul>
	<li>H*Wood - Hollywood Life</li>
	<li>Rosy Donnovan - Shattering</li>
	<li>Sean Kingston - Fire Burnin' On The Dance Floor</li>
	<li>Cascada - Everytime We Touch</li>
	<li>Chantalle - Silly Boy</li>
	<li>Morgan Hayes - Ain't Enough</li>
	<li>Sirocco - Go</li>
	<li>Various Artist - Stop The Wind (Loveholic)</li>
	<li>Various Artist - Between Love And Friendship (Suyoung Lee)</li>
	<li>Various Artist - There's No Other (Seungchul Lee)</li>
	<li>Various Artist - After Love (FT Island)</li>
	<li>4Flava - Untouchable</li>
	<li>4Flava - Feeling Bout U</li>
	<li>Kyven - All Beginning</li>
	<li>Laura Roppe - Sing A Love Song</li>
	<li>Mole - Say My Name</li>
	<li>Sharif - Lauren</li>
	<li>Sharif - You Are My Girl</li>
	<li>Shiner22 - You're All I Want</li>
	<li>Allan Cutler - All Or Nothing</li>
	<li>Lady Gaga - Pokerface</li>
	</ul>
<li>New Items</li>
	<ul>
	<li>New fashion items</li>
	<li>Motions</li>
	</ul>
</ol>