<b>Version:</b> 10019<br>
<ol>
<li>Crazy Freestyle Battle</li>
<li>Beat Rush Random</li>
<li>Team Beat Up</li>
<li>Improved Halloween stage</li>
<li>New Songs</li>
	<ul>
	<li>Audition - Hands Up!!!</li>
	<li>Audition - Dance Dance</li>
	<li>Audition - Beat City</li>
	<li>Allan Cutler - DJ Stole My Heart</li>
	<li>H*Wood - Get It</li>
	<li>Becca - This Ain't A Love Song</li>
	<li>Allan Cutler & Becca - Talk To Me</li>
	<li>The Cynic Project - HappyTheme</li>
	<li>The Cynic Project - On Top Of The World (feat. Sheila)</li>
	</ul>
<li>New Items</li>
	<ul>
	<li>55 new items total</li>
	<li>17 FAM shop items</li>
	</ul>
</ol>