<b>Version:</b> 10031<br>
<ol>
<li>Wedding Mode update</li>
	<ul>
	<li>Wedding mode now uses the mode Couple Dance with a new song (Audition - Wedding Day)</li>
	<li>Wedding requirements have been lowered</li>
	<li>Wedding mode gameplay has been changed to include observers in the wedding</li>
	<li>A screenshot is automatically taken at the end of a successful marriage</li>
	</ul>
<li>Insane option</li>
<li>New Songs</li>
	<ul>
	<li>Audition - As Time Goes By (130 bpm)</li>
	<li>Audition - Solo (125 bpm)</li>
	<li>Audition - Still (My Girl) (130 bpm)</li>
	<li>Audition - Diary (98 bpm)</li>
	<li>Audition - Baby Baby Baby (128 bpm)</li>
	<li>Orianthi - According To You (131 bpm)</li>
	</ul>
<li>New Items</li>
	<ul>
	<li>50 new items total</li>
	<li>7 faces</li>
	<li>Avatar effect items (hand trails/finish move sparkles)</li>
	<li>Waiting room platforms</li>
	</ul>
</ol>