<b>Version:</b> 10029<br>
<ol>
<li>New stories (81 - 100)</li>
<li>New Random Mode Beat Rush Battle Party NPCs</li>
<li>New couple break-up system</li>
	<ul>
	<li>In order to break a couple, you are now required to type the phrase "Couple Break" to prevent accidental couple removals</li>
	</ul>
<li>Portable dressing room</li>
<li>New Songs</li>
	<ul>
	<li>Audition - What Do You Want Me To Do? (106 bpm)</li>
	<li>Audition - You Are Here No More (122 bpm)</li>
	<li>Audition - Little By Little (125 bpm)</li>
	<li>Audition - Don't Cry, My Heart (140 bpm)</li>
	<li>Audition - I Know (95 bpm)</li>
	<li>Rebecca Horn - BFF (133 bpm)</li>
	<li>Rebecca Horn - Hello Disaster (168 bpm)</li>
	<li>Rebecca Horn - Life Support (150 bpm)</li>
	<li>Jackie Boyz - Topless (90 bpm)</li>
	<li>Sean Kingston - Face Drop (168 bpm)</li>
	<li>Allison Iraheta - Friday I'll Be Over U (151 bpm)</li>
	</ul>
<li>New Items</li>
	<ul>
	<li>50 new items total</li>
	</ul>
</ol>