<b>Version:</b> 10041<br>
<ol>
<li>Custom BGM</li>
	<ul>
	<li>Choose songs from the song list to add to your custom BGM list.</li>
	<li>Switch between the default BGM list and your custom list from the BGM display in the upper right corner.</li>
	<li>You can also now stop or pause your BGM.</li>
	</ul>
<li>My Album</li>
	<ul>
	<li>Choose songs from the song list to make your own music list.</li>
	</ul>
<li>Catalogue</li>
	<ul>
	<li>View all of the items that someone is currently wearing by right-clicking them and choosing "Catalogue."</li>
	<li>You can also purchase the items, or put them in your cart to purchase them later from the mall.</li>
	</ul>
<li>Chat Commands</li>
	<ul>
	<li>Type the following commands to get more info about yourself or other players.  Some commands may require you to be playing a game or to own premium messenger.</li>
		<ul>
		<li>/my info - Shows your current level, in-game name, server, channel, and room number.</li>
		<li>/who [IGN] - Shows the specified player's current level, server, and channel, if he/she is online.</li>
		<li>/couple info - Shows your couple's level, server, and channel, if he/she is online.</li>
		<li>/friend - Shows all of your friends who are online.</li>
		<li>/bank info - Shows your current beats and cash balance.</li>
		<li>/time - Shows the current server time.</li>
		<li>/record - Shows how long you've been playing, how many games you've played, and how much EXP and beats you've accured this playing session.</li>
		<li>/result - Shows your current combo and number of perfects, greats, cools, bads, and misses.</li>
		<li>/all player result - Shows all player's combos and number of perfects, greats, cools, bads, and misses.</li>
		<li>/general ranking - Shows your current general ranking.</li>
		<li>/couple ranking - Shows your current couple ranking.</li>
		<li>/contest ranking - Shows your current tournament ranking.</li>
		<li>/beat rush ranking - Shows your current Beat Rush ranking.</li>
		<li>/beat up ranking - Shows your current Beat-Up ranking.</li>
		<li>/story ranking - Shows your current story ranking.</li>
		</ul>
	</ul>
<li>New Songs</li>
	<ul>
	<li>Sky Ferreira - Whatya Gonna Do (124 bpm)</li>
	<li>Owl City - Fireflies (90 bpm)</li>
	<li>David Guetta, feat. Kelly Rowland - When Love Takes Over (130 bpm)</li>
	<li>Audition - Love Love Mode (130 bpm)</li>
	<li>Audition - Stand Up (95 bpm)</li>
	<li>Audition - Yay Yay Ya (134 bpm)</li>
	<li>Audition - You Don't Know (110 bpm)</li>
	<li>Audition - Left Right (128 bpm)</li>
	<li>Japan Audition - LateNight (120 bpm)</li>
	<li>Japan Audition - Positivity (137 bpm)</li>
	</ul>
<li>New Items</li>
	<ul>
	<li>100 items were added including 4 faces, hairs, tops, bottoms, shoes, sets, and 2 pets.</li>
	<li>More items have been given the indefinite option.</li>
	<li>More Halloween items have been added.</li>
	</ul>
</ol>