<b>Version:</b> 10065<br>
<ol>
<li>Rhythm Holic</li>
	<ul>
	<li>Use the left arrow key/left Ctrl key for the cat and the right arrow key/right Ctrl key for the dog.</li>
	<li>Fill the Holic gauge at the top of the screen for bonus Beats. The note type you choose as well as the number of players will affect the amount of Beats you receive.</li>
	<li>Holic notes (notes with a tiny heart above them) will appear randomly throughout the game.  Each successfull left and right holic note will be counted toward unlocking more note types (other than cats/dogs).</li>
	<li>You can view your current holic amount for the left and right keynotes as well as configure keynotes after you've unlocked them in the room before the game starts.</li>
	</ul>
<li>Happy Box</li>
	<ul>
	<li>To use the Happy Box, you must first buy it from the mall for 5,000 beats.</li>
	<li>To open the Happy Box, click the icon from "My Info" in the lobby or at the top of the screen in a room.</li>
	<li>You can bet from 1,000 to 10,000 beats or from 50 to 500 Happy Box tickets.</li>
	<li>After you place your bet, click GO to spin.</li>
	<li>You will receive a random cash or beats face, hair, top, bottom, shoes, or set.  You also have a chance to receive a Happy Box ticket.</li>
	<li>If you win an item indefinitely, but already own the same item indefinitely, you will receive a x2 Beats Card instead.</li>
	</ul>
<li>5 New Songs</li>
	<ul>
	<li>Amanda Blank - Make It Take It (85 bpm)</li>
	<li>Audition - Bye Bye (132 bpm)</li>
	<li>Audition - Kiss Kiss (125 bpm)</li>
	<li>Matthew Tishler - I'm Gonna Be A Popstar (128 bpm)</li>
	<li>MJ & iRoK - Kick That Bass (128 bpm)</li>
	</ul>
<li>115 New Items</li>
	<ul>
	<li>49 Men's Items</li>
	<li>51 Women's Items</li>
	<li>4 Motions</li>
	<li>10 Accessories</li>
	<li>Happy Box</li>
	</ul>
<li>New FAM Items</li>
</ol>