<b>Version:</b> 10087<br>
<ol>
<li>50 new Beat Up Battle Party NPCs</li>
	<ul>
	<li>New highest NPC, Christelle, gives 120,000 Beats</li>
	</ul>
<li>Event Server</li>
	<ul>
	<li>Channels 1 & 2 allow players between level 1 and 20.</li>
	<li>Channels 3 & 4 allow players between level 21 and 99.</li>
	<li>In the month of November, between Friday at 7 pm PST and Monday at 12 pm PST, players will receive x2 EXP.</li>
	</ul>
<li>7 New Songs</li>
	<ul>
	<li>Mr. Ozwald - Synthesize (125 bpm)</li>
	<li>Chris De Luca - Word Up (129 bpm)</li>
	<li>DJ Regal - Luv Drunk (130 bpm)</li>
	<li>Candy Rose - Hooked On You (130 bpm)</li>
	<li>Enzyme Dynamite - Nocturnal (130 bpm)</li>
	<li>Oh No Not Stereo - All You (89 bpm)</li>
	<li>Forged - Urban Track 1 (130 bpm)</li>
	</ul>
<li>2 New Guitar Songs</li>
	<ul>
	<li>Audition - Bang! (200 bpm) [Easy, Normal, Hard, Crazy]</li>
	<li>MixMatch - Move It (164 bpm) [Easy, Normal, Hard]</li>
	</ul>
<li>100+ New Items</li>
	<ul>
	<li>Men's Items including 3 faces, 7 hairs, 6 tops, 6 bottoms, 6 shoes</li>
	<li>Women's Items</li>
	<li>4 Motions</li>
	</ul>
<li>1 New Couple Item</li>
	<ul>
	<li>Talking Pet Item</li>
		<ul>
		<li>Allows your pets purchased from the couple shop to speak six lines of text that you choose: three general lines, a line at the start of a game, a line if you win, and a line if you lose.</li>
		<li>Only works with couple pets. If you play with your couple, and you both have pets, the pets will synch their speech.</li>
		</ul>
	</ul>
</ol>