<b>Version:</b> 10060<br>
<ol>
<li>Space Pang Pang</li>
	<ul>
	<li>Press the spacebar when notes reach the judgment area.  Only the space bar is needed to play.</li>
	<li>Bonus combo points are awarded after every 20 combos.</li>
	<li>If you reach a combo of 100, you can activate chance by using the delete key.  Bonus points are awarded if you get 6 consecutive perfects while chance is active.  Once you get anything lower than a perfect, chance is deactivated and your combo returns to 0.</li>
	<li>You can get a constant bonus by activating Enter chance (similar to Beat Up mode).  By pressing the numpad Enter key, you will shorten the amount of time given to view upcoming notes.</li>
	<li>You can also select between two different sounds heard while hitting notes during gameplay.</li>
	</ul>
<li>Couple Ring Box</li>
	<ul>
	<li>You and your couple can switch between any ring that you've already earned.</li>
	<li>Change your ring by clicking on your current ring in "My Info" on the right-hand side of the lobby.</li>
	<li>Your couple must also be in the lobby to accept the change.</li>
	</ul>
<li>New Songs</li>
	<ul>
	<li>Audition - Love Song (95 bpm)</li>
	<li>Liane V. - Bring It Back (104 bpm)</li>
	<li>Audition - Together Forever (115 bpm)</li>
	<li>Audition - Dance With Me (117 bpm)</li>
	<li>Radio Freq - I'm Alive (117 bpm)</li>
	<li>Audition - My Heart Is Beating (124 bpm)</li>
	<li>Audition - How to Say (130 bpm)</li>
	<li>Audition - Come On! (150 bpm)</li>
	<li>Shapes of Race Cars - World's End (160 bpm)</li>
	<li>Audition - Audition (168 bpm)</li>
	</ul>
<li>100 New Items</li>
	<ul>
	<li>36 Men's Items</li>
	<li>54 Women's Items</li>
	<li>3 Faces</li>
	<li>4 Motions</li>
	<li>Diary - Standard, Premium, and Couple</li>
	</ul>
</ol>