<b>Version:</b> 10085<br>
<ol>
<li>Love Party Renewal</li>
	<ul>
	<li>The male can now write a love letter to their couple for the Love Party. It will be revealed at the end of the Love Party.</li>
	<li>You will now receive the rose basket and rose wings accessories for passing.</li>
	</ul>
<li>6 New Songs</li>
	<ul>
	<li>Timeflies - Lose My Mind (130 bpm)</li>
	<li>DJ Regal - Bass In My Face (140 bpm)</li>
	<li>Sarah Ozelle - Bye Bye Baby (133 bpm)</li>
	<li>Kyven - Take Me Up (128 bpm)</li>
	<li>Amigaman - So Much More (129 bpm)</li>
	<li>Eminent Pulse - Take Me Away (136 bpm)</li>
	</ul>
<li>2 New Guitar Songs</li>
	<ul>
	<li>Go Go Boys - Stand Up! (96 bpm) [Easy, Normal, Hard]</li>
	<li>Crying Nut - Deep at Night [Remaster] (140 bpm) [Easy, Normal, Hard]</li>
	</ul>
<li>136 New Items</li>
	<ul>
	<li>48 Men's Items</li>
	<li>71 Women's Items</li>
	<li>10 Emoticon Bubbles</li>
		<ul>
		<li>An animated emoticon will appear next to your avatar in game rooms when used.</li>
		<li>Each emoticon has 2 commands.</li>
		<li>You can view all of your emoticon bubbles by pressing the new "B" button next to the regular chat emoticons box:<br /><img src="{{ GLOBAL.staticUrl }}/img/patchinfo/bbutton.png" /><br />You can also press Ctrl+B.</li>
		</ul>
	<li>2 accessories</li>
	<li>4 motions</li>
	<li>1 platform</li>
	<li>Halloween Themed Items Added</li>
	</ul>
</ol>