<b>Version:</b> 10108<br>
<ol>
<li>66 New Items</li>
	<ul>
	<li>41 new women's items including 1 face, 10 hairs, 7 tops, 8 bottoms, 11 shoes, and 4 sets.</li>
	<li>19 new men's items including 1 face, 4 hairs, 4 tops, 4 bottoms, 4 shoes, and 2 sets.</li>
	<li>3 new pets.</li>
	<li>2 new motions.</li>
	<li>1 new guitar.</li>
	</ul>
</ol>