<b>Version:</b> 10136<br>
<ol>
<li>Couple Date Planner</li>
    <ul>
    <li>Access the date planner from the Date button above your ring in the lobby.</li>
    <li>In order to play a date, you must purchase one from the Couple Shop.</li>
    <li>There are 3 items that you can buy.</li>
    <ul>
        <li>A Monday, Wednesday, Friday item, which gives you 12 dates for Mondays, Wednesdays, or Fridays. Costs 800 cash.</li>
        <li>A Tuesday, Thursday, Saturday item, which gives you 12 dates for Tuesdays, Thursdays, or Saturdays. Costs 800 cash.</li>
        <li>A Sunday item which gives you 4 dates for Sundays. Costs 10,000 beats.</li>
    </ul>
    <li>Even if you do not complete a date, a turn for that day's item will be used when the day is over.</li>
    <li>From the Date window, you can see:</li>
    <ul>
        <li>how many dates you have left for each item.</li>
        <li>the task you must complete for today's date. Each task has a mode, requirement (e.g. number of synchro perfects), and number of additional people needed in the room. For example, if it says 4 people, you need to be with your couple in a full room. If it says 0 people, you and your couple can complete the date by yourselves.</li>
    </ul>
    <li>When you complete the date's task, you and your couple can claim your reward. When you complete it, you will get couple points.</li>
    <li>Each day you complete a date's task, you will receive an improved heart icon over your character's head.  The heart icon gradually changes from a blue heart to a red heart as you complete dates on consecutive days. The heart will start to go back to blue if you don't complete a date. The heart will disappear if you run out of date planner items.</li>
    <li>If you complete the date's task, you and your couple will have a heart shower effect around your characters when you enter a room together.</li>
    </ul>
<li>Story Mode Episode 2 - Stories 61 - 80</li>
    <ul>
    <li>61 - Win against NPCs in Choreography - 8 Keys</li>
    <li>62 - Get at least 150,000 points in Guitar Mode three times in a room with at least 5 people</li>
    <li>63 - Get at least 2nd place against NPCs in Choreography - C - 8 Keys</li>
    <li>64 - Win against NPCs in Choreography - C - 4 Keys</li>
    <li>65 - Get at least 4 consecutive perfects (Perfect x3) with NPCs in Choreography - C - 8 Keys</li>
    <li>66 - Win against NPCs in Choreography - 8 Keys</li>
    <li>67 - Win against NPCs in Choreography - C - 8 Keys</li>
    <li>68 - Win against NPCs in Choreography - Expert</li>
    <li>69 - Win against NPCs in Choreography - C - 4 Keys</li>
    <li>70 - Get at least 4 consecutive perfects (Perfect x3) against NPCs in Choreography - C - 8 Keys</li>
    <li>71 - Win and get at least 5 synchro perfects three times in Couple Dance - 4 Keys</li>
    <li>72 - Get at least 50 perfects in Beat Up - 6 Keys three times in a room with at least 4 people</li>
    <li>73 - Get at least 200,000 points in Guitar Mode three times in a room with at least 5 people</li>
    <li>74 - Get at least 5 consecutive perfects (Perfect x4) against NPCs in Choreography - Expert</li>
    <li>75 - Get at least 200,000 points in Guitar Mode three times in a room with at least 5 people</li>
    <li>76 - Win as a team against NPCs in Choreography - C - 8 Keys</li>
    <li>77 - Get at least 15 Perfects in Beat Rush Normal - 4 Keys five times in a room with at least 4 people</li>
    <li>78 - Get at least 4 consecutive perfects (Perfect x3) in Choreography - C - 8 Keys three times in a room with at least 4 people</li>
    <li>79 - Get at least 3rd place against NPCs in Choreography - C - 8 Keys</li>
    <li>80 - Get at least 200,000 points in Guitar Mode three times in a room with at least 5 people</li>
    </ul>
<li>8 New Songs</li>
    <ul>
    <li>Analogue Revolution - Go Crazy (feat. Bryan Steele) (128 bpm)</li>
    <li>Audition - Don't play a joke on me (138 bpm)</li>
    <li>Family Force 5 - Cray Button (130 bpm)</li>
    <li>Kate Bradshaw - Breathe You In (130 bpm)</li>
    <li>KIF - Dance the Night Away (128 bpm)</li>
    <li>M.O.V.E. - Saturday Night (126 bpm)</li>
    <li>My Hero - Radio (110 bpm)</li>
    <li>The Popstar - The Popstar (FJ Reidiculous Mix)</li>
    </ul>
<li>7 New Night Songs</li>
    <ul>
    <li>Analogue Revolution - Go Crazy (feat. Bryan Steele) (128 bpm)</li>
    <li>Family Force 5 - Cray Button (130 bpm)</li>
    <li>Kate Bradshaw - Breathe You In (130 bpm)</li>
    <li>KIF - Dance the Night Away (128 bpm)</li>
    <li>M.O.V.E. - Saturday Night (126 bpm)</li>
    <li>My Hero - Radio (110 bpm)</li>
    <li>The Popstar - The Popstar (FJ Reidiculous Mix)</li>
    </ul>
<li>7 New Beat Up Songs</li>
    <ul>
    <li>Analogue Revolution - Go Crazy (feat. Bryan Steele) (128 bpm) [Lv. 2]</li>
    <li>Family Force 5 - Cray Button (130 bpm) [Lv. 3]</li>
    <li>Kate Bradshaw - Breathe You In (130 bpm) [Lv. 3]</li>
    <li>KIF - Dance the Night Away (128 bpm) [Lv. 2]</li>
    <li>M.O.V.E. - Saturday Night (126 bpm) [Lv. 2]</li>
    <li>My Hero - Radio (110 bpm) [Lv. 2]</li>
    <li>The Popstar - The Popstar (FJ Reidiculous Mix) [Lv. 2]</li>
    </ul>
<li>7 New One Two Party Songs</li>
    <ul>
    <li>Analogue Revolution - Go Crazy (feat. Bryan Steele) (128 bpm) [Lv. 3]</li>
    <li>Family Force 5 - Cray Button (130 bpm) [Lv. 3]</li>
    <li>Kate Bradshaw - Breathe You In (130 bpm) [Lv. 4]</li>
    <li>KIF - Dance the Night Away (128 bpm) [Lv. 3]</li>
    <li>M.O.V.E. - Saturday Night (126 bpm) [Lv. 3]</li>
    <li>My Hero - Radio (110 bpm) [Lv. 2]</li>
    <li>The Popstar - The Popstar (FJ Reidiculous Mix) [Lv. 3]</li>
    </ul>
<li>1 New Ballroom Song</li>
    <ul>
    <li>Ben Clement - Mean Anything - Rumba (90 bpm)</li>
    </ul>
<li>1 New Space Pang Pang Song</li>
    <ul>
    <li>Audition - Ur Ma Angel (130 bpm)</li>
    </ul>
<li>1 New Rhythm Holic Song</li>
    <ul>
    <li>Audition - Under the Sun (128 bpm)</li>
    </ul>
<li>5 New Block Beat Songs</li>
    <ul>
    <li>Candy Rose - It's You That I Love (Club Remix) (135 bpm) [Lv. 2]</li>
    <li>Fresh Body Shop - Burn In The Limousine (134 bpm) [Lv. 3]</li>
    <li>Kyven - Stand To Lose (136 bpm) [Lv. 3]</li>
    <li>M.O.V.E. - Tell Me Why (90 bpm) [Lv. 1]</li>
    <li>Modfunk - Timeshifter (125 bpm) [Lv. 2]</li>
    </ul>
<li>86 New Fashion Mall Items</li>
    <ul>
    <li>53 new women's items including 2 faces, 14 hairs, 9 tops, 9 bottoms, 14 shoes, and 5 sets.</li>
    <li>30 new men's items including 2 faces, 7 hairs, 7 tops, 7 bottoms, and 7 shoes.</li>
    <li>2 new motions</li>
    <li>1 new accessory</li>
    </ul>
<li>38 New Couple Shop Items</li>
    <ul>
    <li>13 new women's items including 2 hairs, 1 top, 3 bottoms, 4 shoes, and 3 sets.</li>
    <li>14 new men's items including 2 hairs, 2 tops, 4 bottoms, 4 shoes, and 2 sets.</li>
    <li>4 new accessories</li>
    <li>2 new rings</li>
    <li>2 new licenses</li>
    <li>3 new items</li>
    </ul>
</ol>