<b>Version:</b> 10121<br>
<ol>
<li>Fashion Week Mode</li>
    <ul>
    <li>Fashion Week is a new Normal mode available in 4 keys, 8 keys, crazy 4 keys, crazy 8 keys, easy 4 keys, and easy 8 keys. To play it, choose Normal Mode as your main mode when creating a room.</li>
    <li>In Fashion Week, your clothes are replaced. At the top-left corner of the screen, a piece of an item that you had on will be randomly selected every time a move appears. Items will have between 1 and 4 pieces. To earn that piece, you must get a perfect during that move. Whenever you earn a piece, you will instantly get 10,000 bonus points.</li>
    <li>If you earn all of the pieces to a particular item, you will get it back and will instantly get 10,000 bonus points.</li>
    <li>If you earn all of your items back, you'll instantly get 50,000 bonus points. You will also be able to stand in the spotlight at the end of the game. If you don't, you'll stand to the side.</li>
    <li>You can determine how everyone else is progressing with getting their clothes back based on the glow around their portrait. If the glow is 1/4 of the way across the entire portrait, they've recovered one of their items, 1/2 of the way means they've recovered two items, etc. When their portrait completely glows, they've recovered all of their items.</li>
    </ul>
<li>RedbanaMusic Premium Songs</li>
    <ul>
    <li>RedbanaMusic is a new music service from Redbana that allows you to purchase premium songs to play in Audition.</li>
    <li>Premium songs are in the song list with a <img src="/img/d.png" style="vertical-align:text-bottom;" /> next to them.</li>
    <li>To play these songs, the DJ of the room must have purchased play time for the song on <a href="//redbanamusic.com" target="_blank">RedbanaMusic.com</a></li>
    <li>Songs for which you have play time are listed in the new "My Music" tab on the song list.</li>
    </ul>
<li>7 New Songs</li>
    <ul>
    <li>Amo - Playtoy (128 bpm)</li>
    <li>Come On, Come On - Pop Fiction (158 bpm)</li>
    <li>DiRTY RADiO - Found You (88 bpm)</li>
    <li>Eminent Pulse - Dance Floor (134 bpm)</li>
    <li>Kvyen - I Got This (134 bpm)</li>
    <li>MJ&iRoK - You And Me Forever (128 bpm)</li>
    <li>Return to Mono - Song of the Beast (125 bpm)</li>
    </ul>
<li>5 New Premium Songs</li>
    <ul>
    <li>*Allan Cutler - My Girl (Dance Remix) (128 bpm)</li>
    <li>*MJ&iRoK - Everybody Dance (128 bpm)</li>
    <li>*MJ&iRoK - Mega Mix (128 bpm)</li>
    <li>*MJ&iRoK - Mega Mix 2 (128 bpm)</li>
    <li>*MJ&iRoK - Point of No Return (140 bpm)</li>
    </ul>
<li>7 New Night Dance Songs</li>
    <ul>
    <li>*Allan Cutler - My Girl (Dance Remix) (128 bpm)</li>
    <li>Come On, Come On - Pop Fiction (158 bpm)</li>
    <li>DiRTY RADiO - Found You (88 bpm)</li>
    <li>Eminent Pulse - Dance Floor (134 bpm)</li>
    <li>*MJ&iRoK - Everybody Dance (128 bpm)</li>
    <li>*MJ&iRoK - Mega Mix (128 bpm)</li>
    <li>Return to Mono - Song of the Beast (125 bpm)</li>
    </ul>
<li>11 New Beat Up Songs</li>
    <ul>
    <li>*Allan Cutler - My Girl (Dance Remix) (128 bpm) [Lv. 2]</li>
    <li>Amo - Playtoy (128 bpm) [Lv. 2]</li>
    <li>Come On, Come On - Pop Fiction (158 bpm) [Lv. 3]</li>
    <li>DiRTY RADiO - Found You (88 bpm) [Lv. 3]</li>
    <li>Eminent Pulse - Dance Floor (134 bpm) [Lv. 2]</li>
    <li>Kvyen - I Got This (134 bpm) [Lv. 3]</li>
    <li>*MJ&iRoK - Everybody Dance (128 bpm) [Lv. 2]</li>
    <li>*MJ&iRoK - Mega Mix (128 bpm) [Lv. 2]</li>
    <li>*MJ&iRoK - Mega Mix 2 (128 bpm) [Lv. 2]</li>
    <li>MJ&iRoK - You And Me Forever (128 bpm) [Lv. 1]</li>
    <li>Return to Mono - Song of the Beast (125 bpm) [Lv. 2]</li>
    </ul>
<li>12 New One Two Party Songs</li>
    <ul>
    <li>*Allan Cutler - My Girl (Dance Remix) (128 bpm) [Lv. 3]</li>
    <li>Amo - Playtoy (128 bpm) [Lv. 3]</li>
    <li>Come On, Come On - Pop Fiction (158 bpm) [Lv. 3]</li>
    <li>DiRTY RADiO - Found You (88 bpm) [Lv. 2]</li>
    <li>Eminent Pulse - Dance Floor (134 bpm) [Lv. 3]</li>
    <li>Kvyen - I Got This (134 bpm) [Lv. 3]</li>
    <li>*MJ&iRoK - Everybody Dance (128 bpm) [Lv. 3]</li>
    <li>*MJ&iRoK - Mega Mix (128 bpm) [Lv. 3]</li>
    <li>*MJ&iRoK - Mega Mix 2 (128 bpm) [Lv. 3]</li>
    <li>*MJ&iRoK - Point of No Return (140 bpm) [Lv. 4]</li>
    <li>MJ&iRoK - You And Me Forever (128 bpm) [Lv. 3]</li>
    <li>Return to Mono - Song of the Beast (125 bpm) [Lv. 3]</li>
    </ul>
<li>2 New Space Pang Pang Songs</li>
    <ul>
    <li>Audition - What Do You Want Me To Do? (106 bpm)</li>
    <li>Audition - You Are Here No More (122 bpm)</li>
    </ul>
<li>1 New Guitar Song</li>
    <ul>
    <li>Go Go Boys - Disco in the Moonlight (112 bpm) [Easy, Normal, Hard]</li>
    </ul>
<li>5 New Block Beat Songs</li>
    <ul>
    <li>Allan Cutler - DJ Stole My Heart (142 bpm) [Lv. 3]</li>
    <li>Erin Bowman - All My Girls (134 bpm) [Lv. 2]</li>
    <li>Japan Audition - D4 (150 bpm) [Lv. 3]</li>
    <li>Ke$ha - Tik Tok (120 bpm) [Lv. 3]</li>
    <li>Liane V. - Stupid (128 bpm) [Lv. 2]</li>
    </ul>
<li>91 New Items</li>
    <ul>
    <li>55 new women's items including 2 faces, 13 hairs, 11 tops, 12 bottoms, 14 shoes, and 3 sets.</li>
    <li>33 new men's items including 2 faces, 7 hairs, 7 tops, 8 bottoms, 8 shoes, and 1 set.</li>
    <li>2 new motions.</li>
    <li>1 new accessory.</li>
    </ul>
<li>46 New Couple Shop Items</li>
    <ul>
    <li>21 new women's items including 3 hairs, 3 tops, 5 bottoms, 5 shoes, and 5 sets.</li>
    <li>21 new men's items including 3 hairs, 3 tops, 5 bottoms, 5 shoes, and 5 sets.</li>
    <li>2 new rings.</li>
    <li>2 new couple certificates.</li>
    </ul>
</ol>
A song with an asterisk (*) before it is a premium song. The DJ of the room must have purchased play time for the song from <a href="//redbanamusic.com" target="_blank">RedbanaMusic.com</a> in order to play it.