<b>Version:</b> 10141<br>
<ol>
<li>62 New Mall Items</li>
    <ul>
    <li>41 new women's items including 1 face, 11 hairs, 7 tops, 7 bottoms, 11 shoes, and 4 sets.</li>
    <li>18 new men's items including 1 face, 4 hairs, 4 tops, 4 bottoms, and 5 shoes.</li>
    <li>2 new motions.</li>
    <li>1 new accessory.</li>
    </ul>
</ol>