<b>Version:</b> 10104<br>
<ol>
<li>62 New Items</li>
	<ul>
	<li>39 new women's items including 2 faces, 10 hairs, 7 tops, 7 bottoms, 10 shoes, and 3 sets.</li>
	<li>21 new men's items including 2 faces, 5 hairs, 4 tops, 4 bottoms, 5 shoes, and 1 set.</li>
	<li>2 new motions.</li>
	</ul>
</ol>