<b>Version:</b> 10128<br>
<ol>
<li>Story Mode Episode 2: Stories 41 - 60</li>
    <ul>
    <li>41 - Win as a team against NPCs in Choreography - C - 8 Keys.</li>
    <li>42 - Get at least 5 consecutive perfects (Perfect x4) with NPCs in Choreography - Expert.</li>
    <li>43 - Get at least 4 consecutive perfects (Perfect x3), at least 300,000 points, and no bads with NPCs in Choreography - 4 Keys.</li>
    <li>44 - Get at least 5 consecutive perfects (Perfect x4), at least 400,000 points, and no bads with NPCs in Choreography - C - 4 Keys.</li>
    <li>45 - Get no misses with NPCs in Choreography - Expert.</li>
    <li>46 - Get a combo of at least 100 three times in Beat Up - 6 Keys in a room with at least 5 people.</li>
    <li>47 - Get at least 5 consecutive perfects (Perfect x4) in Choreography - 4 Keys in a room with at least 5 people.</li>
    <li>48 - Get at least 250,000 points and no bads two times in Choreography - C - 8 Keys.</li>
    <li>49 - Win against NPCs in Choreography - C - 4 Keys.</li>
    <li>50 - Win as a team against NPCs in Choreography - C - 8 Keys.</li>
    <li>51 - Win against NPCs in Choreography - C - 8 Keys.</li>
    <li>52 - Win as a team against NPCs in Choreography - C - 4 Keys.</li>
    <li>53 - Get a combo of at least 100 three times in Beat Up - 6 Keys in a room with at least 4 people.</li>
    <li>54 - Win against NPCs in Choreography - 8 Keys.</li>
    <li>55 - Win against NPCs in Choreography - C - 8 Keys.</li>
    <li>56 - Get at least 300,000 points in Beat Rush Normal - 4 Keys in a room with at least 4 people.</li>
    <li>57 - Get at least 5 perfects three times in Beat Rush Normal - 4 Keys in a room with at least 5 people.</li>
    <li>58 - Get at least 4 consecutive perfects (Perfect x3), no bads, and no misses in Choreography - 4 Keys in a room with at least 5 people.</li>
    <li>59 - Get no bads and no misses with NPCs in Choreography - Expert.</li>
    <li>60 - Get at least 3rd place with NPCs in Choreography - C - 8 Keys.</li>
    </ul>
<li>Matching Card Update</li>
    <ul>
    <li>You can now choose which items you want to match with other people on your Matching Card.</li>
    <li>When editing your Matching Card, choose "Use" on the new "Priority Criteria" option. This will allow you to click on the fields that you want to match.</li>
    <li>You can still match all items by choosing "Don't Use" on the Priority Criteria option.</li>
    </ul>
<li>7 New Songs</li>
    <ul>
    <li>Alyshen - The One (125 bpm)</li>
    <li>Ex Norwegian - Something Unreal (129 bpm)</li>
    <li>i Killed the Symphony - My Enemy (143 bpm)</li>
    <li>J Zohar - You (125 bpm)</li>
    <li>Kyven - All Dressed Up (125 bpm)</li>
    <li>M.O.V.E. - Supernatural (122 bpm)</li>
    <li>MJ&iRoK - Party All Night (128 bpm)</li>
    </ul>
<li>5 New Night Dance Songs</li>
    <ul>
    <li>Alyshen - The One (125 bpm)</li>
    <li>i Killed the Symphony - My Enemy (143 bpm)</li>
    <li>Kyven - All Dressed Up (125 bpm)</li>
    <li>M.O.V.E. - Supernatural (122 bpm)</li>
    <li>MJ&iRoK - Party All Night (128 bpm)</li>
    </ul>
<li>7 New One Two Party Songs</li>
    <ul>
    <li>Alyshen - The One (125 bpm) [Lv. 2]</li>
    <li>Ex Norwegian - Something Unreal (129 bpm) [Lv. 2]</li>
    <li>i Killed the Symphony - My Enemy (143 bpm) [Lv. 3]</li>
    <li>J Zohar - You (125 bpm) [Lv. 3]</li>
    <li>Kyven - All Dressed Up (125 bpm) [Lv. 3]</li>
    <li>M.O.V.E. - Supernatural (122 bpm) [Lv. 3]</li>
    <li>MJ&iRoK - Party All Night (128 bpm) [Lv. 3]</li>
    </ul>
<li>7 New Beat Up Songs</li>
    <ul>
    <li>Alyshen - The One (125 bpm) [Lv. 1]</li>
    <li>Ex Norwegian - Something Unreal (129 bpm) [Lv. 2]</li>
    <li>i Killed the Symphony - My Enemy (143 bpm) [Lv. 2]</li>
    <li>J Zohar - You (125 bpm) [Lv. 1]</li>
    <li>Kyven - All Dressed Up (125 bpm) [Lv. 2]</li>
    <li>M.O.V.E. - Supernatural (122 bpm) [Lv. 2]</li>
    <li>MJ&iRoK - Party All Night (128 bpm) [Lv. 1]</li>
    </ul>
<li>2 New Rhythm Holic Songs</li>
    <ul>
    <li>Audition - Beforehand (106 bpm)</li>
    <li>Audition - Play Boy (120 bpm)</li>
    </ul>
<li>2 New Guitar Songs</li>
    <ul>
    <li>Audition - Come On! (150 bpm) [Easy, Normal, Hard, Crazy]</li>
    <li>Audition - Let's Dance (feat. Joe Brown) (126 bpm) [Easy, Normal, Hard, Crazy]</li>
    </ul>
<li>6 New Block Beat Songs</li>
    <ul>
    <li>Audition - Still (My Girl) (130 bpm) [Lv. 1]</li>
    <li>Audition - Timing (132 bpm) [Lv. 3]</li>
    <li>Audition - To You (2009 mini-album) (138 bpm) [Lv. 2]</li>
    <li>DiRTY RADiO - Found You (88 bpm) [Lv. 3]</li>
    <li>MJ&iRoK - Heart Beat (128 bpm) [Lv. 2]</li>
    <li>MJ&iRoK - Kick That Bass (128 bpm) [Lv. 2]</li>
    </ul>
<li>84 New Mall Items</li>
    <ul>
    <li>51 new women's items including 2 faces, 13 hairs, 7 tops, 8 bottoms, 14 shoes, and 7 sets.</li>
    <li>29 new men's items including 2 faces, 7 hairs, 6 tops, 7 bottoms, and 7 shoes.</li>
    <li>2 new motions.</li>
    <li>2 new accessories.</li>
    </ul>
<li>8 New Couple Garden Market Items</li>
    <ul>
    <li>2 new seeds.</li>
    <li>6 new accessories.</li>
    </ul>
</ol>