<b>Version:</b> 10096<br>
<ol>
<li>59 New Items</li>
	<ul>
	<li>25 men's items including 1 face, 6 hairs, 4 tops, 5 bottoms, 6 shoes, and 3 sets.</li>
	<li>30 women's items including 1 face, 7 hairs, 6 tops, 7 bottoms, 7 shoes, and 2 sets.</li>
	<li>2 motions.</li>
	<li>2 accessories.</li>
	</ul>
</ol>