<b>Version:</b> 10130<br>
<ol>
<li>5 New Premium Songs</li>
    <ul>
    <li>*DJ Skarlet - Lost In The Lights (130 bpm)</li>
    <li>*Ka Lide - Just A Shadow (140 bpm)</li>
    <li>*Lil Bren - Get Low (160 bpm)</li>
    <li>*MJ&iRoK - Turn It Up (130 bpm)</li>
    <li>*The Party 'Party' - I'm On Fire (128 bpm)</li>
    </ul>
<li>2 New Night Dance Songs</li>
    <ul>
    <li>*DJ Skarlet - Lost In The Lights (130 bpm)</li>
    <li>*Lil Bren - Get Low (160 bpm)</li>
    </ul>
<li>5 New Beat Up Songs</li>
    <ul>
    <li>*DJ Skarlet - Lost In The Lights (130 bpm) [Lv. 2]</li>
    <li>*Ka Lide - Just A Shadow (140 bpm) [Lv. 2]</li>
    <li>*Lil Bren - Get Low (160 bpm) [Lv. 3]</li>
    <li>*MJ&iRoK - Turn It Up (130 bpm) [Lv. 2]</li>
    <li>*The Party 'Party' - I'm On Fire (128 bpm) [Lv. 1]</li>
    </ul>
<li>5 New One Two Party Songs</li>
    <ul>
    <li>*DJ Skarlet - Lost In The Lights (130 bpm) [Lv. 3]</li>
    <li>*Ka Lide - Just A Shadow (140 bpm) [Lv. 3]</li>
    <li>*Lil Bren - Get Low (160 bpm) [Lv. 4]</li>
    <li>*MJ&iRoK - Turn It Up (130 bpm) [Lv. 3]</li>
    <li>*The Party 'Party' - I'm On Fire (128 bpm) [Lv. 2]</li>
    </ul>
<li>83 New Mall Items</li>
    <ul>
    <li>51 new women's items including 1 face, 11 hairs, 11 tops, 12 bottoms, 12 shoes, and 4 sets.</li>
    <li>27 new men's items including 1 face, 5 hairs, 8 tops, 8 bottoms, and 5 shoes.</li>
    <li>2 new motions.</li>
    <li>3 new accessories.</li>
    </ul>
</ol>
A song with an asterisk (*) before it is a premium song. The DJ of the room must have purchased play time for the song from <a href="//redbanamusic.com" target="_blank">RedbanaMusic.com</a> in order to play it.