<b>Version:</b> 10140<br>
<ol>
<li>Couple Garden Expansion</li>
    <ul>
    <li>The size of your garden can now be increased.</li>
    <li>After purchasing the CG 1st Expansion Item from the Couple Garden Market, your garden will expand to include the spaces in the pink area:<br /><img src="{{ GLOBAL.staticUrl }}/img/patchinfo/gardenexpand1.png" /></li>
    <li>After getting the 1st expansion, you can then purchase the 2nd expansion. Purchasing the CG 2nd Expansion Item will expand your garden to include the spaces in the blue area:<br /><img src="{{ GLOBAL.staticUrl }}/img/patchinfo/gardenexpand2.png" /></li>
    <li>Each expansion costs 9,900 Bana Cash.</li>
    </ul>
<li>Couple Garden Beat Mole</li>
    <ul>
    <li>The Beat Mole will pick up your Beats rewards from Couple Garden.</li>
    <li>After purchasing it from the Couple Garden Market, click it to activate it. It will go around your garden and collect Beats rewards until you leave your garden.</li>
    <li>Costs 2,200 Bana Cash. Can be purchased for 30, 90, or 365 days.</li>
    </ul>
<li>5 New Songs</li>
    <ul>
    <li>Dan aka Dan - The Sound (84 bpm)</li>
    <li>Lauryn Vyce & Virtuosyk - Party-Ception (128 bpm)</li>
    <li>Sideway Runners - Shooting Star (139 bpm)</li>
    <li>Soul P. - Goodness (feat. Lisa Kimmey) (93 bpm)</li>
    <li>The Party Party - Whistle Song (128 bpm)</li>
    </ul>
<li>5 New Night Dance Songs</li>
    <ul>
    <li>Dan aka Dan - The Sound (84 bpm)</li>
    <li>Lauryn Vyce & Virtuosyk - Party-Ception (128 bpm)</li>
    <li>Sideway Runners - Shooting Star (139 bpm)</li>
    <li>Soul P. - Goodness (feat. Lisa Kimmey) (93 bpm)</li>
    <li>The Party Party - Whistle Song (128 bpm)</li>
    </ul>
<li>5 New Beat Up Songs</li>
    <ul>
    <li>Dan aka Dan - The Sound (84 bpm) [Lv. 2]</li>
    <li>Lauryn Vyce & Virtuosyk - Party-Ception (128 bpm) [Lv. 1]</li>
    <li>Sideway Runners - Shooting Star (139 bpm) [Lv. 2]</li>
    <li>Soul P. - Goodness (feat. Lisa Kimmey) (93 bpm) [Lv. 3]</li>
    <li>The Party Party - Whistle Song (128 bpm) [Lv. 1]</li>
    </ul>
<li>5 New One Two Party Songs</li>
    <ul>
    <li>Dan aka Dan - The Sound (84 bpm) [Lv. 2]</li>
    <li>Lauryn Vyce & Virtuosyk - Party-Ception (128 bpm) [Lv. 3]</li>
    <li>Sideway Runners - Shooting Star (139 bpm) [Lv. 4]</li>
    <li>Soul P. - Goodness (feat. Lisa Kimmey) (93 bpm) [Lv. 2]</li>
    <li>The Party Party - Whistle Song (128 bpm) [Lv. 3]</li>
    </ul>
<li>1 New Space Pang Pang Song</li>
    <ul>
    <li>Audition - To You (2009 mini-album) (138 bpm)</li>
    </ul>
<li>1 New Rhythm Holic Song</li>
    <ul>
    <li>Audition - Just One (126 bpm)</li>
    </ul>
<li>1 New Guitar Song</li>
    <ul>
    <li>Audition - 3 (140 bpm) [Easy, Normal, Hard, Crazy]</li>
    </ul>
<li>5 New Block Beat Songs</li>
    <ul>
    <li>Family Force 5 - Cray Button (130 bpm) [Lv. 3]</li>
    <li>Kate Bradshaw - Breathe You In (130 bpm) [Lv. 3]</li>
    <li>KIF - Dance The Night Away (128 bpm) [Lv. 2]</li>
    <li>My Hero - Radio (110 bpm) [Lv. 2]</li>
    <li>The Popstar - The Popstar (DJ Reidiculous Mix) (128 bpm) [Lv. 2]</li>
    </ul>
<li>79 New Fashion Mall Items</li>
    <ul>
    <li>50 new women's items including 2 faces, 13 hairs, 9 tops, 9 bottoms, 13 shoes, and 4 sets.</li>
    <li>26 new men's items including 2 faces, 6 hairs, 6 tops, 6 bottoms, and 6 shoes.</li>
    <li>2 new motions.</li>
    <li>1 new DJ booth.</li>
    </ul>
<li>12 New Couple Garden Market Items</li>
    <ul>
    <li>2 new seeds.</li>
    <li>6 new accessories.</li>
    <li>4 new items.</li>
    </ul>
</ol>