<b>Version:</b> 10118<br>
<ol>
<li>67 New Items</li>
	<ul>
	<li>45 new women's items including 1 face, 12 hairs, 7 tops, 6 bottoms, 12 shoes, and 7 sets.</li>
	<li>19 new men's items including 1 face, 5 hairs, 4 tops, 4 bottoms, 4 shoes, and 1 set.</li>
	<li>2 new motions.</li>
	<li>1 new guitar.</li>
	</ul>
<li>70 new items given the indefinite purchase option</li>
	<ul>
	<li>JuniorAngel BlackWings (Male or Female Accessory)</li>
<li>JuniorAngel PinkWings (Male or Female Accessory)</li>
<li>KiwiCream IceBar (Male or Female Accessory)</li>
<li>PinkFace IceBar (Male or Female Accessory)</li>
<li>BarbieDoll skirt w/ fishnet stockings (Female Bottom)</li>
<li>Black & White Leggings (Female Bottom)</li>
<li>Black rolled-up jeans w/ belt (Male Bottom)</li>
<li>Black Shorts (Female Bottom)</li>
<li>Icon style pants (Male Bottom)</li>
<li>JDG-1 style (Male Bottom)</li>
<li>MarineBoy WalkingShoes (Male Bottom)</li>
<li>Pink Flare Skirt (Female Bottom)</li>
<li>Punk Bottom (Male Bottom)</li>
<li>REVOLUTION couple SET (Male Bottom)</li>
<li>Sexy Short Pants (Female Bottom)</li>
<li>Soft look khaki mini skirt (Female Bottom)</li>
<li>Teen Idol Blue Jeans (Male Bottom)</li>
<li>"Kiss me just once!!" (Male Face)</li>
<li>"So, what?" disgruntled face (Female Face)</li>
<li>BabySmile Face (Male Face)</li>
<li>Big Smiley (Female Face)</li>
<li>Big Smiley (Male Face)</li>
<li>Chuckle Head (Male Face)</li>
<li>Dollface (Female Face)</li>
<li>Falling-in-love kiss face (Male Face)</li>
<li>Kekeke Face (Female Face)</li>
<li>Playing innocent comical face (Female Face)</li>
<li>Sulky face (Female Face)</li>
<li>U Think U Know Me? Face (Male Face)</li>
<li>ASH style disco hair (Female Hair)</li>
<li>Bedhead Cowlick (Male Hair)</li>
<li>Big Red Ribbon (Female Hair)</li>
<li>Brown Side Pony Tail (Female Hair)</li>
<li>DEVO (Female Hair)</li>
<li>EA7XA70 style (Male Hair)</li>
<li>Pointy Fringe (Male Hair)</li>
<li>Receptionist (Female Hair)</li>
<li>RedStreak PunkyHair (Female Hair)</li>
<li>Shaggy mane (Male Hair)</li>
<li>Silver Cut (Male Hair)</li>
<li>Sporty Tim Style (Male Hair)</li>
<li>Black Bikini (Female Set)</li>
<li>Cats-3 Style (Female Set)</li>
<li>DarkGrey SwimShorts (Male Set)</li>
<li>Pink Tartan Dress (Female Set)</li>
<li>Ready To Hip Hop (Male Set)</li>
<li>RedFlower BeachPants (Male Set)</li>
<li>Black Buckle Boots (Female Shoes)</li>
<li>Classic Canvas Sneaks (Female Shoes)</li>
<li>ClubBoy brown sneakers (Male Shoes)</li>
<li>Cute Angel White Boots (Female Shoes)</li>
<li>DoubleS white high tops (Male Shoes)</li>
<li>Luxury strap sandals (Female Shoes)</li>
<li>Pretty Guy Style (Male Shoes)</li>
<li>Pure Black Sporty Shoes (Male Shoes)</li>
<li>Skaterboy Shoes (Male Shoes)</li>
<li>Sporty couple style (Female Shoes)</li>
<li>Winter Brown Boots (Female Shoes)</li>
<li>Active Top w/ RedTie (Female Top)</li>
<li>BBOA-5 Top (Female Top)</li>
<li>Black tattooed chest (Male Top)</li>
<li>Casual Training Jacket (Male Top)</li>
<li>FancyPlaid BlackVest (Male Top)</li>
<li>Flare Top (Female Top)</li>
<li>Hearty White Tee (Female Top)</li>
<li>Hip-Hop Girl Shirt (Female Top)</li>
<li>Rock Jacket (Male Top)</li>
<li>Spring Pink Baby-Tee (Female Top)</li>
<li>Velvet Long Coat (Male Top)</li>
<li>White shirt w/ black tie (Male Top)</li>
	</ul>
</ol>