<b>Version:</b> 10132<br>
<ol>
<li>Club 3</li>
    <ul>
    <li>To play Club 3, select Club Dance as the main mode when creating a room, then select Club Dance III from the mode selector in the room. Club 3 is available in 4 Keys and 8 Keys. As with other club modes, 6 people (3 boys and 3 girls) are required to start the game.</li>
    <li>Throughout the game, you will increase a Love Score with each person of the opposite gender. While playing with your current partner, your Love Score with that person increases by the same amount as both players' points earned.</li>
    <li>When the game starts, the 3 members of the opposite gender are behind a curtain. Each person will have either an F1, F2, or F3 above their head, along with one of the fields of their Matching Card displayed below them. Select the person you want to dance with by pressing either F1, F2, or F3. After 5 seconds, the curtain is lifted to reveal who you selected.<br />
    <img src="{{ GLOBAL.staticUrl }}/img/patchinfo/partnerreveal.png" /></li>
    <li>You then enter the club, and you will see who everyone picked. If the person you picked also picked you, you will get a bonus of 10,000 Love Score with that person. Those who picked each other will be paired together during Round 1, and those who didn't pick each other will be paired randomly with someone.</li>
    <li>During the first part of Round 1, you play normally from Level 6 to a Finish Move. If both you and your partner get a Great, you will get a bonus of 1,000 Love Score with that person, and if you both get a Perfect, you will get a bonus of 2,000 Love Score. After the Finish Move, you start Couple Dance Time. During this time, you play like Couple Mode, from Level 6 to a Finish Move. Also, during this time, a Synchro Great will give you a bonus of 2,000 Love Score and a Synchro Perfect will give you a bonus of 4,000 Love Score.</li>
    <li>After Round 1 is over, you are shown 3 prizes. The prizes are chosen randomly out of a list of 12.<br />
    <img src="{{ GLOBAL.staticUrl }}/img/patchinfo/club3prizes.png" /><br />
    Choose the prize you think the person you want to dance with would also pick. You will be paired with the person who picked the same prize during Round 2.</li>
    <li>At the start of Round 2, you will automatically receive a bonus of 10,000 Love Score with the person who picked the same prize as you. After that, Round 2 plays the exact same way as Round 1.</li>
    <li>After Round 2 is over, the Final Round starts. At the start, you are shown everyone of the opposite gender with an F1, F2, or F3 over their picture.<br />
    <img src="{{ GLOBAL.staticUrl }}/img/patchinfo/club3round3.png" /><br />
    Choose your partner with F1, F2, or F3. If the person you picked also picked you, you will receive a bonus of 10,000 Love Score with that person. You then play the same way as you did in the other rounds. The Final Round repeats over and over until the end of the game.</li>
    <li>At the end of the game, you are shown everyone of the opposite gender again, but this time, you are shown their picture along with your Love Score with that person.<br />
    <img src="{{ GLOBAL.staticUrl }}/img/patchinfo/club3final.png" /><br />
    Choose your final partner with F1, F2, or F3.</li>
    <li>The couple with the highest Love Score will be the Best Couple, and will receive 1,000 Bonus Beats. If the other four people picked each other to form two more couples, they will receive 500 Bonus Beats each.</li>
    </ul>
<li>7 New Songs</li>
    <ul>
    <li>Candy Rose - It's You That I Love (Club Remix) (135 bpm)</li>
    <li>Fresh Body Shop - Burn In The Limousine (134 bpm)</li>
    <li>Kyven - Stand To Lose (136 bpm)</li>
    <li>M.O.V.E. - Tell Me Why (90 bpm)</li>
    <li>MJ&iRoK - We Got Swag (87 bpm)</li>
    <li>Modfunk - Timeshifter (125 bpm)</li>
    <li>The Relay Company - Animals (125 bpm)</li>
    </ul>
<li>5 New Night Dance Songs</li>
    <ul>
    <li>Candy Rose - It's You That I Love (Club Remix) (135 bpm)</li>
    <li>Fresh Body Shop - Burn In The Limousine (134 bpm)</li>
    <li>M.O.V.E. - Tell Me Why (90 bpm)</li>
    <li>MJ&iRoK - We Got Swag (87 bpm)</li>
    <li>The Relay Company - Animals (125 bpm)</li>
    </ul>
<li>7 New Beat Up Songs</li>
    <ul>
    <li>Candy Rose - It's You That I Love (Club Remix) (135 bpm) [Lv. 2]</li>
    <li>Fresh Body Shop - Burn In The Limousine (134 bpm) [Lv. 3]</li>
    <li>Kyven - Stand To Lose (136 bpm) [Lv. 3]</li>
    <li>M.O.V.E. - Tell Me Why (90 bpm) [Lv. 1]</li>
    <li>MJ&iRoK - We Got Swag (87 bpm) [Lv. 1]</li>
    <li>Modfunk - Timeshifter (125 bpm) [Lv. 2]</li>
    <li>The Relay Company - Animals (125 bpm) [Lv. 2]</li>
    </ul>
<li>7 New One Two Party Songs</li>
    <ul>
    <li>Candy Rose - It's You That I Love (Club Remix) (135 bpm) [Lv. 3]</li>
    <li>Fresh Body Shop - Burn In The Limousine (134 bpm) [Lv. 4]</li>
    <li>Kyven - Stand To Lose (136 bpm) [Lv. 4]</li>
    <li>M.O.V.E. - Tell Me Why (90 bpm) [Lv. 2]</li>
    <li>MJ&iRoK - We Got Swag (87 bpm) [Lv. 2]</li>
    <li>Modfunk - Timeshifter (125 bpm) [Lv. 3]</li>
    <li>The Relay Company - Animals (125 bpm) [Lv. 3]</li>
    </ul>
<li>1 New Space Pang Pang Song</li>
    <ul>
    <li>Audition - Have a Nice Day (120 bpm)</li>
    </ul>
<li>2 New Rhythm Holic Songs</li>
    <ul>
    <li>Audition - Don't Worry At All (108 bpm)</li>
    <li>Audition - Love Doctor (124 bpm)</li>
    </ul>
<li>2 New Guitar Songs</li>
    <ul>
    <li>Audition - Better (165 bpm) [Easy, Normal, Hard, Crazy]</li>
    <li>Day break - Good (140 bpm) [Easy, Normal, Hard]</li>
    </ul>
<li>5 New Block Beat Songs</li>
    <ul>
    <li>M.O.V.E. - Supernatural (122 bpm) [Lv. 2]</li>
    <li>Alyshen - The One (125 bpm) [Lv. 1]</li>
    <li>J Zohar - You (125 bpm) [Lv. 1]</li>
    <li>MJ&iRoK - Party All Night (128 bpm) [Lv. 1]</li>
    <li>Kyven - I Got This (134 bpm) [Lv. 3]</li>
    </ul>
<li>84 New Fashion Mall Items</li>
    <ul>
    <li>52 new women's items including 2 faces, 14 hairs, 8 tops, 8 bottoms, 14 shoes, and 6 sets.</li>
    <li>29 new men's items including 2 faces, 7 hairs, 7 tops, 6 bottoms, 6 shoes, and 1 set.</li>
    <li>2 new motions.</li>
    <li>1 new platform.</li>
    </ul>
<li>10 New Couple Garden Market Items</li>
    <ul>
    <li>4 new seeds.</li>
    <li>6 new accessories.</li>
    </ul>
</ol>