<b>Version:</b> 10150<br>
<ol>
<li>Coin Collect Mode</li>
    <ul>
    <li>Coin Collect is a new Normal mode available in 4 keys and 8 keys.  There is also a team version.</li>
    <li>A minimum of 3 players are required to play. For the team version, both teams must have three players.</li>
    <li>While you play, you can earn three different types of coins:</li>
        <ul>
        <li>Purple Coin: Earned when you get two of the same judgment in a move level (excluding misses).</li>
        <li>Blue Coin: Earned when you get two different judgments in a move level (excluding misses).</li>
        <li>Green Coin: Earned if you type a phrase that appears during a move level.</li>
        </ul>
    <li>You can earn one type of coin per move level. Moves go from Level 6 to 9, with four moves per level.</li>
    <li>In the top-left corner, you can see how many of each coin you've collected, as well as the room's total coins collected.</li>
    <li>At the end of the game, you can combine your coins with everyone else in the room to try to earn a reward.</li>
        <ul>
        <li>You can only contribute one type of coin.</li>
        <li>The required number of each type of coin needed to attempt a combination is displayed.</li>
        <li>Press F1 to contribute Purple Coins, F2 to contribute Blue Coins, and F3 to contribute Green Coins. Press F4 if you do not want to contribute any coins.</li>
        <li>Any leftover Purple/Blue Coins will give 5 bonus EXP each, and any leftover Green Coins will give 5 Beats each.</li>
        <li>If the combination is successful, boxes will appear. Select which box you want, or a random one will be selected for you.</li>
        <li>All boxes can contain:</li>
            <ul>
            <li>A Face item for 7 days.</li>
            <li>One round of a x2 EXP or Beats card.</li>
            </ul>
        <li>Yellow boxes can contain:</li>
            <ul>
            <li>A random hair or shoe item.</li>
            <li>A special hair item only available from Coin Collect mode.</li>
            </ul>
        <li>Blue boxes can contain:</li>
            <ul>
            <li>A random hair or shoe item.</li>
            <li>A special shoe item only available from Coin Collect mode.</li>
            </ul>
         <li>Purple boxes can contain:</li>
            <ul>
            <li>A random top or bottom item.</li>
            <li>A special set only available from Coin Collect mode.</li>
            </ul>
        </ul>
    </ul>
<li>2 New Songs</li>
    <ul>
    <li>Lil Bren - My Shoes On (112 bpm)</li>
    <li>Tgfcoder - Apogee (138 bpm)</li>
    </ul>
<li>2 New Night Dance Songs</li>
    <ul>
    <li>Audition - Don't Fool Around (138 bpm)</li>
    <li>Lil Bren - My Shoes On (112 bpm)</li>
    </ul>
<li>3 New Beat Up Songs</li>
    <ul>
    <li>Audition - Don't Fool Around (138 bpm) [Lv. 2]</li>
    <li>Lil Bren - My Shoes On (112 bpm) [Lv. 1]</li>
    <li>Tgfcoder - Apogee (138 bpm) [Lv. 2]</li>
    </ul>
<li>3 New One Two Party Songs</li>
    <ul>
    <li>Audition - Don't Fool Around (138 bpm) [Lv. 3]</li>
    <li>Lil Bren - My Shoes On (112 bpm) [Lv. 2]</li>
    <li>Tgfcoder - Apogee (138 bpm) [Lv. 3]</li>
    </ul>
<li>1 New Space Pang Pang Song</li>
    <ul>
    <li>Audition - Don't need to say a thing (120 bpm)</li>
    </ul>
<li>2 New Rhythm Holic Songs</li>
    <ul>
    <li>Audition - Be the Wind (130 bpm)</li>
    <li>Audition - Surely (138 bpm)</li>
    </ul>
<li>1 New Guitar Song</li>
    <ul>
    <li>Audition - Symphony No. 40 (Rock ver.) (170 bpm) [Easy, Normal, Hard, Crazy]</li>
    </ul>
<li>5 New Block Beat Songs</li>
    <ul>
    <li>Cameron Forbes - Frozen (128 bpm) [Lv. 3]</li>
    <li>Ian & the Dream - Radio Blastin' (96 bpm) [Lv. 1]</li>
    <li>Maracalous - Party All Night (127 bpm) [Lv. 2]</li>
    <li>MJ&iRoK - Club 101 (128 bpm) [Lv. 3]</li>
    <li>The Relay Company - Diva (117 bpm) [Lv. 2]</li>
    </ul>
<li>10 Removed Songs</li>
    <ul>
    <li>Ajuku Girls - 11:59 (125 bpm)</li>
    <li>Ali Pierre - Live It Up (128 bpm)</li>
    <li>Amanda Blank - Make It Take It (85 bpm)</li>
    <li>DiRTY RADiO - Wanna Ride (Radio Cut) (124 bpm)</li>
    <li>Jackie Boyz - Topless (90 bpm)</li>
    <li>Mr. Ozwald - Synthesize (125 bpm)</li>
    <li>Mr. Robotic - Don't Wanna Leave (feat. Melody Cross and DJ Bam Bam) (128 bpm)</li>
    <li>Summer Rona - Perfect World (121 bpm)</li>
    <li>Timeflies - Lose My Mind (130 bpm)</li>
    <li>We Are Leo - Heartbeats (132 bpm)</li>
    </ul>
<li>82 New Fashion Mall Items</li>
    <ul>
    <li>52 new women's items including 2 faces, 13 hairs, 11 tops, 11 bottoms, 13 shoes, and 2 sets.</li>
    <li>26 new men's items including 2 faces, 6 hairs, 6 tops, 6 bottoms, and 6 shoes.</li>
    <li>1 new pet.</li>
    <li>2 new motions.</li>
    <li>1 new DJ booth.</li>
    </ul>
<li>5 New Couple Garden Market Items</li>
    <ul>
    <li>2 new seeds.</li>
    <li>3 new accessories.</li>
    </ul>
</ol>