<b>Version:</b> 10195/10196<br>
<ol>
    <li>Couple Garden Attendance
        <ul>
        <li>Earn rewards for checking your garden daily.</li>
        <li>To check in, click the Love Attendance board on your garden.<br /><img src="{{ GLOBAL.staticUrl }}/img/patchinfo/board.jpg" /></li>
        <li>Click the Charge heart to add a point to your attendance. Each person can click their heart once a day.<br /><img src="{{ GLOBAL.staticUrl }}/img/patchinfo/dailymark.jpg" /></li>
        <li>You will be rewarded with couple points when your attendance reaches 1, 2, 4, 8, 12, 18, and 24.<br /><img src="{{ GLOBAL.staticUrl }}/img/patchinfo/attnreward.jpg" /></li>
        <li>Must be purchased once to use it forever.</li>
        </ul></li>
    <li>Black Friday Deals
        <ul>
        <li>Sales are as follows:
            <ul>
                <li>Most hairs, faces, and shoes are 10% off</li>
                <li>Most DJ booths are 20% off</li>
                <li>Most tops, bottoms, and accessories are 30% off</li>
                <li>Most sets and pets are 50% off</li>
            </ul></li>
        <li>Items on sale are marked with an orange label, and their prices are orange.<br /><img src="{{ GLOBAL.staticUrl }}/img/patchinfo/examplesale.png" /></li>
        <li>Includes items in the Fashion Mall, as well as the Couple Shop.</li>
        <li>Sales end on December 3.</li>
        </ul></li>
    <li>Event Server
        <ul>
        <li>The Event Server is open!</li>
        <li>Players level 21 and over will receive 50% more EXP and Beats while playing in the Event Server.</li>
        <li>The Event Server will disappear on December 3.</li>
        </ul></li>
    <li>475 new items now have the indefinite purchase option.</li>
    <li>3 New Songs
        <ul>
        <li>Daydream Anatomy - Dynamism (85 bpm)</li>
        <li>The Spin Wires - Girls Like You Instrumental (155 bpm)</li>
        <li>The Spin Wires - Dance or Die Instrumental (125 bpm)</li>
        </ul></li>
    <li>3 New Night Dance Songs
        <ul>
        <li>Daydream Anatomy - Dynamism (85 bpm)</li>
        <li>The Spin Wires - Girls Like You Instrumental (155 bpm)</li>
        <li>The Spin Wires - Dance or Die Instrumental (125 bpm)</li>
        </ul></li>
    <li>3 New Beat Up Songs
        <ul>
        <li>Daydream Anatomy - Dynamism (85 bpm) [Lv. 1]</li>
        <li>The Spin Wires - Girls Like You Instrumental (155 bpm) [Lv. 2]</li>
        <li>The Spin Wires - Dance or Die Instrumental (125 bpm) [Lv. 2]</li>
        </ul></li>
    <li>3 New One Two Party Songs
        <ul>
        <li>Daydream Anatomy - Dynamism (85 bpm) [Lv. 2]</li>
        <li>The Spin Wires - Girls Like You Instrumental (155 bpm) [Lv. 4]</li>
        <li>The Spin Wires - Dance or Die Instrumental (125 bpm) [Lv. 3]</li>
        </ul></li>
    <li>106 New Fashion Mall Items
        <ul>
        <li>67 new women's items including 3 faces, 18 hairs, 12 tops, 12 bottoms, 17 shoes, and 5 sets.</li>
        <li>39 new men's items including 3 faces, 9 hairs, 9 tops, 9 bottoms, and 9 shoes.</li>
        </ul></li>
     <li>5 New Couple Garden Market Items
        <ul>
        <li>2 new seeds.</li>
        <li>2 new accessories.</li>
        <li>1 new item.</li>
        </ul></li>
     <li>X-Trap Update</li>
</ol>