<b>Version:</b> 10201<br>
<ol>
    <li>Year End Sale
        <ul>
        <li>Sales are as follows:
            <ul>
                <li>Most hairs, faces, and shoes are 10% off</li>
                <li>Most DJ booths and guitars are 20% off</li>
                <li>Most tops, bottoms, and accessories are 30% off</li>
                <li>Most sets and pets are 50% off</li>
            </ul></li>
        <li>Items on sale are marked with an orange label, and their prices are orange.<br /><img src="{{ GLOBAL.staticUrl }}/img/patchinfo/examplesale.png" /></li>
        <li>Includes items in the Fashion Mall, as well as the Couple Shop.</li>
        <li>Sales end on January 7.</li>
        </ul></li>
    <li>320 new items now have the indefinite purchase option
        <ul>
            <li>New indefinite items: <a href="https://docs.google.com/spreadsheet/ccc?key=0AhH9OMTrnhzrdGZNWTdtUl85cGtVSGQwczJZRDIzRXc#gid=0" target="_blank">https://docs.google.com/spreadsheet/ccc?key=0AhH9OMTrnhzrdGZNWTdtUl85cGtVSGQwczJZRDIzRXc#gid=0</a></li>
            <li>All indefinite items: <a href="http://pastebin.com/XuibfR3c" target="_blank">http://pastebin.com/XuibfR3c</a></li>
        </ul></li>
     <li>X-Trap Update</li>
</ol>