<b>Version:</b> 10200<br>
<ol>
    <li>Audition Gift Box
        <ul>
        <li>The Gift Box is a new spin on the Happy Box, where you can bet Beats to win prizes.</li>
        <li>First, purchase some gift boxes from the Fashion Mall.
            <ul>
                <li>Perna's gift boxes costs 1,000 Beats each.</li>
                <li>Diego's gift boxes costs 5,000 Beats each.</li>
                <li>The Crazy Queen's gift boxes costs 10,000 Beats each.</li>
            </ul></li>
        <li>Click the Gift Box button from the lobby or in a room to open the boxes you purchased.</li>
        <li>You will either win a prize or a Bonus Gift Box.</li>
        <li>Once you reach 100 Bonus Gift Boxes, you can exchange them for a chance to win a prize.</li>
        <li>Any Happy Box tickets you had have been converted to Bonus Gift Boxes.</li>
        </ul></li>
    <li>Audition Town Christmas Theme
        <ul>
        <li>Audition Town has been decorated for Christmas!<br /><img src="{{ GLOBAL.staticUrl }}/img/patchinfo/xmas.png" /></li>
        </ul></li>
    <li>Event Server
        <ul>
        <li>The Event Server is open!</li>
        <li>Players level 21 and over will receive 50% more EXP and Beats while playing in the Event Server.</li>
        <li>The Event Server will disappear on January 7, 2014.</li>
        </ul></li>
    <li>New Song
        <ul>
        <li>Kiwychee - Joy to the Audition World (118 bpm)</li>
        </ul></li>
    <li>New Night Dance Song
        <ul>
        <li>Kiwychee - Joy to the Audition World (118 bpm)</li>
        </ul></li>
    <li>New Beat Up Song
        <ul>
        <li>Kiwychee - Joy to the Audition World (118 bpm) [Lv. 1]</li>
        </ul></li>
    <li>New One Two Party
        <ul>
        <li>Kiwychee - Joy to the Audition World (118 bpm) [Lv. 2]</li>
        </ul></li>
     <li>New Guitar Song
        <ul>
        <li>12Moments - Goodbye (157 bpm) [Easy, Normal, Hard, Crazy]</li>
        </ul></li>
    <li>113 New Fashion Mall Items
        <ul>
        <li>68 new women's items including 3 faces, 17 hairs, 12 tops, 12 bottoms, 17 shoes, and 7 sets.</li>
        <li>37 new men's items including 3 faces, 7 hairs, 7 tops, 9 bottoms, 9 shoes, and 2 sets.</li>
        <li>3 new item.</li>
        <li>1 new DJ booth.</li>
        <li>4 new accessories.</li>
        </ul></li>
     <li>X-Trap Update</li>
</ol>