<b>Version:</b> 10148<br>
<ol>
<li>58 New Mall Items</li>
    <ul>
    <li>42 new women's items including 1 face, 10 hairs, 8 tops, 9 bottoms, 11 shoes, and 3 sets.</li>
    <li>14 new men's items including 1 face, 1 hair, 1 top, 4 bottoms, 4 shoes, and 3 sets.</li>
    <li>2 new motions.</li>
    </ul>
</ol>