<b>Version:</b> 10172<br>
<b>Manual Patch:</b> <a href="http://www.mediafire.com/download/4b7au1342tck62a/AUDITION10172.exe" target="_blank">http://www.mediafire.com/download/4b7au1342tck62a/AUDITION10172.exe</a>
<ol>
    <li>500 new items have the indefinite purchase option.</li>
    <li>107 New Mall Items</li>
    <ul>
        <li>63 new women's items including 3 faces, 17 hairs, 9 tops, 9 bottoms, 17 shoes, and 8 sets.</li>
        <li>43 new men's items including 3 faces, 10 hairs, 9 tops, 9 bottoms, 9 shoes, and 3 sets.</li>
        <li>1 new accessory.</li>
    </ul>
</ol>