<b>Version:</b> 10156<br>
<ol>
<li>109 New Mall Items</li>
    <ul>
    <li>63 new women's items including 3 faces, 15 hairs, 10 tops, 11 bottoms, 16 shoes, and 7 sets.</li>
    <li>43 new men's items including 3 faces, 9 hairs, 9 tops, 10 bottoms, 10 shoes, and 1 set.</li>
    </ul>
</ol>