<b>Version:</b> 10151/10152<br>
<ol>
<li>109 New Mall Items</li>
    <ul>
    <li>62 new women's items including 3 faces, 16 hairs, 12 tops, 12 bottoms, 15 shoes, and 4 sets.</li>
    <li>44 new men's items including 3 faces, 10 hairs, 10 tops, 10 bottoms, and 11 shoes.</li>
    <li>3 new motions.</li>
    <li>1 new beats item added (men's shoes).</li>
    </ul>
</ol>