<b>Version:</b> 10180/10181<br>
<ol>
    <li>106 New Mall Items</li>
        <ul>
        <li>68 new women's items including 3 faces, 17 hairs, 12 tops, 13 bottoms, 17 shoes, and 6 sets.</li>
        <li>38 new men's items including 3 faces, 9 hairs, 8 tops, 8 bottoms, 9 shoes, and 1 set.</li>
        </ul>
    <li>6 New Couple Shop Items</li>
        <ul>
            <li>3 women's items including 1 bottom, 1 shoes, and 1 set.</li>
            <li>3 men's items including 1 bottom, 1 shoes, and 1 set.</li>
        </ul>
</ol>