<b>Version:</b> 10189<br>
<ol>
    <li>58 New Mall Items</li>
        <ul>
        <li>37 new women's items including 10 hairs, 8 tops, 8 bottoms, 10 shoes, and 1 set.</li>
        <li>21 new men's items including 3 faces, 5 hairs, 5 tops, 4 bottoms, and 4 shoes.</li>
        </ul>
</ol>