<b>Version:</b> 10164<br>
<ol>
<li>114 New Mall Items</li>
    <ul>
    <li>70 new women's items including 3 faces, 17 hairs, 14 tops, 14 bottoms, 18 shoes, and 4 sets.</li>
    <li>36 new men's items including 3 faces, 9 hairs, 8 tops, 8 bottoms, and 8 shoes.</li>
    <li>2 new pets.</li>
    <li>1 new DJ booth.</li>
    <li>4 new accessories.</li>
    <li>1 new guitar.</li>
    </ul>
<li>4 New Couple Shop Items</li>
    <ul>
    <li>2 new rings.</li>
    <li>2 new couple licenses.</li>
    </ul>
</ol>