<ol><li>Audition Town Christmas Theme</li>
<li>The event server has been enabled.<ul><li>Players level 21 and over will receive 50% more EXP.</li>
</ul></li>
<li>4 New Night Dance Songs<ul><li>MJ&amp;iRoK - Point of No Return (140 bpm)</li>
<li>MJ&amp;iRoK - Rock This Place (128 bpm)</li>
<li>MJ&amp;iRoK - Mega Mix 2 (128 bpm)</li>
<li>MJ&amp;iRoK - Turn It Up (130 bpm)</li>
</ul></li>
<li>7 New Rhythmholic Songs<ul><li>MJ&amp;iRoK - Point of No Return (140 bpm)</li>
<li>MJ&amp;iRoK - Rock This Place (128 bpm)</li>
<li>MJ&amp;iRoK - Mega Mix (128 bpm)</li>
<li>MJ&amp;iRoK - Mega Mix 2 (128 bpm)</li>
<li>MJ&amp;iRoK - Everybody Dance (128 bpm)</li>
<li>MJ&amp;iRoK - Turn It Up (130 bpm)</li>
<li>Spoony - Shake It (128 bpm)</li>
</ul></li>
<li>7 New Block Beat Songs<ul><li>MJ&amp;iRoK - Point of No Return (140 bpm) [Lv. 3]</li>
<li>MJ&amp;iRoK - Rock This Place (128 bpm) [Lv. 2]</li>
<li>MJ&amp;iRoK - Mega Mix (128 bpm) [Lv. 2]</li>
<li>MJ&amp;iRoK - Mega Mix 2 (128 bpm) [Lv. 2]</li>
<li>MJ&amp;iRoK - Everybody Dance (128 bpm) [Lv. 2]</li>
<li>MJ&amp;iRoK - Turn It Up (130 bpm) [Lv. 2]</li>
<li>Spoony - Shake It (128 bpm) [Lv. 2]</li>
</ul></li>
<li>13 New Ballroom Songs<ul><li>Marc Anthony - I Need To Know - Salsa (115 bpm)</li>
<li>Marc Anthony - She's Been Good To Me - Salsa (90 bpm)</li>
<li>Gloria Estefan - Conga - Salsa (123 bpm)</li>
<li>Gloria Estefan - Get On Your Feet - Paso Doble (124 bpm)</li>
<li>Gipsy Kings - Volare - Jive (116 bpm)</li>
<li>Santana - Smooth - Rumba (116 bpm)</li>
<li>Santana - The Game Of Love - Cha cha cha (120 bpm)</li>
<li>Shakira - Un Poco de Amor - Cha cha cha (101 bpm)</li>
<li>Lou Bega - mambo.no5 - Jive (174 bpm)</li>
<li>Jennifer Lopez - Let's Get Loud - Salsa (131 bpm)</li>
<li>Jennifer Lopez - Dame Touch Me - Salsa (150 bpm)</li>
<li>Jennifer Lopez - Si Ya Se Acabo - Salsa (103 bpm)</li>
<li>Shakira - Hey You - Salsa (128 bpm)</li>
</ul></li>
<li>120 New Fashion Mall Items<ul><li>Holiday-themed items.</li>
<li>69 new women's items including 19 hairs, 15 tops, 15 bottoms, 17 shoes, and 3 sets.</li>
<li>49 new men's items including 14 hairs, 10 tops, 10 bottoms, 12 shoes, and 3 sets.</li>
<li>2 new accessories.</li>
</ul></li>
<li>Bug Fixes<ul><li>X-Trap error for KERNEL32.dll on Windows 8.0 should now be fixed.</li>
</ul></li>
</ol>