<ol>
	<li>6 New Songs<ul>
		<li>Block B - Nillili Mambo (110 bpm)</li>
                <li>Deorro - If Only (128 bpm)</li>
		<li>Deorro - Rambo (128 bpm)</li>
                <li>Diplo - Drunk N Luv (140 bpm)</li>
                <li>Flosstradamus - Mosh Pit ft. Casino (140 bpm)</li>
                <li>James Egbert - Latch (140 bpm)</li>
	</ul></li>
	<li>6 New Night Dance Songs<ul>
		<li>Block B - Nillili Mambo (110 bpm)</li>
                <li>Deorro - If Only (128 bpm)</li>
		<li>Deorro - Rambo (128 bpm)</li>
                <li>Diplo - Drunk N Luv (140 bpm)</li>
                <li>Flosstradamus - Mosh Pit ft. Casino (140 bpm)</li>
                <li>James Egbert - Latch (140 bpm)</li>
	</ul></li>
	<li>6 New Beat Up Songs<ul>
		<li>Block B - Nillili Mambo (110 bpm) [Lv. 2]</li>
                <li>Deorro - If Only (128 bpm) [Lv. 2]</li>
		<li>Deorro - Rambo (128 bpm) [Lv. 2]</li>
                <li>Diplo - Drunk N Luv (140 bpm) [Lv. 2]</li>
                <li>Flosstradamus - Mosh Pit ft. Casino (140 bpm) [Lv. 3]</li>
                <li>James Egbert - Latch (140 bpm) [Lv. 2]</li>
	</ul></li>
	<li>6 New One Two Party Songs<ul>
		<li>Block B - Nillili Mambo (110 bpm) [Lv. 3]</li>
                <li>Deorro - If Only (128 bpm) [Lv. 3]</li>
		<li>Deorro - Rambo (128 bpm) [Lv. 3]</li>
                <li>Diplo - Drunk N Luv (140 bpm) [Lv. 4]</li>
                <li>Flosstradamus - Mosh Pit ft. Casino (140 bpm) [Lv. 4]</li>
                <li>James Egbert - Latch (140 bpm) [Lv. 4]</li>
	</ul></li>
	<li>1 Song Re-Added<ul>
		<li>Mr. Ozwald - Synthesize (125 bpm)</li>
	</ul></li>
	<li>113 New Fashion Mall Items<ul>
                <li>71 new women's items including 3 faces, 17 hairs, 15 tops, 15 bottoms, 18 shoes, and 3 sets.</li>
		<li>42 new men's items including 3 faces, 10 hairs, 9 tops, 9 bottoms, 10 shoes, and 1 set.</li>
	</ul></li>
	<li>Bug Fixes<ul>
		<li>Sanctuary in Block Beat now has more than just spacebar notes.</li>
		<li>Rescue's artist has been corrected as Yuna instead of Flux.</li>
	</ul></li>
</ol>