<ol>
            <li>Home Premium Mark<ul>
                    <li>Purchasable from the Items tab of the mall for 30 days.</li>
                    <li>Gives x2 EXP and x1.5 Beats in every game as well as bonus couple points when harvesting flowers from Couple Garden.</li>
            </ul></li>
            <li>688 new items now have the indefinite purchase option.<ul>
                <li>New indefinite items are marked in the mall as "New!!"</li>
                <li>List of items: <a href="http://pastebin.com/ZeGzCKGD" target="_blank">http://pastebin.com/ZeGzCKGD</a></li>
            </ul></li>
	<li>6 New Songs<ul>
                <li>James Egbert - Naughty Boy (128 bpm)</li>
                <li>Jessie Ware - Running (125 bpm)</li>
                <li>Landis - Hypnotica (Original Mix) (130 bpm)</li>
                <li>Tove Lo - Habits (128 bpm)</li>
                <li>Tropkillaz - MAMBO (148 bpm)</li>
                <li>Tropkillaz - Two Drags (92 bpm)</li>
	</ul></li>
	<li>6 New Beat Up Songs<ul>
		<li>James Egbert - Naughty Boy (128 bpm) [Lv. 2]</li>
                <li>Jessie Ware - Running (125 bpm) [Lv. 2]</li>
                <li>Landis - Hypnotica (Original Mix) (130 bpm) [Lv. 3]</li>
                <li>Tove Lo - Habits (128 bpm) [Lv. 2]</li>
                <li>Tropkillaz - MAMBO (148 bpm) [Lv. 3]</li>
                <li>Tropkillaz - Two Drags (92 bpm) [Lv. 1]</li>
	</ul></li>
	<li>6 New One Two Party Songs<ul>
		<li>James Egbert - Naughty Boy (128 bpm) [Lv. 3]</li>
                <li>Jessie Ware - Running (125 bpm) [Lv. 3]</li>
                <li>Landis - Hypnotica (Original Mix) (130 bpm) [Lv. 4]</li>
                <li>Tove Lo - Habits (128 bpm) [Lv. 3]</li>
                <li>Tropkillaz - MAMBO (148 bpm) [Lv. 4]</li>
                <li>Tropkillaz - Two Drags (92 bpm) [Lv. 2]</li>
	</ul></li>
	<li>111 New Fashion Mall Items<ul>
                <li>63 new women's items including 17 hairs, 12 tops, 12 bottoms, 17 shoes, and 5 sets.</li>
		<li>42 new men's items including 11 hairs, 9 tops, 9 bottoms, 11 shoes, and 2 sets.</li>
                <li>1 new DJ booth.</li>
                <li>1 new platform.</li>
                <li>2 new accessories.</li>
                <li>1 new guitar.</li>
                <li>1 new item.</li>
	</ul></li>
        <li>14 New Couple Shop Items<ul>
            <li>4 new women's items including 1 hair, 1 top, 1 bottom, and 1 shoes.</li>
            <li>4 new men's items including 1 hair, 1 top, 1 bottom, and 1 shoes.</li>
            <li>2 new rings.</li>
            <li>2 new licenses.</li>
            <li>2 new accessories.</li>
        </ul></li>
</ol>