<b>Version:</b> 10230<br>
<ol>
	<li>Time Box<ul>
		<li>Earn rewards the longer you play.</li>
		<li>The Time Box starts at Lv. 0 and levels up after a certain amount of time.  The time between levels increases as the level increases.</li>
		<li>Starting at Lv. 1, you can claim your reward by clicking the star button next to the meter.  The prizes get better the longer you wait.</li>
		<li>The Time Box resets to Lv. 0 if you log out for more than ten minutes.</li>
		<li>Prizes:<ul>
			<li>Lv. 1 (20 minutes total)<ul>
				<li>60% Chance: Perna's Giftbox (1)</li>
				<li>30% Chance: Diego's Giftbox (1)</li>
				<li>10% Chance: Bonus Giftbox (5)</li>
			</ul></li>
			<li>Lv. 2 (40 minutes total)<ul>
				<li>60% Chance: Diego's Giftbox (2)</li>
				<li>30% Chance: Perna's Giftbox (5)</li>
				<li>10% Chance: Bonus Giftbox (20)</li>
			</ul></li>
			<li>Lv. 3 (1 hour total)<ul>
				<li>60% Chance: Diego's Giftbox (5)</li>
				<li>30% Chance: Bottom 100 Cash Discount Coupon</li>
				<li>10% Chance: Perna's Giftbox (10)</li>
			</ul></li>
			<li>Lv. 4 (1 hour and 30 minutes total)<ul>
				<li>60% Chance: Crazy Queen's Giftbox (5)</li>
				<li>30% Chance: Top 100 Cash Discount Coupon</li>
				<li>10% Chance: Diego's Giftbox (10)</li>
			</ul></li>
			<li>Lv. 5 (2 hours total)<ul>
				<li>60% Chance: Hair 100 Cash Discount Coupon</li>
				<li>30% Chance: Shoes 100 Cash Discount Coupon</li>
				<li>10% Chance: Crazy Queen's Giftbox (10)</li>
			</ul></li>
			<li>Lv. 6 (2 hours and 30 minutes total)<ul>
				<li>60% Chance: Hair 100 Cash Discount Coupon</li>
				<li>30% Chance: Top 100 Cash Discount Coupon</li>
				<li>10% Chance: Bottom 100 Cash Discount Coupon</li>
			</ul></li>
			<li>Lv. 7 (3 hours total)<ul>
				<li>60% Chance: Top 200 Cash Discount Coupon</li>
				<li>30% Chance: Shoes 200 Cash Discount Coupon</li>
				<li>10% Chance: Set 200 Cash Discount Coupon</li>
			</ul></li>
			<li>Lv. 8 (3 hours and 40 minutes total)<ul>
				<li>60% Chance: Hair 200 Cash Discount Coupon</li>
				<li>30% Chance: Bottom 200 Cash Discount Coupon</li>
				<li>10% Chance: Shoes 300 Cash Discount Coupon</li>
			</ul></li>
			<li>Lv. 9 (4 hours and 20 minutes total)<ul>
				<li>60% Chance: Top 300 Cash Discount Coupon</li>
				<li>30% Chance: Shoes 300 Cash Discount Coupon</li>
				<li>10% Chance: Set 300 Cash Discount Coupon</li>
			</ul></li>
			<li>Lv. 10 (5 hours total)<ul>
				<li>60% Chance: Top 300 Cash Discount Coupon</li>
				<li>30% Chance: Bottom 300 Cash Discount Coupon</li>
				<li>10% Chance: Shoes 300 Cash Discount Coupon</li>
			</ul></li>
			<li>Lv. 11 (6 hours total)<ul>
				<li>60% Chance: Hair 300 Cash Discount Coupon</li>
				<li>30% Chance: Top 300 Cash Discount Coupon</li>
				<li>10% Chance: Bottom 300 Cash Discount Coupon</li>
			</ul></li>
			<li>Lv. 12 (7 hours total)<ul>
				<li>70% Chance: 10% Time Box Discount Coupon</li>
				<li>30% Chance: 20% Time Box Discount Coupon</li>
			</ul></li>
			<li>Lv. 13 (8 hours total)<ul>
				<li>20% Time Box Discount Coupon</li>
			</ul></li>
			<li>Discount Coupons expire on the Wednesday after they are earned.
			<li>The discount coupons that take a specific amount of cash off can only be used on items that have an original cost of at least 1,000 Bana Cash.</li>
			<li>Time Box Discount Coupons can be used on any face, hair, top, bottom, shoes, or set item.</li>
		</ul></li>
	</ul></li>
	<li>2 New Songs<ul>
		<li>Coyote Kisses - Six Shooter (81 bpm)</li>
		<li>Mollie Jayne - Even If You Scream (115 bpm)</li>
	</ul></li>
	<li>2 New Night Dance Songs<ul>
		<li>Coyote Kisses - Six Shooter (81 bpm)</li>
		<li>Mollie Jayne - Even If You Scream (115 bpm)</li>
	</ul></li>
	<li>2 New Beat Up Songs<ul>
		<li>Coyote Kisses - Six Shooter (81 bpm) [Lv. 1]</li>
		<li>Mollie Jayne - Even If You Scream (115 bpm) [Lv. 2]</li>
	</ul></li>
	<li>2 New One Two Party Songs<ul>
		<li>Coyote Kisses - Six Shooter (81 bpm) [Lv. 2]</li>
		<li>Mollie Jayne - Even If You Scream (115 bpm) [Lv. 3]</li>
	</ul></li>
	<li>2 New Rhythmholic Songs<ul>
		<li>Coyote Kisses - Six Shooter (81 bpm)</li>
		<li>Mollie Jayne - Even If You Scream (115 bpm)</li>
	</ul></li>
	<li>2 New Space Pang Pang Songs<ul>
		<li>Coyote Kisses - Six Shooter (81 bpm)</li>
		<li>Mollie Jayne - Even If You Scream (115 bpm)</li>
	</ul></li>
	<li>2 New Block Beat Songs<ul>
		<li>Coyote Kisses - Six Shooter (81 bpm) [Lv. 1]</li>
		<li>Mollie Jayne - Even If You Scream (115 bpm) [Lv. 2]</li>
	</ul></li>
	<li>121 New Fashion Mall Items<ul>
		<li>64 new women's items including 4 faces, 15 hairs, 9 tops, 11 bottoms, 17 shoes, and 8 sets.</li>
		<li>52 new men's items including 4 faces, 11 hairs, 12 tops, 10 bottoms, 12 shoes, and 3 sets.</li>
		<li>1 new DJ booth.</li>
		<li>1 new platform.</li>
		<li>2 new accessories.</li>
		<li>1 new guitar.</li>
	</ul></li>
	<li>14 New Couple Shop Items<ul>
		<li>4 new women's items including 1 hair, 1 top, 1 bottom, and 1 shoes.</li>
		<li>4 new men's items including 1 hair, 1 top, 1 bottom, and 1 shoes.</li>
		<li>4 new accessories.</li>
		<li>2 new rings.</li>
	</ul></li>
</ol>