<b>Version:</b> 10241<br />
<ol>
    <li>Fashion Mall Gifting<ul>
            <li>Gifting has been enabled.<ul>
                <li>To send an item to someone, click the gift button.  To request an item from someone, click the request button.</li>
                <li>Next, enter the in-game name of the person who will receive your gift/request. You can also click the Friends button to bring up a list of your Messenger friends.</li>
                <li>Then, under their name, you can enter a custom message to go with your gift/request.</li>
                <li>Finally, click OK to finish and send.</li>
            </ul></li>
            <li>You can view all of your received and sent gifts and requests in your Gift Box.</li>
    </ul></li>
    <li>6 New Songs<ul>
                <li>Azealia Banks - 212 (126 bpm)</li>
                <li>Schoolboy Q - Sacrilegious (134 bpm)</li>
                <li>Quad City DJs - Space Jam (132 bpm)</li>
                <li>Zeds Dead - Hadouken (145 bpm)</li>
                <li>Marilyn Manson - Tainted Love (142 bpm)</li>
                <li>Yung Lean - Kyoto (117 bpm)</li>
	</ul></li>
        <li>6 New Beat Up Songs<ul>
                <li>Azealia Banks - 212 (126 bpm) [Lv. 2]</li>
                <li>Schoolboy Q - Sacrilegious (134 bpm) [Lv. 3]</li>
                <li>Quad City DJs - Space Jam (132 bpm) [Lv. 3]</li>
                <li>Zeds Dead - Hadouken (145 bpm) [Lv.3 ]</li>
                <li>Marilyn Manson - Tainted Love (142 bpm) [Lv. 3]</li>
                <li>Yung Lean - Kyoto (117 bpm) [Lv. 2]</li>
	</ul></li>
        <li>6 New One Two Party Songs<ul>
                <li>Azealia Banks - 212 (126 bpm) [Lv. 3]</li>
                <li>Schoolboy Q - Sacrilegious (134 bpm) [Lv. 4]</li>
                <li>Quad City DJs - Space Jam (132 bpm) [Lv. 4]</li>
                <li>Zeds Dead - Hadouken (145 bpm) [Lv. 4]</li>
                <li>Marilyn Manson - Tainted Love (142 bpm) [Lv. 4]</li>
                <li>Yung Lean - Kyoto (117 bpm) [Lv. 3]</li>
	</ul></li>
        <li>99 New Fashion Mall Items<ul>
                <li>65 new women's items including 16 hairs, 14 tops, 15 bottoms, 17 shoes, and 3 sets.</li>
		<li>34 new men's items including 9 hairs, 8 tops, 8 bottoms, 8 shoes, and 1 set.</li>
	</ul></li>
        <li>Bug Fixes<ul>
                <li>X-Trap will no longer close the game because of KERNEL32.dll on Windows 8.</li>
	</ul></li>
</ol>