<b>Version:</b> 10242<br />
<ol>
    <li>11 New Beat Up Songs<ul>
            <li>Audition - Like a Loser (150 bpm) [Lv. 3]</li>
            <li>Audition - It's Alright (120 bpm) [Lv. 3]</li>
            <li>Audition - Come on! (150 bpm) [Lv. 3]</li>
            <li>Audition - Again (130 bpm) [Lv. 2]</li>
            <li>Audition - Under the Sun (128 bpm) [Lv. 3]</li>
            <li>Audition - Left Right (128 bpm) [Lv. 2]</li>
            <li>Audition - Just One (126 bpm) [Lv. 3]</li>
            <li>Audition - How to Say (130 bpm) [Lv. 2]</li>
            <li>Audition - Holiday (110 bpm) [Lv. 1]</li>
            <li>Audition - Disco World (Easy) (124 bpm) [Lv. 2]</li>
            <li>Audition - Disco World (Hard) (124 bpm) [Lv. 3]</li>
        </ul></li>
</ol>