<ol>
    <li>8 New One Two Party Songs<ul>
            <li>BLVCK - Shangri-La (140 bpm) [Lv. 4]</li>
<li>Crystal Castles - Not In Love ft. Robert Smith (136 bpm) [Lv. 4]</li>
<li>Diplo - Techno (150 bpm) [Lv. 4]</li>
<li>Kleerup - Until We Bleed (Patrick Reza Dubstep Remix) (140 bpm) [Lv. 4]</li>
<li>Marina and the Diamonds - How To Be a Heartbreaker (140 bpm) [Lv. 4]</li>
<li>Zeds Dead - Coffee Break (152 bpm) [Lv. 4]</li>
<li>99 Percent - iTwerk (She Twerk) (105 bpm) [Lv. 3]</li>
<li>David Aude - Partition (100 bpm) [Lv. 3]</li>
        </ul></li>
</ol>