<ol>
    <li>9 New Songs<ul><li>Borgore - Nana (120 bpm)</li>
<li>Diplo - You Make Me (144 bpm)</li>
<li>Gorillaz - Feel Good Inc (139 bpm)</li>
<li>Kat Dahlia - Gangsta (150 bpm)</li>
<li>The Chainsmokers - Thunderclap (128 bpm)</li>
<li>The Chainsmokers - Wonder (127 bpm)</li>
<li>The Weeknd - Professional (120 bpm)</li>
<li>Yung Lean - Yoshi City (128 bpm)</li>
<li>Zomboy - Bad Intentions (128 bpm)</li>
</ul></li>
<li>9 New Beat Up Songs<ul><li>Borgore - Nana (120 bpm) [Lv. 1]</li>
<li>Diplo - You Make Me (144 bpm) [Lv. 3]</li>
<li>Gorillaz - Feel Good Inc (139 bpm) [Lv. 3]</li>
<li>Kat Dahlia - Gangsta (150 bpm) [Lv. 3]</li>
<li>The Chainsmokers - Thunderclap (128 bpm) [Lv. 2]</li>
<li>The Chainsmokers - Wonder (127 bpm) [Lv. 2]</li>
<li>The Weeknd - Professional (120 bpm) [Lv. 1]</li>
<li>Yung Lean - Yoshi City (128 bpm) [Lv. 2]</li>
<li>Zomboy - Bad Intentions (128 bpm) [Lv. 2]</li>
</ul></li>
<li>9 New One Two Party Songs<ul><li>Borgore - Nana (120 bpm) [Lv. 2]</li>
<li>Diplo - You Make Me (144 bpm) [Lv. 4]</li>
<li>Gorillaz - Feel Good Inc (139 bpm) [Lv. 4]</li>
<li>Kat Dahlia - Gangsta (150 bpm) [Lv. 4]</li>
<li>The Chainsmokers - Thunderclap (128 bpm) [Lv. 3]</li>
<li>The Chainsmokers - Wonder (127 bpm) [Lv. 3]</li>
<li>The Weeknd - Professional (120 bpm) [Lv. 2]</li>
<li>Yung Lean - Yoshi City (128 bpm) [Lv. 3]</li>
<li>Zomboy - Bad Intentions (128 bpm) [Lv. 3]</li>
</ul></li>
<li>63 New Fashion Mall Items<ul><li>39 new women's items including 10 hairs, 9 tops, 9 bottoms, 10 shoes, and 1 set.</li>
<li>20 new men's items including 5 hairs, 5 tops, 5 bottoms, and 5 shoes.</li>
<li>1 new guitar</li>
<li>1 new DJ booth</li>
<li>1 new accessory</li>
<li>1 new pet</li>
</ul></li>
<li>16 New Couple Shop Items<ul><li>4 new women's items including 1 hair, 1 top, 1 bottom, and 1 shoes.</li>
<li>4 new men's items including 1 hair, 1 top, 1 bottom, and 1 shoes.</li>
<li>2 new rings</li>
<li>2 new licenses</li>
<li>2 new accessories</li>
<li>2 new pets</li>
</ul></li>
<li>Bug Fixes<ul><li>FAM Season rewards are now indefinite.</li>
</ul></li>
</ol>