<b>Version:</b> 10244-10245<br />
<ol>
    <li>Story Mode: Secret Episode<ul>
            <li>30 new stories have been added in Story Mode's new Secret Episode.</li>
            <li>You do not have to complete Episode 1 or 2 to do stories in the Secret Episode.</li>
            <li>List of requirements:<ul>
                    <li>1 - Get a chain of at least Perfect x3 and at least 350,000 points in Choreography - C - 4 Keys with the song I Will Be Very Good To You (140 bpm) with NPCs.</li>
                    <li>2 - Get 1st place in Choreography - 8 Keys with the song Don't Need to Say a Thing (120 bpm) with NPCs.</li>
                    <li>3 - Get 1st place in Choreography - 4 Keys with the song Party Party (130 bpm) with NPCs.</li>
                    <li>4 - Get 1st place in Choreography - Expert with NPCs.</li>
                    <li>5 - Get at least 200,000 points in Choreography - 4 Keys in a room with at least 5 players.</li>
                    <li>6 - Win as a team in Team Choreography - 8 Keys with NPCs.</li>
                    <li>7 - Get 1st place in Choreography - C - 8 Keys with NPCs.</li>
                    <li>8 - Get 1st place in Choreography - 8 Keys with the song How to Say (130 bpm) with NPCs.</li>
                    <li>9 - Get no misses in Choreography - 4 Keys with NPCs.</li>
                    <li>10 - Win as a team in Team Choreography - 8 Keys with NPCs.</li>
                    <li>11 - Get a combo of at least 100 three times in Beat Up - 6 Keys in a room with at least 4 players.</li>
                    <li>12 - Get 1st place in Choreography - Expert with NPCs.</li>
                    <li>13 - Get 1st place in Choreography - C - 4 Keys with NPCs.</li>
                    <li>14 - Get 1st place in Choreography - C - 8 Keys with NPCs.</li>
                    <li>15 - Get 1st place in Choreography - C - 8 Keys with NPCs.</li>
                    <li>16 - Get no misses in Choreography - C - 4 Keys with NPCs.</li>
                    <li>17 - Get no bads and no misses in Choreography - C - 4 Keys with NPCs.</li>
                    <li>18 - Get 1st place in Choreography - 8 Keys with NPCs.</li>
                    <li>19 - Get a chain of at least Perfect x4 in Choreography - C - 8 Keys with NPCs.</li>
                    <li>20 - Get at least 15 perfects in Choreography - C - 8 Keys with NPCs.</li>
                    <li>21 - Win as a team in Team Choreography - C - 4 Keys with NPCs.</li>
                    <li>22 - Play a Choreography - C - 8 Keys game in a room with at least 5 players.</li>
                    <li>23 - Get a chain of at least Perfect x3 in Choreography - 4 Keys with NPCs.</li>
                    <li>24 - Get 1st place in Choreography - 8 Keys with NPCs.</li>
                    <li>25 - Get a chain of at least Perfect x3 in Choreography - 4 Keys with NPCs.</li>
                    <li>26 - Get 1st place in Choreography - 8 Keys with NPCs.</li>
                    <li>27 - Get 1st place in Choreography - 4 Keys with NPCs.</li>
                    <li>28 - Get 1st place in Choreography - C - 4 Keys with NPCs.</li>
                    <li>29 - Get 1st place in Choreography - C - 4 Keys with NPCs.</li>
                    <li>30 - Get a chain of at least Perfect x5, no bads, and no misses in Choreography - 4 Keys with NPCs.</li>
                </ul></li>
        </ul></li>
    <li>8 New Songs<ul>
            <li>BLVCK - Shangri-La (140 bpm)</li>
            <li>Crystal Castles - Not In Love ft. Robert Smith (136 bpm)</li>
            <li>Diplo - Techno (150 bpm)</li>
            <li>Kleerup - Until We Bleed (Patrick Reza Dubstep Remix) (140 bpm)</li>
            <li>Marina and the Diamonds - How To Be a Heartbreaker (140 bpm)</li>
            <li>Zeds Dead - Coffee Break (152 bpm)</li>
            <li>99 Percent - iTwerk (She Twerk) (105 bpm)</li>
            <li>David Aude - Partition (100 bpm)</li>
        </ul></li>
    <li>8 New Beat Up Songs<ul>
            <li>BLVCK - Shangri-La (140 bpm) [Lv. 3]</li>
            <li>Crystal Castles - Not In Love ft. Robert Smith (136 bpm) [Lv. 3]</li>
            <li>Diplo - Techno (150 bpm) [Lv. 3]</li>
            <li>Kleerup - Until We Bleed (Patrick Reza Dubstep Remix) (140 bpm) [Lv. 3]</li>
            <li>Marina and the Diamonds - How To Be a Heartbreaker (140 bpm) [Lv. 3]</li>
            <li>Zeds Dead - Coffee Break (152 bpm) [Lv. 3]</li>
            <li>99 Percent - iTwerk (She Twerk) (105 bpm) [Lv. 2]</li>
            <li>David Aude - Partition (100 bpm) [Lv. 2]</li>
        </ul></li>
    <li>1 New Guitar Song<ul>
            <li>Audition - Night Drive (Slow) (116 bpm) [Easy, Normal, Hard, Crazy]</li>
        </ul></li>
    <li>99 New Fashion Mall Items<ul>
            <li>66 new women's items including 15 hairs, 14 tops, 15 bottoms, 18 shoes, and 4 sets.</li>
            <li>28 new men's items including 7 hairs, 7 tops, 7 bottoms, and 7 shoes.</li>
            <li>1 new guitar.</li>
            <li>2 new hand accessories.</li>
            <li>2 new back accessory.</li>
        </ul></li>
    <li>12 New Couple Shop Items<ul>
            <li>4 new women's items including 1 hair, 1 top, 1 bottom, and 1 shoes.</li>
            <li>4 new men's items including 1 hair, 1 top, 1 bottom, and 1 shoes.</li>
            <li>2 new hand accessories.</li>
            <li>2 new back accessories.</li>
        </ul></li>
    <li>Bug Fixes<ul>
            <li>The Little Twin Stars couple license no longer causes those who view it to disconnect.</li>
            <li>The story mode disconnection issue that started after last week's emergency maintenance was fixed.</li>
        </ul></li>
</ol>