<b>Version:</b> 10228<br>
<ol>
	<li>Wedding Tickets and Love Party Passes can now be purchased by female characters.</li>
	<li>106 New Fashion Mall Items<ul>
		<li>58 new women's items including 4 faces, 15 hairs, 15 tops, 9 bottoms, and 15 shoes.</li>
		<li>48 new men's items including 4 faces, 11 hairs, 12 tops, 10 bottoms, and 11 shoes.</li>
	</ul></li>
</ol>