<ol>
    <li>Perfect Champion Mode<ul>
            <li>Perfect Champion is a new mode available in 4 keys and 8 keys.</li>
<li>Compete in a series of rounds to get the highest chain of Perfects. Each round ends with a Finish Move.</li>
<li>The current Perfect Champion is displayed on the screen with the chain to beat. The Perfect Champion will also get a "Champion" buckle over their head.</li>
<li>At the end of the game, the player who got the highest chain will be given bonus points.</li>
        </ul></li>
        <li>Audition Town Halloween Theme</li>
        <li>5 New Songs<ul>
            <li>Borgore - Be Ourselves (128 bpm)</li>
<li>Crystal Castles - Baptism (120 bpm)</li>
<li>Diplo - Barely Standing (129 bpm)</li>
<li>Krewella - One Minute (140 bpm)</li>
<li>The Chainsmokers - Goodness Gracious (128 bpm)</li>
        </ul></li>
        <li>5 New Beat Up Songs<ul>
            <li>Borgore - Be Ourselves (128 bpm) [Lv. 2]</li>
<li>Crystal Castles - Baptism (120 bpm) [Lv. 2]</li>
<li>Diplo - Barely Standing (129 bpm) [Lv. 3]</li>
<li>Krewella - One Minute (140 bpm) [Lv. 3]</li>
<li>The Chainsmokers - Goodness Gracious (128 bpm) [Lv. 2]</li>
        </ul></li>
        <li>5 New One Two Party Songs<ul>
            <li>Borgore - Be Ourselves (128 bpm) [Lv. 3]</li>
<li>Crystal Castles - Baptism (120 bpm) [Lv. 3]</li>
<li>Diplo - Barely Standing (129 bpm) [Lv. 4]</li>
<li>Krewella - One Minute (140 bpm) [Lv. 4]</li>
<li>The Chainsmokers - Goodness Gracious (128 bpm) [Lv. 3]</li>
        </ul></li>
        <li>1 New Guitar Song
            <ul>
                <li>Audition - With You (Guitar ver.) (150 bpm) [Easy, Normal, Hard, Crazy]</li>
            </ul>
        </li>
        <li>56 New Fashion Mall Items<ul>
            <li>33 new women's items including 9 hairs, 6 tops, 6 bottoms, 9 shoes, and 3 sets.</li>
<li>19 new men's items including 5 hairs, 4 tops, 4 bottoms, 5 shoes, and 1 set.</li>
<li>4 new accessories.</li>
        </ul></li>
        <li>12 New Couple Shop Items<ul>
            <li>4 new women's items including 1 hair, 1 top, 1 bottom, and 1 shoes.</li>
<li>4 new men's items including 1 hair, 1 top, 1 bottom, and 1 shoes.</li>
<li>2 new licenses.</li>
<li>2 new accessories.</li>
        </ul></li>
</ol>