<ol>
        <li>10 New Songs<ul>
            <li>Figure - This is Halloween (87 bpm)</li>
<li>Krewella - Play Hard (128 bpm)</li>
<li>Borgore - Sail (128 bpm)</li>
<li>Borgore - Wicked Games (140 bpm)</li>
<li>The Crookers - Day n Nite (130 bpm)</li>
<li>The Weeknd - Often (134 bpm)</li>
<li>Zeds Dead - Lost You (126 bpm)</li>
<li>Steve Aoki - Cudi the Kid (144 bpm)</li>
<li>Steve Aoki - Delirious (128 bpm)</li>
<li>The Chainsmokers - #Selfie (128 bpm)</li>
        </ul></li>
        <li>10 New Beat Up Songs<ul>
            <li>Figure - This is Halloween (87 bpm) [Lv. 1]</li>
<li>Krewella - Play Hard (128 bpm) [Lv. 2]</li>
<li>Borgore - Sail (128 bpm) [Lv. 2]</li>
<li>Borgore - Wicked Games (140 bpm) [Lv. 3]</li>
<li>The Crookers - Day n Nite (130 bpm) [Lv. 3]</li>
<li>The Weeknd - Often (134 bpm) [Lv. 3]</li>
<li>Zeds Dead - Lost You (126 bpm) [Lv. 2]</li>
<li>Steve Aoki - Cudi the Kid (144 bpm) [Lv. 3]</li>
<li>Steve Aoki - Delirious (128 bpm) [Lv. 2]</li>
<li>The Chainsmokers - #Selfie (128 bpm) [Lv. 2]</li>
        </ul></li>
        <li>10 New One Two Party Songs<ul>
            <li>Figure - This is Halloween (87 bpm) [Lv. 2]</li>
<li>Krewella - Play Hard (128 bpm) [Lv. 3]</li>
<li>Borgore - Sail (128 bpm) [Lv. 3]</li>
<li>Borgore - Wicked Games (140 bpm) [Lv. 4]</li>
<li>The Crookers - Day n Nite (130 bpm) [Lv. 4]</li>
<li>The Weeknd - Often (134 bpm) [Lv. 4]</li>
<li>Zeds Dead - Lost You (126 bpm) [Lv. 3]</li>
<li>Steve Aoki - Cudi the Kid (144 bpm) [Lv. 4]</li>
<li>Steve Aoki - Delirious (128 bpm) [Lv. 3]</li>
<li>The Chainsmokers - #Selfie (128 bpm) [Lv. 3]</li>
        </ul></li>
        <li>54 New Fashion Mall Items<ul>
            <li>30 new women's items including 10 hairs, 4 tops, 4 bottoms, 8 shoes, and 4 sets.</li>
<li>24 new men's items including 6 hairs, 6 tops, 6 bottoms, and 6 shoes.</li>
        </ul></li>
        <li>413 new items now have the indefinite purchase option.<ul>
            <li>New indefs are marked as "New!!" in the mall.</li>
            <li>A list is <a href="https://docs.google.com/spreadsheets/d/1taLBQIjZ5ELG0BDrl_2eqhKGyCPGUFoHTG7cX_uApXI/edit" target="_blank">here</a>.</li>
        </ul></li>
</ol>