<ol><li>5 New Songs<ul><li>Andrew Wyatt - Push (128 bpm)</li>
<li>Azealia Banks - Chasing Time (128 bpm)</li>
<li>Azealia Banks - Ice Princess (128 bpm)</li>
<li>Childish Gambino - The Crawl (140 bpm)</li>
<li>Lana Del Rey - Diet Mountain Dew (88 bpm)</li>
</ul></li>
<li>5 New One Two Party Songs<ul><li>Andrew Wyatt - Push (128 bpm) [Lv. 3]</li>
<li>Azealia Banks - Chasing Time (128 bpm) [Lv. 3]</li>
<li>Azealia Banks - Ice Princess (128 bpm) [Lv. 3]</li>
<li>Childish Gambino - The Crawl (140 bpm) [Lv. 4]</li>
<li>Lana Del Rey - Diet Mountain Dew (88 bpm) [Lv. 2]</li>
</ul></li>
<li>5 New Beat Up Songs<ul><li>Andrew Wyatt - Push (128 bpm) [Lv. 3]</li>
<li>Azealia Banks - Chasing Time (128 bpm) [Lv. 2]</li>
<li>Azealia Banks - Ice Princess (128 bpm) [Lv. 2]</li>
<li>Childish Gambino - The Crawl (140 bpm) [Lv. 3]</li>
<li>Lana Del Rey - Diet Mountain Dew (88 bpm) [Lv. 1]</li>
</ul></li>
<li>116 New Fashion Mall Items<ul><li>71 new women's items including 19 hairs, 14 tops, 14 bottoms, 19 shoes, and 5 sets.</li>
<li>40 new men's items including 10 hairs, 10 tops, 10 bottoms, and 10 shoes.</li>
<li>1 new DJ booth.</li>
<li>3 new accessories.</li>
<li>1 new guitar.</li>
</ul></li>
</ol>