<ol>
    <li>Couple Point Battle Mode
        <ul>
            <li>Up to four rounds are played where couples face off to see who can get the most Synchro Perfects.</li>
            <li>The couple who gets the most in a round will have the number they got added to the total for the game.</li>
            <li>The number of Synchro Perfects attained in the game is recorded by a blue heart under the normal red heart.</li>
            <li>At the end of the game, all couples will receive bonus couple points equal to the number by their blue heart.</li>
            <li>The new mode is available in 4 key and 8 key.</li>
        </ul>
    </li>
    <li>Puzzle Event
        <ul>
            <li>At the end of each game, you have a chance to receive a puzzle piece.</li>
            <li>Complete your puzzle to earn a prize.</li>
            <li>You can see the progress you've made by clicking the puzzle icon in the My Info Menu from the lobby.</li>
        </ul>
    </li>
    <li>Summer Sale
        <ul>
            <li>All sets are 50% off.</li>
            <li>All pets are 40% off.</li>
            <li>All hairs, accessories, guitars, DJ booths, and platforms are 30% off.</li>
            <li>All tops and bottoms are 20% off.</li>
            <li>All faces, shoes, emoticons, and usable items are 10% off.</li>
            <li>The sale lasts until August 17.</li>
        </ul>
    </li>
    <li>3 New Songs
        <ul>
            <li>Kyven - Say Oh (126 bpm)</li>
            <li>STAMEN - Feel Love (126 bpm)</li>
            <li>STEAL THIS - you need (90 bpm)</li>
        </ul>
    </li>
    <li>3 New Night Dance Songs
        <ul>
            <li>Kyven - Say Oh (126 bpm)</li>
            <li>STAMEN - Feel Love (126 bpm)</li>
            <li>STEAL THIS - you need (90 bpm)</li>
        </ul>
    </li>
    <li>3 New Beat Up Songs
        <ul>
            <li>Kyven - Say Oh (126 bpm) [Lv. 3]</li>
            <li>STAMEN - Feel Love (126 bpm) [Lv. 3]</li>
            <li>STEAL THIS - you need (90 bpm) [Lv. 1]</li>
        </ul>
    </li>
    <li>3 New One Two Party Songs
        <ul>
            <li>Kyven - Say Oh (126 bpm) [Lv. 4]</li>
            <li>STAMEN - Feel Love (126 bpm) [Lv. 4]</li>
            <li>STEAL THIS - you need (90 bpm) [Lv. 2]</li>
        </ul>
    </li>
    <li>3 New Rhythmholic Songs
        <ul>
            <li>Kyven - Say Oh (126 bpm)</li>
            <li>STAMEN - Feel Love (126 bpm)</li>
            <li>STEAL THIS - you need (90 bpm)</li>
        </ul>
    </li>
    <li>3 New Space Pang Pang Songs
        <ul>
            <li>Kyven - Say Oh (126 bpm)</li>
            <li>STAMEN - Feel Love (126 bpm)</li>
            <li>STEAL THIS - you need (90 bpm)</li>
        </ul>
    </li>
    <li>3 New Block Beat Songs
        <ul>
            <li>Kyven - Say Oh (126 bpm) [Lv. 3]</li>
            <li>STAMEN - Feel Love (126 bpm) [Lv. 3]</li>
            <li>STEAL THIS - you need (90 bpm) [Lv. 1]</li>
        </ul>
    </li>
    <li>94 New Fashion Mall Items
        <ul>
            <li>52 new women's items including 1 face, 14 hairs, 9 tops, 9 bottoms, 14 shoes, and 5 sets.</li>
            <li>41 new men's items including 1 face, 9 hairs, 9 tops, 9 bottoms, and 9 shoes.</li>
            <li>1 new accessory.</li>
        </ul>
    </li>
    <li>2 New Couple Shop Items
        <ul>
            <li>2 new licenses.</li>
            <li>2 new accessories.</li>
        </ul>
    </li>
</ol>