<ol>
    <li>Friendship System<ul>
            <li>Earn a badge and Beats for keeping in touch with your friends.</li>
            <li>Click the new Friendship tab in the messenger to bring up a list of your friends who are currently online.</li>
            <li>Click the yellow button next one of your friend's names to send them a whisper through the Friendship system.</li>
            <li>You must wait 30 minutes before you can whisper each friend again.</li>
            <li>You will receive 3 points for sending a whisper and 1 point for receiving a whisper.</li>
            <li>Each day, you will receive a Friendship badge.  The badge's quality depends on how many points you got the day before.</li>
        </ul></li>
        <li>Floating Items<ul>
                <li>Items with this icon will make your character float when equipped:<br /><img src="http://i.imgur.com/WHjoGc9.png" /></li>
            </ul></li>
        <li>4 New Songs<ul>
                <li>WIA - Be Together in Your World (120 bpm)</li>
                <li>WIA - December (100 bpm)</li>
                <li>WIA - Feel Of The Night (126 bpm)</li>
                <li>WIA - Wedding Day (130 bpm)</li>
        </ul></li>
        <li>4 New Night Dance Songs<ul>
                <li>WIA - Be Together in Your World (120 bpm)</li>
                <li>WIA - December (100 bpm)</li>
                <li>WIA - Feel Of The Night (126 bpm)</li>
                <li>WIA - Wedding Day (130 bpm)</li>
        </ul></li>
        <li>4 New Beat Up Songs<ul>
                <li>WIA - Be Together in Your World (120 bpm) [Lv. 3]</li>
                <li>WIA - December (100 bpm) [Lv. 2]</li>
                <li>WIA - Feel Of The Night (126 bpm) [Lv. 3]</li>
                <li>WIA - Wedding Day (130 bpm) [Lv. 3]</li>
        </ul></li>
        <li>4 New One Two Party Songs<ul>
                <li>WIA - Be Together in Your World (120 bpm) [Lv. 4]</li>
                <li>WIA - December (100 bpm) [Lv. 3]</li>
                <li>WIA - Feel Of The Night (126 bpm) [Lv. 4]</li>
                <li>WIA - Wedding Day (130 bpm) [Lv. 4]</li>
        </ul></li>
        <li>4 New Rhythmholic Songs<ul>
                <li>WIA - Be Together in Your World (120 bpm)</li>
                <li>WIA - December (100 bpm)</li>
                <li>WIA - Feel Of The Night (126 bpm)</li>
                <li>WIA - Wedding Day (130 bpm)</li>
            </ul></li>
        <li>4 New Space Pang Pang Songs<ul>
                <li>WIA - Be Together in Your World (120 bpm)</li>
                <li>WIA - December (100 bpm)</li>
                <li>WIA - Feel Of The Night (126 bpm)</li>
                <li>WIA - Wedding Day (130 bpm)</li>
            </ul></li>
        <li>2 New Block Beat Songs<ul>
                <li>WIA - Be Together in Your World (120 bpm) [Lv. 3]</li>
                <li>WIA - December (100 bpm) [Lv. 2]</li>
                <li>WIA - Feel Of The Night (126 bpm) [Lv. 3]</li>
                <li>WIA - Wedding Day (130 bpm) [Lv. 3]</li>
        </ul></li>
        <li>102 New Fashion Mall Items<ul>
                <li>56 new women's items including 15 hairs, 10 tops, 10 bottoms, 16 shoes, and 5 sets.</li>
                <li>41 new men's items including 10 hairs, 10 tops, 10 bottoms, 11 shoes.</li>
                <li>4 new accessories.</li>
                <li>1 new guitar.</li>
            </ul></li>
</ol>