<ol>
    <li>New Puzzle<ul>
            <li>A new puzzle has been added.</li>
            <li>Collect puzzle pieces to earn a reward.</li>
            <li>A puzzle has 15 pieces that you can collect by playing games in any mode except Battle Party modes and Story Mode.</li>
            <li>There must be at least 3 players in the room and you must do at least 5 moves to have a chance of getting a puzzle piece.</li>
            <li>Click the Menu button in the lobby, then click the puzzle icon to see which pieces you've collected.<br>
                <img class="bbcode-attachment" src="http://i.imgur.com/Znhsp5I.png" border="0" alt=""></li>
            <li>Once you collect all 15 pieces, click the Receive Gift button.<br>
                <img class="bbcode-attachment" src="http://i.imgur.com/AyIHOH5.jpg" border="0" alt=""></li>
        </ul></li>
    <li>New Options UI<ul>
            <li>A new Options button has been added.</li>
            <li>You can adjust the volume of the game here.</li>
            <li>Additionally, a new option to turn the stage on or off has been added. When off, every stage will appear as a black map.</li>
        </ul></li>
    <li>5 New Songs<ul>
            <li>Mixmatch - Be my Love (103 bpm)</li>
            <li>Mixmatch - Move It (82 bpm)</li>
            <li>Mocozi - Rocket in the Sky (130 bpm)</li>
            <li>Mocozi - Lonely (100 bpm)</li>
            <li>Mocozi - I'm in Love (93 bpm)</li>
        </ul></li>
    <li>5 New Night Dance Songs<ul>
            <li>Mixmatch - Be my Love (103 bpm)</li>
            <li>Mixmatch - Move It (82 bpm)</li>
            <li>Mocozi - Rocket in the Sky (130 bpm)</li>
            <li>Mocozi - Lonely (100 bpm)</li>
            <li>Mocozi - I'm in Love (93 bpm)</li>
        </ul></li>
    <li>5 New Beat Up Songs<ul>
            <li>Mixmatch - Be my Love (103 bpm) [Lv. 1]</li>
            <li>Mixmatch - Move It (82 bpm) [Lv. 1]</li>
            <li>Mocozi - Rocket in the Sky (130 bpm) [Lv. 3]</li>
            <li>Mocozi - Lonely (100 bpm) [Lv. 2]</li>
            <li>Mocozi - I'm in Love (93 bpm) [Lv. 1]</li>
        </ul></li>
    <li>5 New One Two Party Songs<ul>
            <li>Mixmatch - Be my Love (103 bpm) [Lv. 3]</li>
            <li>Mixmatch - Move It (82 bpm) [Lv. 2]</li>
            <li>Mocozi - Rocket in the Sky (130 bpm) [Lv. 4]</li>
            <li>Mocozi - Lonely (100 bpm) [Lv. 3]</li>
            <li>Mocozi - I'm in Love (93 bpm) [Lv. 2]</li>
        </ul></li>
    <li>5 New Rhythmholic Songs<ul>
            <li>Mixmatch - Be my Love (103 bpm)</li>
            <li>Mixmatch - Move It (82 bpm)</li>
            <li>Mocozi - Rocket in the Sky (130 bpm)</li>
            <li>Mocozi - Lonely (100 bpm)</li>
            <li>Mocozi - I'm in Love (93 bpm)</li>
        </ul></li>
    <li>5 New Space Pang Pang Songs<ul>
            <li>Mixmatch - Be my Love (103 bpm)</li>
            <li>Mixmatch - Move It (82 bpm)</li>
            <li>Mocozi - Rocket in the Sky (130 bpm)</li>
            <li>Mocozi - Lonely (100 bpm)</li>
            <li>Mocozi - I'm in Love (93 bpm)</li>
        </ul></li>
    <li>5 New Block Beat Songs<ul>
            <li>Mixmatch - Be my Love (103 bpm) [Lv. 1]</li>
            <li>Mixmatch - Move It (82 bpm) [Lv. 1]</li>
            <li>Mocozi - Rocket in the Sky (130 bpm) [Lv. 3]</li>
            <li>Mocozi - Lonely (100 bpm) [Lv. 2]</li>
            <li>Mocozi - I'm in Love (93 bpm) [Lv. 1]</li>
        </ul></li>
    <li>99 New Fashion Mall Items<ul>
            <li>56 new women's items including 15 hairs, 11 tops, 11 bottoms, 15 shoes, and 4 sets.</li>
            <li>40 new men's items including 10 hairs, 10 tops, 10 bottoms, and 10 shoes.</li>
            <li>1 new platform.</li>
            <li>1 new accessory.</li>
            <li>1 new guitar.</li>
        </ul></li>
    <li>10 New Couple Shop Items<ul>
            <li>4 new women's items including 1 hair, 1 top, 1 bottom, and 1 shoes.</li>
            <li>4 new men's items including 1 hair, 1 top, 1 bottom, and 1 shoes.</li>
            <li>2 new accessories.</li>
        </ul></li>
</ol>