{% extends "base.twig" %}

{% block title %}Audifan.net - Guides &amp; Tools{% endblock %}

{% block head %}

{% endblock %}

{% block body %}
<div class="contentwrapperhalf">
    <div class="float">
        <div class="pagetitle">Guides &amp; Tools</div>
        <div class="_center" style="font-size: 1.8em;">
            <a href="/community/siggenerator/">Signature Generator</a><br />
            <a href="/community/gardentimer/">Couple Garden Timers</a><br />
            <a href="/guides/exp/">EXP Table &amp; Calculator</a><br />
            <a href="/guides/licenses/">License Guide</a><br />
            <a href="/guides/story/e1/">Story Guide - Episode 1</a><br />
            <a href="/guides/story/e2/">Story Guide - Episode 2</a><br />
            <a href="/guides/story/e3/">Story Guide - Episode 3</a><br />
            <a href="/guides/story/secret/">Story Guide - Secret Episode</a><br />
            <a href="/guides/couple/">Couple Guide</a><br />
            <a href="/guides/coupleshop/">Couple Shop Guide</a><br />
            <a href="/guides/couplegarden/">Couple Garden Guide</a><br />
            <a href="/guides/tournamenttime/">Tournament Time Guide</a><br />
            <a href="/guides/timebox/">Time Box Guide</a>
        </div>
    </div>
</div>
{% endblock %}