{% extends "base.twig" %}

{% block title %}Audifan.net - Guides - Time Box Guide{% endblock %}

{% block pagetitle %}Time Box Guide{% endblock %}

{% block head %}
    <style>
        .guidetable {
            border: 1px solid #ffffff;
            border-collapse: collapse;
            width: 100%;
        }

        .guidetable tr th, .guidetable tr td {
            text-align: center;
            vertical-align: middle;
            border: 1px solid #ffffff;
            padding: 3px;
        }

        .guidetable tr th {
            font-weight: bold;
        }

        .guidetable tr td {

        }
    </style>
{% endblock %}

{% block body %}
    <div class="contentwrapperhalf">
        <div class="float">
            <div class="sectionwrapper">
                <div class="sectionheading">Time Gaps</div>
                <div class="_center">
                    The Time Box starts at Lv. 0 and levels up after a period of time.<br />
                    If you log out, you must log back in within ten minutes to avoid<br />
                    having the Time Box reset.
                </div>

                <div style="margin-top:5px;">
                    <table class="guidetable">
                        <tr>
                            <th>Level</th>
                            <th>Time Since Previous Level</th>
                            <th>Total Time</th>
                        </tr>

                        <tr>
                            <td>Lv. 1</td>
                            <td>20 minutes</td>
                            <td>20 minutes</td>
                        </tr>

                        <tr>
                            <td>Lv. 2</td>
                            <td>20 minutes</td>
                            <td>40 minutes</td>
                        </tr>

                        <tr>
                            <td>Lv. 3</td>
                            <td>20 minutes</td>
                            <td>1 hour</td>
                        </tr>

                        <tr>
                            <td>Lv. 4</td>
                            <td>30 minutes</td>
                            <td>1 hour and 30 minutes</td>
                        </tr>

                        <tr>
                            <td>Lv. 5</td>
                            <td>30 minutes</td>
                            <td>2 hours</td>
                        </tr>

                        <tr>
                            <td>Lv. 6</td>
                            <td>30 minutes</td>
                            <td>2 hours and 30 minutes</td>
                        </tr>

                        <tr>
                            <td>Lv. 7</td>
                            <td>30 minutes</td>
                            <td>3 hours</td>
                        </tr>

                        <tr>
                            <td>Lv. 8</td>
                            <td>40 minutes</td>
                            <td>3 hours and 40 minutes</td>
                        </tr>

                        <tr>
                            <td>Lv. 9</td>
                            <td>40 minutes</td>
                            <td>4 hours and 20 minutes</td>
                        </tr>

                        <tr>
                            <td>Lv. 10</td>
                            <td>40 minutes</td>
                            <td>5 hours</td>
                        </tr>

                        <tr>
                            <td>Lv. 11</td>
                            <td>1 hour</td>
                            <td>6 hours</td>
                        </tr>

                        <tr>
                            <td>Lv. 12</td>
                            <td>1 hour</td>
                            <td>7 hours</td>
                        </tr>

                        <tr>
                            <td>Lv. 13</td>
                            <td>1 hour</td>
                            <td>8 hours</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="sectionwrapper">
                <div class="sectionheading">Prizes</div>
                
                <div class="_center" style="margin-bottom:5px;">
                    Discount Coupons expire on the Wednesday after they are earned.<br />
                    The discount coupons that take a specific amount of cash off can only be used on items that have an original cost of at least 1,000 cash.<br />
                    Time Box Discount Coupons can be used on any<br />
                    face, hair, top, bottom, shoes, or set item.
                </div>
                
                <table class="guidetable">
                    <tr>
                        <th>Level</th>
                        <th>Prize</th>
                    </tr>

                    <tr>
                        <td>Lv. 1</td>
                        <td>1 Perna's Giftbox</td>
                    </tr>
                    
                    <tr>
                        <td>Lv. 2</td>
                        <td>2 Diego's Giftboxes</td>
                    </tr>
                    
                    <tr>
                        <td>Lv. 3</td>
                        <td>5 Diego's Giftboxes</td>
                    </tr>
                    
                    <tr>
                        <td>Lv. 4</td>
                        <td>5 Crazy Queen's Giftboxes</td>
                    </tr>
                    
                    <tr>
                        <td>Lv. 5</td>
                        <td>Hair 100 Cash Discount Coupon</td>
                    </tr>
                    
                    <tr>
                        <td>Lv. 6</td>
                        <td>Hair 100 Cash Discount Coupon</td>
                    </tr>
                    
                    <tr>
                        <td>Lv. 7</td>
                        <td>Top 200 Cash Discount Coupon</td>
                    </tr>
                    
                    <tr>
                        <td>Lv. 8</td>
                        <td>Hair 200 Cash Discount Coupon</td>
                    </tr>
                    
                    <tr>
                        <td>Lv. 9</td>
                        <td>Top 300 Cash Discount Coupon</td>
                    </tr>
                    
                    <tr>
                        <td>Lv. 10</td>
                        <td>Top 300 Cash Discount Coupon</td>
                    </tr>
                    
                    <tr>
                        <td>Lv. 11</td>
                        <td>Hair 300 Cash Discount Coupon</td>
                    </tr>
                    
                    <tr>
                        <td>Lv. 12</td>
                        <td>10% Time Box Discount Coupon</td>
                    </tr>
                    
                    <tr>
                        <td>Lv. 13</td>
                        <td>20% Time Box Discount Coupon</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}