{% extends "base.twig" %}

{% block title %}Audifan.net - Help - Couple Garden Timer{% endblock %}

{% block pagetitle %}<a href="/help/">Help</a>: Couple Garden Timer{% endblock %}

{% block head %}

{% endblock %}

{% block body %}
    <div class="contentwrapperhalf">
        <div class="float">
            The <a href="/community/gardentimer/">Couple Garden Timer</a> keeps track of your garden and gives you a notification when something needs to be done.
            <ul>
                <li>Managing Timers<ul>
                    <li>You can have a maximum of 3 timers.</li>
                    <li>To add more timers, click the Add Another Timer link at the bottom of the page.</li>
                    <li>When you have more than 1 timer, you can delete any of them by clicking the Delete this Timer Link.</li>
                    <li>To rearrange your timers, use the Move this Timer Up/Down links.</li>
                    <li>To rename your timers, click the pencil next to the name.</li>
                    </ul></li>
                <li>Sharing Timers<ul>
                    <li>To share any of your timers, click the Share this Timer link.</li>
                    <li>After you enter the name of the person with whom you want to share a timer, they will get a Share Request.</li>
                    <li>Share Requests are located at the bottom of the page, under the Add Another Timer link.</li>
                    <li>You can only accept a Share Request if you have less than 3 timers because when you accept, the shared timer will be added in addition to any timers that you already have.</li>
                    </ul></li>
                <li>Notifications<ul>
                    <li>In-Browser Alert Boxes will appear as small pop-ups within the browser.</li>
                    <li>Desktop Notifications are only available with Google Chrome or Mozilla Firefox. They will appear as message bubbles above the taskbar.</li>
                    </ul></li>
                <li>Approximate Audition Time<ul>
                    <li>We try to keep the Audition Time shown on the garden timer page accurate to within 10 seconds.</li>
                    <li>When the time is green, it's a good time to plant seeds or to do your first water/dust of the day, especially if you're doing Garden 2.0.</li>
                    </ul></li>
            </ul>
        </div>
    </div>
{% endblock %}