{% extends "base.twig" %}

{% block title %}Audifan.net - Help{% endblock %}

{% block pagetitle %}Help Center{% endblock %}

{% block head %}
    
{% endblock %}

{% block body %}
    <div class="contentwrapper2col">
        <div class="float">
            <div class="sectionwrapper">
                <div class="sectionheading">Site Events</div>
                <ul>
                    <li><a href="/help/vip/">About VIP Status and the VIP Drawing</a></li>
                    <li><a href="/help/quests/">About Quests</a></li>
                    <li><a href="/help/happybox/">About the Happy Box</a></li>
                </ul>
            </div>
            <div class="sectionwrapper">
                <div class="sectionheading">Site Tools</div>
                <ul>
                    <li><a href="/help/gardentimer/">About the Couple Garden Timer</a></li>
                    <li><a href="/help/expcalculator/">About the EXP Calculator</a></li>
                </ul>
            </div>
        </div>
        <div class="float">
            <div class="sectionwrapper">
                <div class="sectionheading">Accounts and Profiles</div>
                <ul>
                    <li><a href="/help/editprofile/">About Profile Editing</a></li>
                    <li><a href="/help/friends/">Adding/Deleting Friends</a></li>
                    <li><a href="/help/facebook/">Connecting/Disconnecting Your Account with Facebook</a></li>
                    <li><a href="/help/commentsyntax/">Comment Formatting Syntax</a></li>
                </ul>
            </div>
            <div class="sectionwrapper">
                <div class="sectionheading">Not What You're Looking For?</div>
                <div class="_center">If you need any further assistance using the site, please <a href="/tickets/">Contact Us</a>!</div>
            </div>
        </div>
        <div style="clear:both;"></div>
    </div>
{% endblock %}