{% extends "base.twig" %}

{% block title %}Audifan.net - Help - VIP Status and the VIP Drawing{% endblock %}

{% block pagetitle %}<a href="/help/">Help</a>: VIP Status and the VIP Drawing{% endblock %}

{% block head %}
    
{% endblock %}

{% block body %}
    <div class="contentwrapperhalf">
        <div class="float">
            <div class="sectionheading">VIP Status</div>
            <ul>
                <li>VIP Status is given to those who log in every day in a week.</li>
                <li>If you log in Monday through Sunday, you will receive a VIP badge for the week after you did so.</li>
                <li>You can see which days you logged in this week and which you missed at the top of any page. Gray means you missed that day and yellow means you logged in that day.</li>
                <li>Your name will be featured on the homepage and your name will be yellow in the "Who's Online" list while you have the badge.</li>
                <li>In addition, you will receive a 40% cooldown reduction for the <a href="/community/happybox/">Happy Box</a> (<a href="/help/happybox/">what's this?</a>) while you have a VIP badge.</li>
            </ul>
            
            <div class="sectionheading">VIP Drawing</div>
            <ul>
                <li>Most details of the VIP Drawing can be found on the <a href="/community/vipdrawing/">drawing page</a> itself.</li>
                <li>To redeem the prize:<ul>
                        <li>Click My Stuff at the top of any page.</li>
                        <li>In the Prize Vouchers section, select the prize you want.</li>
                        <li>If it is a clothing item, enter the exact name of the item in the box.</li>
                        <li>Finally, click Choose Prize.</li>
                    </ul></li>
            </ul>
        </div>
    </div>
{% endblock %}