{% extends "base.twig" %}
{% import "macros/forms.twig" as forms %}

{% block title %}Audifan.net - Resend Verification Code{% endblock %}

{% block pagetitle %}Resend Verification Code{% endblock %}

{% block body %}
    <div class="contentwrapperhalf">
        <div class="float">
            <div class="sectionwrapper">
                {{ forms.start("/account/resend/") }}
                Email: {{ forms.textField("email") }}
                <div class="_center" style="margin-top:5px;">{{ forms.submit("submit_resend", "Resend Verification Code") }}</div>
                {{ forms.end() }}
            </div>
        </div>
    </div>
{% endblock %}