{% extends "base.twig" %}

{% block title %}Audifan.net - Account - Verify Email{% endblock %}

{% block pagetitle %}Verify Email{% endblock %}

{% block body %}
    <div class="_center">
        <a href="/account/">Return to login</a>
    </div>
{% endblock %}