<!-- Random Friend -->
<div class="sectionheading">Random Friend</div>
<div class="_center">
    <img src="{{ GLOBAL.staticUrl }}/img/profilepictures/default.png" alt="{{ moduleData[6].friend.display_name }}'s Profile Picture" />
    <div style="margin-top: 3px;">
        <a href="/community/profile/{{ moduleData[6].friend.id }}/">{{ moduleData[6].friend.display_name }}</a>
    </div>
</div>