<b>Version:</b> 06022<br>
<ol>
<li>Crazy Choreography</li>
<li>Halloween stage</li>
<li>New Songs</li>
	<ul>
	<li>Chrisette Michele - Good Girl (83 bpm)</li>
	<li>Jim Jones - We Fly High (90 bpm)</li>
	<li>Northern League - Gone In Sixty Seconds (91 bpm)</li>
	<li>Mandisa - Only The World (97 bpm)</li>
	<li>MIMS - Like This (97 bpm)</li>
	<li>Cowboy Troy - How Can You Hate Me (101 bpm)</li>
	<li>Cowboy Troy - Hick Chick (Dance Mix) (112 bpm)</li>
	<li>Cowboy Troy - I Play Chicken With The Train (Barn Dance Mix) (128 bpm)</li>
	<li>Le Tigre - After Dark (133 bpm)</li>
	<li>The Bird & The Bee - So You Say (146 bpm)</li>
	<li>Fall Out Boy - Thnks Fr Th Mmrs (155 bpm)</li>
	</ul>
<li>New Items</li>
	<ul>
	<li>New fashion items</li>
	<li>Halloween items on sale</li>
	</ul>
</ol>