<b>Version:</b> 06019<br>
<ol>
<li>Tournament</li>
<li>Team Battle Party</li>
<li>Auditionland stage</li>
<li>Room info display</li>
	<ul>
	<li>Right-click a room in the lobby to view more information</li>
	</ul>
<li>New Songs</li>
	<ul>
	<li>Britt Nicole - Good Day (132 bpm)</li>
	<li>Kemo The Blaxican - 5th of May (99 bpm)</li>
	<li>Slow Train Soul - Goldiggah (122 bpm)</li>
	<li>Natasha Bedingfield - Single (84 bpm)</li>
	<li>Shy Child - Generation Y (We Got It) (105 bpm)</li>
	<li>Calvin Harris - Merrymaking At My Place (114 bpm)</li>
	<li>Oh No - Chump (97 bpm)</li>
	<li>Joss Stone - Headturner (103 bpm)</li>
	<li>Fanny Pack - Keep On (102 bpm)</li>
	<li>Jennifer Lopez - Do It Well (108 bpm)</li>
	</ul>
<li>New fashion items</li>
</ol>