<b>Version:</b> 06017<br>
<ol>
<li>New Songs</li>
	<ul>
	<li>The Sounds - Tony The Beat (130 bpm)</li>
	<li>Junkie XL - Yesterdays (115 bpm)</li>
	<li>Britt Nicole - Holiday (96 bpm)</li>
	<li>Chris Brown - Poppin (123 bpm)</li>
	</ul>
<li>80 new fashion items</li>
</ol>