<b>Version:</b> 06018<br>
<ol>
<li>Spooky School stage</li>
<li>New Songs</li>
	<ul>
	<li>Custom Kings - Number One (107 bpm)</li>
	<li>Unk - 2 Step (154 bpm)</li>
	<li>Leah Discroll - Rising Up (Radio Edit) (133 bpm)</li>
	<li>2XL - It's On (84 bpm)</li>
	<li>Armin Van Buuren - Communication (135 bpm)</li>
	</ul>
<li>New Items</li>
	<ul>
	<li>New fashion items</li>
	<li>Battle Party Reset</li>
	</ul>
</ol>