<b>Version:</b> 06025<br>
<ol>
<li>Team Choreography</li>
<li>New Songs</li>
	<ul>
	<li>Rondo Brothers - Crazed (86 bpm)</li>
	<li>Melee - Rhythm of Rain (96 bpm)</li>
	<li>Tiffany Affair - Over It (102 bpm)</li>
	<li>Skull - Boom Di Boom Di (105 bpm)</li>
	<li>Unklejam - Luv Ya (107 bpm)</li>
	<li>Grandbob - City Approach (109 bpm)</li>
	<li>Dr. Rubberfunk - Watch The Tables Turn (110 bpm)</li>
	<li>Mary Mary - Tis The Season (115 bpm)</li>
	<li>Pet Shop Boys - I'm With Stupid (116 bpm)</li>
	<li>Jamie Kennedy & Stu Stone - Circle Circle Dot Dot (120 bpm)</li>
	<li>The Fray - All At Once (134 bpm)</li>
	<li>Jessica Simpson - What Christmas Means To Me (176 bpm)</li>
	<li>Thunderbirds Are Now! - We Win (Ha Ha) (180 bpm)</li>
	</ul>
<li>New Items</li>
	<ul>
	<li>New fashion items</li>
	<li>x2 Beats card</li>
	</ul>
</ol>