<b>Version:</b> 06026<br>
<ol>
<li>Club Dance</li>
<li>Audition Town changed to Audition City</li>
<li>New Songs</li>
	<ul>
	<li>Run DMC - Christmas In Hollis (95 bpm)</li>
	<li>Until June - What I've Done (97 bpm)</li>
	<li>KT Tunstall - Hold On (106 bpm)</li>
	<li>Cartel - Lose It (131 bpm)</li>
	<li>HelloGoodbye - All Of Your Love (133 bpm)</li>
	<li>HelloGoodbye - Touchdown, Turnaround (137 bpm)</li>
	<li>Lifehouse - Disarray (140 bpm)</li>
	<li>The Hot Lies - Emergency, Emergency (172 bpm)</li>
	<li>Rooney - When Did Your Heart Go Missing (176 bpm)</li>
	</ul>
<li>New Items</li>
	<ul>
	<li>83 new fashion items</li>
	<li>Christmas items</li>
	<li>Secret Shopper</li>
	</ul>
</ol>