<b>Version:</b> 06021<br>
<ol>
<li>Beat Up mode</li>
<li>Night Dance</li>
<li>Intermediate/Expert tournament channels</li>
<li>New Songs</li>
	<ul>
	<li>Fantasia - When I See U (92 bpm)</li>
	<li>Tobymac - One World (94 bpm)</li>
	<li>Oh No - Smile A Lil Bit (96 bpm)</li>
	<li>Bethany Dillon - Top Of The World (100 bpm)</li>
	<li>Arrested Development - Sunshine (102 bpm)</li>
	<li>Euphoria - Sinners & Saints (102 bpm)</li>
	<li>Percee P - Reverse Pt. 2 (108 bpm)</li>
	<li>FM Static - The Next Big Thing (115 bpm)</li>
	<li>Lori McKenna - Unglamorous (123 bpm)</li>
	<li>Office - Possibilities (123 bpm)</li>
	<li>The Black Ghosts - Any Way You Choose To Give It (130 bpm)</li>
	<li>Office - Company Calls (135 bpm)</li>
	<li>Hawk Nelson - The Show (137 bpm)</li>
	<li>Head Automatica - Lying Through Your Teeth (138 bpm)</li>
	<li>Kids In The Way - Fiction (144 bpm)</li>
	<li>Neon Horse - Cuckoo (145 bpm)</li>
	<li>The Sounds - Dance With Me (146 bpm)</li>
	<li>Tobymac - Gone (163 bpm)</li>
	</ul>
<li>New Items</li>
	<ul>
	<li>New fashion items</li>
	<li>x2 EXP card</li>
	</ul>
</ol>