<b>Version:</b> 06015<br>
<ol>
<li>New Songs</li>
	<ul>
	<li>Extreme - Morphine Queen (100 bpm)</li>
	<li>Extreme - Just Another Day (106 bpm)</li>
	<li>Extreme - Telephone Lover (89 bpm)</li>
	<li>Kully B - Livin Life To The Full (110 bpm)</li>
	<li>Kully B - Anymore (150 bpm)</li>
	</ul>
<li>New Items</li>
	<ul>
	<li>306 new fashion items</li>
	<li>Faces</li>
	</ul>
</ol>