<b>Version:</b> 06014<br>
<ol>
<li>One-Two Party</li>
<li>Shake Your Booty stage</li>
<li>New Songs</li>
	<ul>
	<li>B. Dastardly - Music Please (124 bpm)</li>
	<li>Walther PPK - These Are The Days (92 bpm)</li>
	<li>The Crow - Bite Me (95 bpm)</li>
	<li>Tiesto - Lethal Industry (135 bpm)</li>
	</ul>
<li>300 new fashion items</li>
</ol>