<b>Version:</b> 06016<br>
<ol>
<li>New Songs</li>
	<ul>
	<li>Extreme - Keep Vibin (140 bpm)</li>
	<li>Extreme - Sweet Heat (89 bpm)</li>
	<li>Extreme - Maybe Young (90 bpm)</li>
	<li>Extreme - Been Around The World (127 bpm)</li>
	<li>All Good Funk Alliance - Major C (101 bpm)</li>
	<li>Move.Meant - Problems (121 bpm)</li>
	<li>Ostrich Head - Crazy (116 bpm)</li>
	<li>The Latin Project - Musica De Amor Ozomatli (Remix) (110 bpm)</li>
	<li>T-Weaponz feat. Noelle - Who Want What (101 bpm)</li>
	</ul>
<li>New Items</li>
	<ul>
	<li>New fashion items</li>
	<li>Love Potion</li>
	<li>Premium Messenger</li>
	</ul>
</ol>