<b>Version:</b> 06036<br>
<ol>
<li>New stories (41-60)</li>
<li>Love Parties</li>
<li>Updated Ranking and Messenger UI</li>
<li>New Songs</li>
	<ul>
	<li>Bijou - Bang! (104 bpm)</li>
	<li>Mayaeni - Here I Am (104 bpm)</li>
	<li>Atomic Kitten - Right Now (128 bpm)</li>
	<li>Patrick Yarborough - Tink Tink (132 bpm)</li>
	<li>Digitalism - Digitalism In Cairo (133 bpm)</li>
	<li>Hot Chip - Hold On (134 bpm)</li>
	<li>Sleep Detectives - The Air I Breathe (138 bpm)</li>
	<li>Metrostation - Shake It (150 bpm)</li>
	<li>The May Fire - Right And Wrong (161 bpm)</li>
	<li>The Dollyrots - Brand New Key (173 bpm)</li>
	</ul>
<li>New fashion items</li>
</ol>