<b>Version:</b> 06029<br>
<ol>
<li>Story Mode</li>
<li>New Songs</li>
	<ul>
	<li>I Nine - Seven Days of Lonely (88 bpm)</li>
	<li>Tee Double - The Growth (100 bpm)</li>
	<li>San Quinn - Do Ya Thizzle (108 bpm)</li>
	<li>Undergreen - It's My Favorite (129 bpm)</li>
	<li>Mephisto Odyssey - Sexy Love (130 bpm)</li>
	<li>The Attic - It's Beautiful (130 bpm)</li>
	<li>The Moths - Night Is On Fire (134 bpm)</li>
	<li>Digitalism - I Want I Want (135 bpm)</li>
	<li>Supertweeker - Double Down (135 bpm)</li>
	<li>The Moths - Tell Me (146 bpm)</li>
	</ul>
<li>New Items</li>
	<ul>
	<li>New fashion items</li>
	<li>Pets</li>
	<li>New items added to the Secret Shopper</li>
	</ul>
</ol>