<b>Version:</b> 06037<br>
<ol>
<li>Beat Up Battle Party</li>
<li>Natasha Beddingfield Event</li>
	<ul>
	<li>Secret Natasha Bedingfield Battle Party NPC</li>
	<li>Exclusive Natasha Bedingfield songs</li>
	<li>Stages changed to include Natasha Bedingfield</li>
	</ul>
<li>New Songs</li>
	<ul>
	<li>Natasha Bedingfield - Happy (89 bpm)</li>
	<li>Kelis - Trick Me (107 bpm)</li>
	<li>Natasha Bedingfield - Who Knows (108 bpm)</li>
	<li>Natasha Bedingfield - Pocketful Of Sunshine (110 bpm)</li>
	<li>Natasha Bedingfield - Not Givin' Up (133 bpm)</li>
	<li>Say Anything - Have At Thee! (136 bpm)</li>
	<li>The Sounds - Queen Of Apology (152 bpm)</li>
	</ul>
<li>New fashion items</li>
</ol>