<b>Version:</b> 06039<br>
<ol>
<li>New Songs</li>
	<ul>
	<li>Mario - How Do I Breathe (98 bpm)</li>
	<li>Big B - White Trash Life (105 bpm)</li>
	<li>Morgan Page - The Longest Road (125 bpm)</li>
	<li>Frank White - We Ain't Playing (140 bpm)</li>
	<li>Daphne Love Derby - That's Our Hero Shot (183 bpm)</li>
	</ul>
<li>New fashion items</li>
</ol>