<b>Version:</b> 06035<br>
<ol>
<li>Couple Tournament</li>
<li>Malibu stage</li>
<li>New Songs</li>
	<ul>
	<li>J Holiday - Be With Me (91 bpm)</li>
	<li>Plan B - Who Needs Action When You Got Words (94 bpm)</li>
	<li>Lily Allen - Smile (95 bpm)</li>
	<li>Moby - Alice (95 bpm)</li>
	<li>The Starting Line - Island (111 bpm)</li>
	<li>Us3 - Cantaloop (116 bpm)</li>
	<li>Donna Summer - Stamp Your Feet (120 bpm)</li>
	<li>Say Anything - Baby I'm A Blur (123 bpm)</li>
	<li>Eisley - Invasion (124 bpm)</li>
	<li>Basement Jaxx - Do Your Thing (125 bpm)</li>
	<li>Hot Chip - Ready For The Floor (129 bpm)</li>
	<li>Patrick Yarborough - Club Swank (132 bpm)</li>
	</ul>
<li>New Items</li>
	<ul>
	<li>New fashion items</li>
	<li>Event Room item</li>
	</ul>
</ol>