<b>Version:</b> 06031<br>
<ol>
<li>Wedding Party</li>
<li>Ballroom Dance</li>
<li>100 missions added</li>
<li>New Songs</li>
	<ul>
	<li>Cheyenne Kimball - I Want To (78 bpm)</li>
	<li>Amerie - 1 Thing (100 bpm)</li>
	<li>Modest Mouse - Float On (101 bpm)</li>
	<li>Pat - The Piano Game (105 bpm)</li>
	<li>Britney Spears - Gimme More (113 bpm)</li>
	<li>Fergie - Big Girls Don't Cry (113 bpm)</li>
	<li>Crystal Waters - 100% Pure Love (120 bpm)</li>
	<li>Mercy Mercedes - Get It Darlin' (135 bpm)</li>
	<li>Kish Mauve - Come On (137 bpm)</li>
	<li>Avril Lavigne - Girlfriend (164 bpm)</li>
	</ul>
<li>New Items</li>
	<ul>
	<li>New fashion items</li>
	<li>New items added to the Secret Shopper including a Cupid outfit</li>
	</ul>
</ol>