<b>Version:</b> 06045<br>
<ol>
<li>Beat Up Tournament</li>
<li>New Songs</li>
	<ul>
	<li>Joydrop - Expiry Dates (96 bpm)</li>
	<li>Asia Cruise - Selfish (102 bpm)</li>
	<li>Roisin Murphy - You Know Me Better (125 bpm)</li>
	<li>Louise Dowd - All I Wanna Do Is Think (133 bpm)</li>
	<li>Anberlin - Readyfuels (169 bpm)</li>
	</ul>
<li>New Items</li>
	<ul>
	<li>New fashion items</li>
	<li>New Halloween Pets</li>
	</ul>
</ol>