<b>Version:</b> 06043<br>
<ol>
<li>New Songs</li>
	<ul>
	<li>Jet Stream - Roll To The Party (108 bpm)</li>
	<li>Tiffany Evans - Impossible (113 bpm)</li>
	<li>Triangle - Ride My Bike (130 bpm)</li>
	<li>Flobots - Handlebars (142 bpm)</li>
	<li>Static Revenger - Satellite (160 bpm)</li>
	<li>Vytaan - Piano Heaven (180 bpm)</li>
	</ul>
<li>New Items</li>
	<ul>
	<li>New fashion items</li>
	<li>3 new DJ booths</li>
	<li>More items added to the Secret Shopper</li>
	</ul>
</ol>