<b>Version:</b> 06032<br>
<ol>
<li>Special B-Boy Mode</li>
<li>Snow Valley map</li>
<li>New megaphone options</li>
	<ul>
	<li>Points will now accrue each time you use megaphone</li>
	<li>You can use points to megaphone if you don't have cash</li>
	</ul>
<li>New Songs</li>
	<ul>
	<li>Avril Lavigne - One Of Those Girls (92 bpm)</li>
	<li>Krystal Meyers - Live (94 bpm)</li>
	<li>Elisabeth Withers - Get Yo Shoes On (104 bpm)</li>
	<li>iCandie - Glitterati (106 bpm)</li>
	<li>Supreme Beings Of Leisure - Good (118 bpm)</li>
	<li>Cheyenne Kimball - Hanging On (119 bpm)</li>
	<li>Britney Spears - I'm A Slave 4 U (127 bpm)</li>
	<li>Test Your Reflex - Black Hearts (131 bpm)</li>
	<li>Rasheeda - My Bubble Gum (160 bpm)</li>
	<li>Maximo Park - Our Velocity (192 bpm)</li>
	</ul>
<li>New fashion items</li>
</ol>