<b>Version:</b> 10006<br>
<ol>
<li>FAMs</li>
<li>New Songs</li>
	<ul>
	<li>Various Artist - Day By Day (Big Bang)</li>
	<li>Various Artist - U-Go-Girl (Hyori Lee)</li>
	<li>Various Artist - 1 Minute 1 Second (Epik High)</li>
	<li>Various Artist - Cinderella (Inyoung Suh)</li>
	<li>Various Artist - More Today Than Yesterday (Jongguk Kim)</li>
	<li>MJP - My Love</li>
	<li>Tesz - Don't Take Too Long</li>
	<li>Allan Cutler - Give Up On Us</li>
	<li>MJP - Gotta Be Me</li>
	<li>Becca - Handle This</li>
	</ul>
<li>New Items</li>
	<ul>
	<li>New fashion items</li>
	<li>Premium Messenger Plus</li>
	</ul>
</ol>