<ol>
<li>Beat Rush Battle Party</li>
<li>Couple Dance - 31 Hearts</li>
<li>Team Crazy Freestyle Battle</li>
<li>Beat Rush Tournament</li>
<li>New Songs</li>
	<ul>
	<li>Fall Out Boy - Thnks Fr Th Mmrs</li>
	<li>Maria Long - Find Me</li>
	<li>Nikki Hong - Find Myself In You</li>
	<li>Allan Cutler - My Girl</li>
	<li>LMFAO - Lalala</li>
	<li>H*Wood - Parents Worst Nightmare</li>
	<li>Becca - Love Again</li>
	</ul>
<li>New Items</li>
	<ul>
	<li>80 new fashion items</li>
	<li>7 FAM items</li>
	<li>2 pets</li>
	<li>Emoticons</li>
	</ul>
</ol>