<b>Version:</b> 10012<br>
<ol>
<li>Crazy Dynamic</li>
<li>Team Crazy Dynamic</li>
<li>New stories (61 - 80)</li>
<li>New Songs</li>
	<ul>
	<li>Audition - December (VOX Tune)</li>
	<li>Various Artist - La La La (SG Wannabe)</li>
	<li>Sirocco - Brain On Music</li>
	<li>DJ Regal feat. Erica - Here We Go</li>
	<li>DJ Regal - Move Ya Body</li>
	<li>Pair-A-Dice - There's No Stoppin' Us</li>
	<li>Allan Cutler - Saturday</li>
	<li>Kallie - Your Love</li>
	</ul>
<li>New Items</li>
	<ul>
	<li>50 new items total</li>
	<li>9 FAM items</li>
		<ul>
		<li>3 houses</li>
		</ul>
	</ul>
</ol>