<b>Version:</b> 10021<br>
<ol>
<li>Couple tournament</li>
<li>In-game macro system</li>
<li>New ranks</li>
	<ul>
	<li>Level 61 - 65: Audition Master</li>
	<li>Level 66 - 70: Royal Master</li>
	<li>Level 71 - 75: Special Master</li>
	<li>Level 76 - 80: Elite Master</li>
	<li>Level 81 - 85: Grand Master</li>
	<li>Level 86 - 90: Legendary Master</li>
	<li>Level 91 - 95: Maestro (silver)</li>
	<li>Level 96 - MAX: Maestro (Gold)</li>
	</ul>
<li>Level Up Rewards</li>
	<ul>
	<li>Upon passing a license, you will receive:</li>
		<ul>
		<li>A magic lamp item which will allow you to purchase a hair, top, bottom, or shoes item for 7 days</li>
		<li>Depending on your level, you may also receive one of the following:</li>
			<ul>
			<li>2 random cash clothes items</li>
			<li>A random DJ booth</li>
			<li>A random pet</li>
			<li>Event Room item</li>
			<li>Premium messenger plus for 30 days</li>
			<li>x2 EXP card</li>
			</ul>
		<li>Upon reaching levels 61, 71, 81, 91, and MAX, you will receive a special rare set for each respective level</li>
		</ul>
	</ul>
<li>Shopping mall chat</li>
<li>Christmas theme</li>
<li>New Songs</li>
	<ul>
	<li>Audition - Lookie Looie</li>
	<li>Audition - Dentist</li>
	<li>Audition - Move</li>
	<li>Audition - Cutie</li>
	<li>Audition - Sorry Sorry</li>
	<li>Audition - Train Rolling Through The Seas When It Rains (Easy)</li>
	<li>Audition - Train Rolling Through The Seas When It Rains (Hard)</li>
	<li>Audition - Girl</li>
	<li>Audition - To You</li>
	<li>Audition - Diet</li>
	<li>Audition - Don't Need To Say A Thing</li>
	<li>Audition - Timing</li>
	<li>Audition - Party Summer Night</li>
	<li>Audition - Canon Groove (105 bpm) (Un-edited, on-beat version added)</li>
	<li>Natasja - Letting Go</li>
	<li>Ke$ha - Tik Tok</li>
	<li>Jordin Sparks - Battlefield</li>
	<li>H*Wood - 2 Close</li>
	<li>Morgan Hayes - Careless</li>
	<li>Natasja - Gone</li>
	</ul>
<li>New Items</li>
	<ul>
	<li>70 new items total</li>
	<li>3 faces</li>
	<li>3 sets from the Redbana Fashion Design event</li>
	<li>2 pets</li>
	<li>9 FAM shop items</li>
	</ul>
</ol>