<b>Version:</b> 10040<br>
<ol>
<li>New Songs</li>
	<ul>
	<li>Jaicko - Fast Forward (125 bpm)</li>
	<li>Jay Sean - Down (without Lil' Wayne) (132 bpm)</li>
	<li>Audition - Cuckoo Clock (134 bpm)</li>
	<li>Audition - Drama (128 bpm)</li>
	<li>Audition - Thanks You (130 bpm)</li>
	</ul>
<li>New Items</li>
	<ul>
	<li>100 added including new motions</li>
	</ul>
</ol>