<b>Version:</b> 10026/10027<br>
<ol>
<li>Ballroom Tournament</li>
<li>Beat Up Tournament</li>
<li>Observer Practice Mode</li>
<li>Window mode</li>
<li>New patcher</li>
<li>New Songs</li>
	<ul>
	<li>Audition - Everyday (175 bpm)</li>
	<li>Audition - Beautiful 2009 (128 bpm)</li>
	<li>Audition - Ur Ma Angel (130 bpm)</li>
	<li>Audition - To You (2009 mini-album) (138 bpm)</li>
	<li>Audition - Feels Good (2009 mini-album) (124 bpm)</li>
	<li>Audition - Tell It To Me (2009 mini-album) (124 bpm)</li>
	<li>Audition - Timing (2009 mini-album) (132 bpm)</li>
	<li>Jackie Boyz - Callin' Me (123 bpm)</li>
	<li>Jackie Boyz - Clones (122 bpm)</li>
	<li>Jackie Boys - Love And Beyond (130 bpm)</li>
	<li>Boys Like Girls - Love Drunk (150 bpm)</li>
	<li>Ne-Yo - Closer (126 bpm)</li>
	<li>Munniebear - Rock Bottom (Easy) (90 bpm)</li>
	<li>Munniebear - Rock Bottom (Hard) (180 bpm)</li>
	</ul>
<li>New Items</li>
	<ul>
	<li>50 new items total</li>
	<li>20 faces</li>
	<li>5 motions</li>
	<li>2 sets from the Redbana Fashion Design event</li>
	</ul>
</ol>