<b>Version:</b> 10038<br>
<ol>
<li>License renewal</li>
	<ul>
	<li>Licenses have been made easier</li>
	<li>The license interface has been improved</li>
	</ul>
<li>Super DJ</li>
	<ul>
	<li>DJs can now invite 5 people from the lobby at a time</li>
	<li>DJs can now change a room's name and password settings</li>
	<li>DJs can now use a "shout" feature that broadcasts any important messages in the room</li>
	<li>Each room's right-click information from the lobby now shows a picture of the room's DJ</li>
	</ul>
<li>New Songs</li>
	<ul>
	<li>Audition - X Girlfriend (128 bpm)</li>
	<li>Audition - Eye For An Eye (96 bpm)</li>
	<li>Audition - K. O. (120 bpm)</li>
	<li>Audition - I'll Pretend I Don't Know (148 bpm)</li>
	</ul>
<li>New Items</li>
	<ul>
	<li>50 female clothing items</li>
	<li>29 male clothing items</li>
	<li>3 faces</li>
	<li>Accessories</li>
	<li>Some items have been given the indefinite purchase option</li>
	</ul>
</ol>