<b>Version:</b> 10051<br>
<ol>
<li>Christmas Theme</li>
<li>New Items</li>
	<ul>
	<li>New items include 3 new faces and new sets</li>
	<li>New accessories</li>
	<li>New platforms</li>
	<li>10 new pets</li>
	</ul>
</ol>