<b>Version:</b> 10034<br>
<ol>
<li>Crazy 9</li>
<li>GwangHuaMun stage</li>
<li>In-Game help (mode guide)</li>
<li>Game result scoreboards now show the mode/song that was played.</li>
<li>New Songs</li>
	<ul>
	<li>Audition - Mr. No. 1 Guide (128 bpm)</li>
	<li>Audition - Oh My Girl (126 bpm)</li>
	<li>Audition - Young (176 bpm)</li>
	<li>Audition - Keep Remember (120 bpm)</li>
	<li>Audition - Leaving (100 bpm)</li>
	<li>Stay - Run Wit' Me (93 bpm)</li>
	<li>The Frail - Firefly (120 bpm)</li>
	<li>Chris Morris - Can I Have This Dance (113 bpm)</li>
	<li>JuggaNote - The Kid's With Us (106 bpm)</li>
	<li>Vesbazz - euro!massive (Audition mix) (140 bpm)</li>
	<li>Dcfan4life - YouTube (160 bpm) (Removed shortly after patch due to legal issues)</li>
	</ul>
<li>New Items</li>
	<ul>
	<li>100 new items total</li>
	<li>Mystery Shopper item</li>
	<li>x3 Beats cards</li>
	<li>x3 EXP cards</li>
	</ul>
</ol>