<b>Version:</b> 10043/10044<br>
<ol>
<li>New Crazy 9 Battle Party NPCs</li>
<li>New Songs</li>
	<ul>
	<li>Audition - Have A Nice Day (120 bpm)</li>
	<li>Audition - Again (130 bpm)</li>
	<li>Audition - Play Boy (120 bpm)</li>
	<li>Japan Audition - D4 (150 bpm)</li>
	<li>Japan Audition - Stargazer (140 bpm)</li>
	<li>Japan Audition - Calling (87 bpm)</li>
	<li>Japan Audition - SRF (160 bpm)</li>
	<li>Japan Audition - X-Beat (165 bpm)</li>
	<li>Japan Audition - Shapeshifter (170 bpm)</li>
	<li>The Frail - Addicted (125 bpm)</li>
	</ul>
<li>New Items</li>
	<ul>
	<li>100 new items</li>
	<li>Metronome</li>
	</ul>
</ol>