<b>Version:</b> 10058<br>
<ol>
<li>Couple Battle Party Update</li>
	<ul>
	<li>Changed to one player couple versus one NPC couple</li>
	<li>150 NPCs added including hidden NPCs</li>
	<li>Attacks added</li>
		<ul>
		<li>Both players and NPCs can receive attacks throughout the game</li>
		<li>Attacks are given to the opposing team whenever you fill up your heart and expire after a certain amount of time</li>
		<li>Fill up your heart by getting Synchro Greats and Synchro Perfects</li>
		<li>Attacks include "Score Cut" which will cut scores earned, "No Perfect" which will remove the Perfect grade, replacing it with a great, "Red Keynote" which will change some (or possibly all) keys to red, and "Gauge Lock" which will prevent the Perfect Gauge from moving in your favor</li>
		</ul>
	<li>In addition to receiving Beats upon success, you will also receive Couple Points (Hearts) if you are married to the person you played with</li>
	</ul>
<li>Couple "Synergy" Update</li>
	<ul>
	<li>You will receive bonus couple points for playing with your couple. Does not include playing in Battle Parties</li>
	<li>Bonus couple points come in 5 stages. In the first stage, you will receive 1 bonus couple point per round, in the second you will receive 2 bonus points per round, in the third you will receive 3 per round, etc</li>
	<li>Each stage allows five rounds of play (possibility of 75 total bonus hearts) before a 20 minute timer is set between stages. While the timer is active, you will not receive any bonus couple points. After you complete all stages, you will be shown as "All Clear." Stages reset everyday at midnight EST.</li>
	<li>The stage that you are currently on, rounds left in that stage, and the time left between stages is shown on your Couple License</li>
	</ul>
<li>FAM Battle Update</li>
	<ul>
	<li>2 vs 2 added (Friendly Battle only)</li>
	<li>2 new battle options</li>
		<ul>
		<li>Power Battle - An additional 50 FAM Points will be lost/rewarded</li>
		<li>Friendly Battle - No FAM Points lost/rewarded and the win/loss will not be recorded</li>
		</ul>
	<li>New Ace Option</li>
		<ul>
		<li>Hero Ace - Lowers the amount of perfects needed to fill the score bonus meter during Ace Battle
		</ul>
	</ul>
<li>11 New Songs</li>
	<ul>
	<li>Audition - Gloomy March (92 bpm)</li>
	<li>Audition - New York (96 bpm)</li>
	<li>Nights & Weekends - Caught Up In The Cycle (120 bpm)</li>
	<li>Audition - Mr. Detective (128 bpm)</li>
	<li>Liane V. - Stupid (128 bpm)</li>
	<li>Audition - Be The Wind (130 bpm)</li>
	<li>Audition - Christmas Party (130 bpm)</li>
	<li>Audition - Dance Fish (130 bpm)</li>
	<li>Audition - Yes, If It's You (130 bpm)</li>
	<li>The Frail - Heartbeats (130 bpm)</li>
	<li>Audition - Surely (138 bpm)</li>
	</ul>
<li>13 Songs Re-Added</li>
	<ul>
	<li>Becca - How Do I Know (83 bpm)</li>
	<li>Becca - Ohh (98 bpm)</li>
	<li>MJP - Love 2 Love (112 bpm)</li>
	<li>Jordyn Taylor - Shake It (120 bpm)</li>
	<li>Becca - Angry Song (132 bpm)</li>
	<li>Lauren de Miranda - New Life (140 bpm)</li>
	<li>Bexy - Yeah (140 bpm)</li>
	<li>MJP - Gotta Be Me (140 bpm)</li>
	<li>Bexy - Just A Girl (140 bpm)</li>
	<li>Bexy - I Gotta Be (140 bpm)</li>
	<li>Becca - Dance All Night (145 bpm)</li>
	<li>Bexy - Believe (152 bpm)</li>
	<li>Dcfan4life - YouTube (160 bpm)</li>
	</ul>
<li>98 New Items</li>
	<ul>
	<li>36 Men's Items</li>
	<li>55 Women's Items</li>
	<li>3 faces</li>
	<li>4 motions</li>
</ol>