<b>Version:</b> 10054/10055<br>
<ol>
<li>New Songs</li>
	<ul>
	<li>Audition - Yeah Yo (101 bpm)</li>
	<li>Audition - Beforehand (106 bpm)</li>
	<li>Audition - Don't Worry At All (108 bpm)</li>
	<li>Audition - Love Doctor (124 bpm)</li>
	<li>Audition - Under The Sun (128 bpm)</li>
	<li>Audition - Just One (126 bpm)</li>
	<li>Audition - Tell Me Why (122 bpm)</li>
	</ul>
<li>New Items</li>
	<ul>
	<li>90 added including 3 faces.</li>
	<li>4 new motions.</li>
	</ul>
</ol>