<b>Version:</b> 10081<br>
<ol>
<li>Couple Shop</li>
	<ul>
	<li>The Couple Shop is a new mall devoted entirely to items for you and your couple.</li>
	<li>Access the Couple Shop by going to the regular mall and clicking Couple Shop. You and your couple must go to the couple shop together. You cannot enter by yourself.</li>
	<li>The Couple Shop includes:
		<ul>
		<li>Matching fashion items</li>
		<li>Rings</li>
		<li>Customizable couple licenses</li>
		<li>Customizable room settings</li>
		<li>Couple exclusive pets</li>
		</ul>
	</ul>
<li>PR Board</li>
	<ul>
	<li>Similar to megaphone, the PR Board will broadcast a message either 10 or 50 times on the User List in the lobby.
	</ul>
<li>5 New Songs</li>
	<ul>
	<li>Amigaman - Head High (88 bpm)</li>
	<li>Candy Rose - You Are Everything (90 bpm) </li>
	<li>DJ Regal - Fresh (128 bpm)</li>
	<li>Sackcloth Fashion - Summin of Angels (116 bpm)</li>
	<li>Vytaan - Piano Heaven (90 bpm)</li>
	</ul>
<li>3 New Guitar Songs</li>
	<ul>
	<li>Crying Nut - Horse Frenzy [Remaster] (150 bpm) [Easy, Normal, Hard]</li>
	<li>Super Kidd - Dance Joyfully (116 bpm) [Easy, Normal, Hard]</li>
	<li>Ja Woo Rim - 20th Century Boy and Girl (140 bpm) [Easy, Normal, Hard]</li>
	</ul>
<li>110 New Items</li>
	<ul>
	<li>Photo Sticker - solo and couple</li>
		<ul>
		<li>The Photo Sticker item allows you to take a photo of your character, or you and your couple, in various poses.</li>
		<li>To use it, purchase either the solo or couple version, and click the use button in My Items.</li>
		<li>Enter a title and description for your picture, and you will be shown a preview. Underneath the camera is a list of 5 poses that can be used. Once your character gets into position, press "Click" on the camera to take the picture.</li>
		<li>Pictures will be saved to your Screenshot folder.</li>
		</ul>
	<li>32 Men's Items</li>
	<li>66 Women's Items</li>
	<li>4 motions</li>
	<li>6 faces (3 male, 3 female)</li>
	</ul>
<li>45 New Couple Items</li>
	<ul>
	<li>31 new fashion items</li>
	<li>4 new rings</li>
	<li>5 new couple licenses</li>
	<li>3 rooms</li>
	<li>2 pets</li>
	</ul>
</ol>