<b>Version:</b> 10091<br>
<ol>
<li>Family Tree</li>
	<ul>
	<li>Create a family tree with your Audition friends.</li>
	<li>After purchasing the Family Tree item from the mall, you can access your family tree in any room by clicking the Family Tree button.</li>
	<li>To add someone to your family tree, they must be in a room with you. Open your family tree and click Edit. Click on the "+" button under the respective relation, then select the person you want to add from the list that appears.</li>
	<li>You can also create your own family name and motto that will appear on the family tree.</li>
	</ul>
<li>Photo Studio</li>
	<ul>
	<li>After creating your family tree, you can take photos with your family.</li>
	<li>The Photo Studio is a new building in Audition Town, behind the Audition Studio and to the right of the Rankings board.</li>
	<li>You must have the family tree item to enter.</li>
	<li>When you enter, your family members will appear in the picture. Click the "Photo Click" button to take the photo. The photo will be saved to your screenshot folder (C:\Program Files\Redbana\Audition\SCREENSHOT).</li>
	<li>You can also add a Family Introduction to your photo.</li>
	</ul>
<li>Audition Town Christmas Theme</li>
<li>6 New Songs</li>
	<ul>
	<li>Ali Pierre - Live It Up (128 bpm)</li>
	<li>Kaboose - Build It Up (98 bpm)</li>
	<li>Kyven - Here For You (Instrumental) (132 bpm)</li>
	<li>MJ&iRok - Hands Up (128 bpm)</li>
	<li>Modfunk - Rack Bhayo Ni Ho Bro (Elomak Remix) (128 bpm)</li>
	<li>Mr. Robotic - Don't Wanna Leave (feat. Melody Cross and DJ Bam Bam) (128 bpm)</li>
	</ul>
<li>1 New Guitar Mode Song</li>
	<ul>
	<li>Spicy Soda - My Love (160 bpm) [Easy, Normal, Hard, Crazy]</li>
	</ul>
<li>141 New Fashion Mall Items</li>
	<ul>
	<li>62 new men's items including 3 faces, 12 hairs, 13 tops, 14 bottoms, 16 shoes, and 4 sets.</li>
	<li>69 new women's items including 3 faces, 16 hairs, 12 tops, 13 bottoms, 18 shoes, and 7 sets.</li>
	<li>8 new unisex items including 1 pet, 4 motions, 2 platforms, and 1 emote bubble</li>
	<li>Some Christmas-themed items added</li>
	<li>Couple Battle Party Reset Item</li>
		<ul>
		<li>Married couples can only purchase this item once.</li>
		<li>Unmarried couples and those without a couple can purchase this item multiple times.</li>
		</ul>
	<li>Family Tree Item</li>
	</ul>
<li>48 New Couple Shop Items</li>
	<ul>
	<li>20 new men's items including 5 hairs, 5 tops, 5 bottoms, and 5 shoes.</li>
	<li>20 new women's items including 5 hairs, 5 tops, 5 bottoms, and 5 shoes.</li>
	<li>8 new unisex items including 4 rings and 4 couple licenses, 
	</ul>
</ol>