<b>Version:</b> 10078<br>
<ol>
<li>Indefinite purchase price lowered to eight times the 7 day price.</li>
<li>71 items in mall given the indefinite purchase option.</li>
	<ul>
<li>Accessories - Appelonia HandMirror (Unisex)</li> 
<li>Accessories - love-spreading pink wings (Unisex)</li> 
<li>Accessories - Simple spatula (Unisex)</li> 
<li>Bottom - BB Fancy Bottom (Female)</li> 
<li>Bottom - Belted White Shorts (Female)</li> 
<li>Bottom - Gothic style check skirt (Female)</li> 
<li>Bottom - Neat White Pants (Female)</li> 
<li>Bottom - Nightlife Look Bottom (Female)</li> 
<li>Bottom - Pink Lady Skirt (Female)</li> 
<li>Bottom - pinkyrace-1 style (Female)</li> 
<li>Bottom - black star orange shorts (Male)</li> 
<li>Bottom - Black Superhero Shorts (Male)</li> 
<li>Bottom - Colorful fancy look couple style (Male)</li> 
<li>Bottom - Jungle Printed Pants (Male)</li> 
<li>Bottom - School Uni Couple Set (Male)</li> 
<li>Bottom - spring black jeans (Male)</li> 
<li>Bottom - Vintage Fashion Denim (Male)</li> 
<li>Face - Cute smile face (Female)</li> 
<li>Face - Full of happiness smiling face (Female)</li> 
<li>Face - Whatever Dude (Female)</li> 
<li>Face - Curious "oh?" face (Male)</li> 
<li>Face - Innocent Boy Face (Male)</li> 
<li>Face - Nitty Gritty Face (Male)</li> 
<li>Hair - Do-Up Hair Band (Female)</li> 
<li>Hair - Fancy WhiteHat (Female)</li> 
<li>Hair - Light brown long hair (Female)</li> 
<li>Hair - Long hair braided (Female)</li> 
<li>Hair - Orange Shaggy Perm (Female)</li> 
<li>Hair - Red-dyed bobbed cut (Female)</li> 
<li>Hair - So Cute! Hat & Hair (Female)</li> 
<li>Hair - Beckham spiky hair (Male)</li> 
<li>Hair - Dandy Rick Hair (Male)</li> 
<li>Hair - Dragon scale shaggy cut (Male)</li> 
<li>Hair - Hair Highlights (Male)</li> 
<li>Hair - luxurious soft long hair (Male)</li> 
<li>Hair - MohicanStyle hair tattoo (Male)</li> 
<li>Hair - SwMw-1 style (Male)</li> 
<li>Set - BK/White Dress (Female)</li> 
<li>Set - Jessica-2 style (Female)</li> 
<li>Set - Lovely red polka-dot dress (Female)</li> 
<li>Set - Classy Suit (Male)</li> 
<li>Set - tuxedo couple style (Male)</li> 
<li>Set - Urban Dweller Outfit (Male)</li> 
<li>Shoes - HYOL-16 Style (Female)</li> 
<li>Shoes - Pinky style cute sandals (Female)</li> 
<li>Shoes - Red Dot Heels (Female)</li> 
<li>Shoes - Red Striped Ribbon Shoes (Female)</li> 
<li>Shoes - Ruby Red Heels (Female)</li> 
<li>Shoes - Simple Black Sandals (Female)</li> 
<li>Shoes - White flats with ribbons (Female)</li> 
<li>Shoes - 2-Belt BrownSandals (Male)</li> 
<li>Shoes - Beach couple style (Male)</li> 
<li>Shoes - brown leather walking shoes (Male)</li> 
<li>Shoes - Flashy Red-Black Sneakers (Male)</li> 
<li>Shoes - white New York sneakers (Male)</li> 
<li>Shoes - White slip-on shoes (Male)</li> 
<li>Shoes - ZooYork style two tone shoes (Male)</li> 
<li>Top - Flower pattern halter neck tunic (Female)</li> 
<li>Top - Pink Galore Style (Female)</li> 
<li>Top - PinkyBow CutieStyle (Female)</li> 
<li>Top - Puff shoulder ribbon blouse (Female)</li> 
<li>Top - Rainbow print couple style (Female)</li> 
<li>Top - RedPine Blouse (Female)</li> 
<li>Top - Romantic Summer Sundress (Female)</li> 
<li>Top - Band Leader Jacket (Male)</li> 
<li>Top - Basketball Shirt (Male)</li> 
<li>Top - Black fancy suit couple style (Male)</li> 
<li>Top - Campus Boy (Male)</li> 
<li>Top - Cool Dragon-2 style (Male)</li> 
<li>Top - Popstar Tee (Male)</li> 
<li>Top - Vintage Blazer (Male)</li>
	</ul>
</ol>