<b>Version:</b> 10077<br>
<ol>
<li>Story Mode (Episode 2)</li>
	<ul>
	<li>Stories 1 through 20 of Episode 2 added.</li>
	<li>Episode 1 does not have to be completed to do stories in Episode 2.</li>
	</ul>
<li>100 New Couple Battle Party NPCs.</li>
<li>5 New Songs</li>
	<ul>
	<li>Audition - I'll Come To See You (125 bpm)</li>
	<li>Audition - Take On Me (99 bpm)</li>
	<li>DiRTY RADiO - Wanna Ride (Radio Cut) (124 bpm)</li>
	<li>Electrocute - On The Beat (83 bpm)</li>
	<li>Liane V. - Girl Next Door (160 bpm)</li>
	</ul>
<li>3 New Guitar Songs</li>
	<ul>
	<li>Audition - Be Together in Your World (120 bpm) [Easy, Normal, Hard]</li>
	<li>Audition - Love Mode (95 bpm) [Easy, Normal, Hard, Crazy]</li>
	<li>Audition - Run Again (130 bpm) [Easy, Normal, Hard, Crazy]</li>
	</ul>
<li>110 New Items</li>
	<ul>
	<li>68 Women's Items</li>
	<li>38 Men's Items</li>
	<li>4 Motions</li>
	</ul>
</ol>