<b>Version:</b> 10073<br>
<ol>
<li>Mission Book / Mission Update</li>
	<ul>
	<li>The Mission Book will record your success and failure count for each mission that you encounter while playing.</li>
	<li>Missions may appear in-game if there are at least 4 players and the music is set to random.</li>
	<li>Missions will now minimize to the left-hand side of the screen.  You can view it while playing by pressing F10.<br>
		<img src="{{ GLOBAL.staticUrl }}/img/patchinfo/missionmini.png"></li>
	<li>Successfully completing a mission will give you bonus beats, exp, FAM points, couple points (hearts), or megaphone points.</li>
	<li>Missions are available in normal modes, Beat Up, One-Two Party, and Beat Rush.</li>
	<li>There are also hidden missions that will appear once you unlock them.  Unlock hidden missions by completing other missions.</li>
	<li>If you complete all missions, you will receive a rare item.</li>
	</ul>
<li>Team Info / Team Titles</li>
	<ul>
	<li>Right-click someone and select "Team Info" to view team info.</li>
	<li>The member with the highest experience amount is that team's Leader. The other two members are Managers.</li>
	<li>You and your team can earn a title for either Chreography, Crazy Choreography, Crazy 9, or Beat-Up mode.</li>
	<li>To earn a title, you must play the respective mode. Playing the mode will give you points that will fill up that mode's gauge. Once you reach 100 points, you can click on the mode in your Team Info to give yourself that title. Playing without team members will give you 2 points and playing with team members will give you 10 points.</li>
	<li>Once you choose a title, you cannot change it while in the same team. If you want to change your team's title, you must break the team and reapply.</li>
	<li>After choosing a title, you can give your team an introduction and view that day's winning rate, as well as the overall winning rate, from your Team Info. "Today's Winning Rate" will reset everyday at midnight EST.</li>
	<li>For more information on team titles, badges, and matches, check out <a href="http://forums.redbana.com/showthread.php?t=43751" target="_blank">this guide</a> on Redbana's forums.</li>
	</ul>
<li>New Crazy 9 Battle Party NPCs.</li>
<li>Union Battle Party and Beat-Up Battle Party have been made easier.</li>
<li>New Songs</li>
	<ul>
	<li>Audition - Goodbye, Good Day (93 bpm)</li>
	<li>Audition - Stay (100 bpm)</li>
	<li>Audition - Seeing You Again (130 bpm)</li>
	<li>Julia Michaels - Born to Party (120 bpm)</li>
	<li>Kelsey Maree - La La La (134 bpm)</li>
	<li>Robyn Johnson - Girls (107 bpm)</li>
	</ul>
<li>New Items</li>
	<ul>
	<li>53 Men's Items</li>
	<li>55 Women's Items</li>
	<li>4 Motions</li>
	</ul>
</ol>