<b>Version:</b> 10134<br>
<ol>
<li>66 New Mall Items</li>
    <ul>
    <li>43 new women's items including 1 face, 12 hairs, 6 tops, 6 bottoms, 12 shoes, and 6 sets.</li>
    <li>20 new men's items including 1 face, 4 hairs, 4 tops, 5 bottoms, 5 shoes, and 1 set.</li>
    <li>1 new pet.</li>
    <li>2 new motions.</li>
    </ul>
</ol>