<b>Version:</b> 10113<br>
<ol>
<li>63 New Items</li>
	<ul>
	<li>37 new women's items including 1 face, 11 hairs, 3 tops, 3 bottoms, 11 shoes, and 8 sets.</li>
	<li>20 new men's items including 1 face, 5 hairs, 4 tops, 4 bottoms, 5 shoes, and 1 set.</li>
	<li>2 new pets.</li>
	<li>2 new motions.</li>
	<li>2 new accessories.</li>
	</ul>
</ol>