<b>Version:</b> 10100<br>
<ol>
<li>10 New Block Beat Songs</li>
	<ul>
	<li>Audition - 3254 Techno Party (142 bpm) [Lv. 3]</li>
	<li>Audition - Beat City (120 bpm) [Lv. 3]</li>
	<li>Audition - Can Can (150 bpm) [Lv. 3]</li>
	<li>Audition - Everyday (175 bpm) [Lv. 3]</li>
	<li>Audition - Hands Up!!! (135 bpm) [Lv. 3]</li>
	<li>Audition - Heavy Metal Syndrome (145 bpm) [Lv. 3]</li>
	<li>Audition - Little By Little (125 bpm) [Lv. 3]</li>
	<li>Audition - Mr. Detective (128 bpm) [Lv. 3]</li>
	<li>Audition - Mr. No. 1 Guide (128 bpm) [Lv. 2]</li>
	<li>Audition - Ur Ma Angel (130 bpm) [Lv. 3]</li>
	</ul>
<li>60 New Items</li>
	<ul>
	<li>16 new men's items including 1 face, 4 hairs, 4 tops, 3 bottoms, 3 shoes, and 1 set.</li>
	<li>39 new women's items including 1 face, 10 hairs, 8 tops, 8 bottoms, 10 shoes, and 2 sets.</li>
	<li>2 motions.</li>
	<li>3 accessories.</li>
	</ul>
<li>75 new items now have the indefinite purchase option.</li>
	<ul>
	<li>"Stage is Mine" DJ mike (Male or Female Accessory)</li>
<li>BlackHawk Wings (Male or Female Accessory)</li>
<li>Charisma BlackWings (Male or Female Accessory)</li>
<li>ExoticMountain FoldingFan (Male or Female Accessory)</li>
<li>Foam Club (Male or Female Accessory)</li>
<li>LuckyYear Bangpai kite (Male or Female Accessory)</li>
<li>LuxuriouGold HandBag (Male or Female Accessory)</li>
<li>BH Indigo JeanShorts (Female Bottom)</li>
<li>Black leggings (Female Bottom)</li>
<li>Deuce Deuce Jeans (Male Bottom)</li>
<li>Faded jeans (Male Bottom)</li>
<li>LightBrown Mini Skirt (Female Bottom)</li>
<li>Red Mini Wrap (Female Bottom)</li>
<li>Rolled-up black jean shorts (Female Bottom)</li>
<li>Saucy Denim Pants (Male Bottom)</li>
<li>Sexy Doll (Female Bottom)</li>
<li>Short Denim Skirt (Female Bottom)</li>
<li>Skinny White Jeans (Male Bottom)</li>
<li>Sporty (Male Bottom)</li>
<li>Street Boy Shorts (Male Bottom)</li>
<li>Streetman Pants (Male Bottom)</li>
<li>1000 Yard Stare (Female Face)</li>
<li>cute eye cat face (Female Face)</li>
<li>I'm In Love (Male Face)</li>
<li>Kissable Lips (Female Face)</li>
<li>Kissable Lips (Male Face)</li>
<li>Sulky face (Male Face)</li>
<li>Baby brindled cow hat (Male Hair)</li>
<li>Black Hair w/ Ribbon (Female Hair)</li>
<li>Cotton Candy (Female Hair)</li>
<li>Fantasy Pony Tail (Female Hair)</li>
<li>Geisha Girl (Female Hair)</li>
<li>gray permed hair w/ bow (Female Hair)</li>
<li>Lead Singer (Male Hair)</li>
<li>Luxurious blonde hair (Male Hair)</li>
<li>Mythical Warrior (Male Hair)</li>
<li>one side ponytail (Female Hair)</li>
<li>Round Cut Style (Male Hair)</li>
<li>Sharp Blond (Male Hair)</li>
<li>SimpleLove Wave Perm (Female Hair)</li>
<li>Spiky Ponytail (Male Hair)</li>
<li>Bellbottom ToughStyle (Male Set)</li>
<li>Black Corset Dress (Female Set)</li>
<li>Denim Overall Miniskirt (Female Set)</li>
<li>Denim Overalls (Male Set)</li>
<li>Gossip Headliner (Female Set)</li>
<li>Panda Paradox (Male Set)</li>
<li>Active Sneakers (Male Shoes)</li>
<li>Beach Line Sandals (Female Shoes)</li>
<li>Beat Street Shoes (Male Shoes)</li>
<li>Business Boots (Male Shoes)</li>
<li>Dark Gray Canvas (Male Shoes)</li>
<li>Dressy Black Shoes (Female Shoes)</li>
<li>PinkyClub CuteHeels (Female Shoes)</li>
<li>SchoolGirl Style Shoes (Female Shoes)</li>
<li>Serving (Male Shoes)</li>
<li>Sexy Black-Ankled Heels (Female Shoes)</li>
<li>Special Forces Casual (Male Shoes)</li>
<li>Warrior of Fantasy (Male Shoes)</li>
<li>white accent black sneakers (Female Shoes)</li>
<li>White Stripe High Heels (Female Shoes)</li>
<li>Celestial Prince Top (Male Top)</li>
<li>Classy Sexy Jacket (Female Top)</li>
<li>Fly Clubber Look (Male Top)</li>
<li>Girlfriend Blouse (Female Top)</li>
<li>Innocent Bad Girl Top (Female Top)</li>
<li>Ivory tank top (Female Top)</li>
<li>JDG-2 Style (Male Top)</li>
<li>Lacy Tank Top (Female Top)</li>
<li>Lavish Jacket (Male Top)</li>
<li>Red Printed Shirt (Female Top)</li>
<li>Sporty Top (Female Top)</li>
<li>Town Wear (Male Top)</li>
<li>White Heart Black Hood (Male Top)</li>
<li>With Love Tee (Male Top)</li>
	</ul>
</ol>