<b>Version:</b> 10094<br>
<ol>
<li>Guitar Tournament</li>
	<ul>
	<li>There are 7 rounds in the tournament. Songs get increasingly more difficult as the tournament progresses.</li>
	<li>Round 1 is a Warm Up round. Nobody is eliminated afterward.</li>
	<li>After rounds 2 through 6, the players with the lowest 10% of scores in the entire tournament will be eliminated. Where you rank in individual rooms does not matter.</li>
	<li>You can see where you currently rank, the 1st place and 6th place player, and the minimum score required to remain in the tournament at any time from the guitar at the right side of the screen.<br />
	<img src="{{ GLOBAL.staticUrl }}/img/patchinfo/guitartournrank.png" />
	<li>Round 7 will consist of the highest 6 scoring players. Round 7 is always a Crazy level song.</li>
	<li>The player with the highest cumulative score from all 7 rounds will receive a guitar medal, which awards double EXP and beats.</li>
	<li>Minimum of level 6 required to join and minimum of 12 players required to start.</li>
	<li>Throughout the tournament you will earn GP (Guitar Points) which are added to your monthly guitar tournament ranking.</li>
	<li>The tournament starts at 5pm PST (8pm EST).</li>
	</ul>
<li>Guitar Ranking Systems</li>
	<ul>
	<li>Guitar Music Ranking</li>
		<ul>
		<li>When you play in a Guitar Mode room with at least 4 people, your score will be recorded on the Guitar Music Ranking Board.</li>
		<li>You must play in either Free - GuitarChannel1 or Free - GuitarChannel2 in order for your score to be ranked.</li>
		</ul>
	<li>Guitar Master Ranking</li>
		<ul>
		<li>The Master Ranking system awards you Master Points for how you rank in the Guitar Music Ranking.</li>
		<li>For every song for which you are ranked in the top 100, you receive Master Points. The player in first place will receive 100 points, second will receive 99 points, third will receive 98 points, and so on. The player in 100th place will receive 1 point. Each and every song is counted toward your Master Ranking, so play as many songs as you can!</li>
		<li>At the end of each month, the top 3 will receive one of three unique guitars. These special guitars have bonuses such as bonus beats or the ability to prevent your portrait from flashing red when you use FlameOut (so other players won't copy your timing)!</li>
		<li>You can look at the top players for each song, the top Master players, and the top 3 from past months at the Ranking Board, located to the right of the Dancing Hall.</li>
		</ul>
	<li>The Guitar Ranking Systems update four times per day (12:30 am, 6:30 am, 12:30 pm and 6:30 pm EST).</li>
	</ul>
<li>New Dreamforest Stage<br /><img src="{{ GLOBAL.staticUrl }}/img/patchinfo/dreamforesttitle.png" /><br /><img src="{{ GLOBAL.staticUrl }}/img/patchinfo/dreamforest.png" /></li>
<li>Over 600 new dance moves</li>
<li>7 New Songs</li>
	<ul>
	<li>DJ Soulz feat. DJ Techno - Triumph (139 bpm)</li>
	<li>Fizzyfox Music - Shake Your Body (130 bpm)</li>
	<li>Kaboose - Get Up (93 bpm)</li>
	<li>MJ&iRoK - Heart Beat (128 bpm)</li>
	<li>Summer Rona - Perfect World (121 bpm)</li>
	<li>Tgfcoder - Galaxy (160 bpm)</li>
	<li>Windcheater - Apathetic (125 bpm)</li>
	</ul>
<li>2 New Night Dance Songs</li>
	<ul>
	<li>DJ Soulz feat. DJ Techno - Triumph (139 bpm)</li>
	<li>Tgfcoder - Galaxy (160 bpm)</li>
	</ul>
<li>6 New Beat Up Songs</li>
	<ul>
	<li>DJ Soulz feat. DJ Techno - Triumph (139 bpm) [Lv. 3]</li>
	<li>Kaboose - Get Up (93 bpm) [Lv. 1]</li>
	<li>MJ&iRoK - Heart Beat (128 bpm) [Lv. 2]</li>
	<li>Summer Rona - Perfect World (121 bpm) [Lv. 2]</li>
	<li>Tgfcoder - Galaxy (160 bpm) [Lv. 3]</li>
	<li>Windcheater - Apathetic (125 bpm) [Lv. 2]</li>
	</ul>
<li>6 New One Two Party Songs</li>
	<ul>
	<li>DJ Soulz feat. DJ Techno - Triumph (139 bpm) [Lv. 4]</li>
	<li>Kaboose - Get Up (93 bpm) [Lv. 2]</li>
	<li>MJ&iRoK - Heart Beat (128 bpm) [Lv. 3]</li>
	<li>Summer Rona - Perfect World (121 bpm) [Lv. 3]</li>
	<li>Tgfcoder - Galaxy (160 bpm) [Lv. 4]</li>
	<li>Windcheater - Apathetic (125 bpm) [Lv. 3]</li>
	</ul>
<li>7 New Guitar Songs</li>
	<ul>
	<li>Audition - Audition (168 bpm) [Easy, Normal, Hard, Crazy]</li>
	<li>Cool Age - Cool Guy's Romance (90 bpm) [Easy, Normal, Hard]</li>
	<li>Go Go Boys - I Like You (110 bpm) [Easy, Normal, Hard]</li>
	<li>Lee Jihyung - Metal Fork Junior's Summer (92 bpm) [Easy, Normal, Hard]</li>
	<li>Loveholic - Come & Play (120 bpm) [Easy, Normal, Hard]</li>
	<li>No Brain - You've Fallen For Me (152 bpm) [Easy, Normal, Hard, Crazy]</li>
	<li>Super Kidd - RockStar (130 bpm) [Easy, Normal, Hard]</li>
	</ul>
<li>66 New Items</li>
	<ul>
	<li>21 men's items including 2 faces, 5 hairs, 4 tops, 4 bottoms, 5 shoes, and 1 set.</li>
	<li>36 women's items including 2 faces, 10 hairs, 4 tops, 4 bottoms, 10 shoes, and 6 sets.</li>
	<li>2 new motions.</li>
	<li>1 new emoticon.</li>
	<li>2 new accessories.</li>
	<li>4 new guitars.</li>
	</ul>
</ol>