<b>Version:</b> 10106<br>
<ol>
<li>Stories 21 through 40 of Episode 2 added to Story Mode</li>
	<ul>
	<li>21 - Get at least 450,000 points in Beat Rush Normal - 4 Keys in a room with at least 5 people.</li>
	<li>22 - Get at least 150,000 points three times in Guitar Mode in a room with at least 5 people.</li>
	<li>23 - Get at least 200,000 points three times in Guitar Mode in a room with at least 5 people.</li>
	<li>24 - Win against NPCs in Choreography - 8 Keys.</li>
	<li>25 - Get at least 150,000 points three times in Guitar Mode in a room with at least 3 people.</li>
	<li>26 - Get at least 200,000 points three times in Guitar Mode in a room with at least 3 people.</li>
	<li>27 - Win as a team against NPCs in Choreography - C - 4 Keys</li>
	<li>28 - Get at least 20 perfects three times in Beat Rush Normal - 4 Keys in a room with at least 4 people.</li>
	<li>29 - Get at least 5 consecutive perfects (Perfect x4) with NPCs in Choreography - C - 4 Keys.</li>
	<li>30 - Get at least 150,000 points five times in Guitar Mode in a room with at least 5 people.</li>
	<li>31 - Get at least 200,000 points three times in Guitar Mode in a room with at least 5 people.</li>
	<li>32 - Win as a team against NPCs in Choreography - C - 8 Keys.</li>
	<li>33 - Get at least 6 consecutive perfects (Perfect x5) with NPCs in Choreography - 4 Keys.</li>
	<li>34 - Win as a team against NPCs in Choreography - C - 4 Keys.</li>
	<li>35 - Win as a team against NPCs in Choreography - C - 8 Keys.</li>
	<li>36 - Win as a team against NPCs in Choreography - C - 4 Keys.</li>
	<li>37 - Win as a team against NPCs in Choreography - C - 4 Keys.</li>
	<li>38 - Get at least 5 consecutive perfects (Perfect x4) and at least 500,000 points with NPCs in Choreography - C - 8 Keys.</li>
	<li>39 - Win as a team against NPCs in Choreography - C - 8 Keys.</li>
	<li>40 - Win as a team against NPCs in Choreography - C - 8 Keys.</li>
	</ul>
<li>New Team Battle Party NPCs</li>
	<ul>
	<li>25 new NPCs added.</li>
	<li>The new hardest NPC team has an earn amount of 828,000 Beats.</li>
	<li>To play Team Battle Party, select "Battle Party" in the Main Mode selector when creating a room, then click the yellow "Team" button above the NPC selector.</li>
	</ul>
<li>8 New Songs</li>
	<ul>
	<li>Amigaman - Honey (106 bpm)</li>
	<li>Analogue Revolution - Style (feat. Marissa Beatini) (127 bpm)</li>
	<li>Brokencyde - Let's Dance (125 bpm)</li>
	<li>Deep Sleep - Video Girls (85 bpm)</li>
	<li>DiRTY RADiO - Ground Shake (130 bpm)</li>
	<li>Kaboose - The Difference (98 bpm)</li>
	<li>MJ&iRok - Going Crazy (128 bpm)</li>
	<li>Thrill Kill - Dress In Stereo (Original Mix) (121 bpm)</li>
	</ul>
<li>3 New Night Dance Songs</li>
	<ul>
	<li>Analogue Revolution - Style (feat. Marissa Beatini) (127 bpm)</li>
	<li>Brokencyde - Let's Dance (125 bpm)</li>
	<li>DiRTY RADiO - Ground Shake (130 bpm)</li>
	</ul>
<li>17 New Beat Up Songs</li>
	<ul>
	<li>Hard (Lv. 3) versions of some existing songs added</li>
		<ul>
		<li>Audition - Destiny (132 bpm) [Lv. 3]</li>
		<li>Audition - Doo Doop (140 bpm) [Lv. 3]</li>
		<li>Audition - Euro 2005 (138 bpm) [Lv. 3]</li>
		<li>Audition - Funky Town (130 bpm) [Lv. 3]</li>
		<li>Audition - Go Go (150 bpm) [Lv. 3]</li>
		<li>Audition - No Space (138 bpm) [Lv. 3]</li>
		<li>Audition - Sweetie (115 bpm) [Lv. 3]</li>
		<li>Audition - Yo! DJ! (135 bpm) [Lv. 3]</li>
		</ul>
	<li>Amigaman - Honey (106 bpm) [Lv. 2]</li>
	<li>Analogue Revolution - Style (feat. Marissa Beatini) (127 bpm) [Lv. 2]</li>
	<li>Audition - With You (150 bpm) [Lv. 3]</li>
	<li>Brokencyde - Let's Dance (125 bpm) [Lv. 2]</li>
	<li>Deep Sleep - Video Girls (85 bpm) [Lv. 2]</li>
	<li>DiRTY RADiO - Ground Shake (130 bpm) [Lv. 3]</li>
	<li>Kaboose - The Difference (98 bpm) [Lv. 2]</li>
	<li>MJ&iRok - Going Crazy (128 bpm) [Lv. 3]</li>
	<li>Thrill Kill - Dress In Stereo (Original Mix) (121 bpm) [Lv. 2]</li>
	</ul>
<li>8 New One Two Party Songs</li>
	<ul>
	<li>Amigaman - Honey (106 bpm) [Lv. 3]</li>
	<li>Analogue Revolution - Style (feat. Marissa Beatini) (127 bpm) [Lv. 3]</li>
	<li>Brokencyde - Let's Dance (125 bpm) [Lv. 3]</li>
	<li>Deep Sleep - Video Girls (85 bpm) [Lv. 2]</li>
	<li>DiRTY RADiO - Ground Shake (130 bpm) [Lv. 4]</li>
	<li>Kaboose - The Difference (98 bpm) [Lv. 2]</li>
	<li>MJ&iRok - Going Crazy (128 bpm) [Lv. 4]</li>
	<li>Thrill Kill - Dress In Stereo (Original Mix) (121 bpm) [Lv. 2]</li>
	</ul>
<li>3 New Guitar Mode Songs</li>
	<ul>
	<li>BellaMafia - BellaMafia (Band ver.) (132 bpm) [Easy, Normal, Hard]</li>
	<li>Monni - Shower (140 bpm) [Easy, Normal, Hard]</li>
	<li>Super Kidd - Music Show (130 bpm) [Easy, Normal, Hard]</li>
	</ul>
<li>2 New Rhythm Holic Songs</li>
	<ul>
	<li>Audition - Don't Cry, My Heart (140 bpm)</li>
	<li>Audition - Left Right (128 bpm)</li>
	</ul>
<li>1 New Space Pang Pang Song</li>
	<ul>
	<li>Audition - Timing (2009 mini-album) (132 bpm)</li>
	</ul>
<li>6 New Block Beat Songs</li>
	<ul>
	<li>Audition - Have a Nice Day (120 bpm) [Lv. 2]</li>
	<li>Audition - Surely (138 bpm) [Lv. 3]</li>
	<li>Audition - Yay Yay Ya (134 bpm) [Lv. 1]</li>
	<li>DiRTY RADiO - My Heart ft. Sherry St. Germain (127 bpm) [Lv. 2]</li>
	<li>Liane V. - Girl Next Door (160 bpm) [Lv. 3]</li>
	<li>Shapes of Race Cars - World's End (160 bpm) [Lv. 3]</li>
	</ul>
<li>91 New Items</li>
	<ul>
	<li>47 new women's items including 2 faces, 12 hairs, 8 tops, 8 bottoms, 12 shoes, and 5 sets.</li>
	<li>35 new men's items including 2 faces, 8 hairs, 8 tops, 8 bottoms, 8 shoes, and 1 set.</li>
	<li>2 new motions.</li>
	<li>1 new DJ booth.</li>
	<li>5 new accessories.</li>
	<li>1 new guitar.</li>
	</ul>
</ol>