<b>Version:</b> 10137<br>
<ol>
<li>5 New Premium Songs</li>
    <ul>
    <li>*Ka Lide - Believe in Love (128 bpm)</li>
    <li>*KIF - Piece of My Heart (128 bpm)</li>
    <li>*KIF - The Darkness (134 bpm)</li>
    <li>*MJ&iRoK - Rock This Place (128 bpm)</li>
    <li>*Spoony - Skake It (128 bpm)</li>
    </ul>
<li>3 New Night Dance Songs</li>
    <ul>
    <li>*KIF - Piece of My Heart (128 bpm)</li>
    <li>*KIF - The Darkness (134 bpm)</li>
    <li>*Spoony - Skake It (128 bpm)</li>
    </ul>
<li>5 New Beat Up Songs</li>
    <ul>
    <li>*Ka Lide - Believe in Love (128 bpm) [Lv. 2]</li>
    <li>*KIF - Piece of My Heart (128 bpm) [Lv. 2]</li>
    <li>*KIF - The Darkness (134 bpm) [Lv. 3]</li>
    <li>*MJ&iRoK - Rock This Place (128 bpm) [Lv. 2]</li>
    <li>*Spoony - Skake It (128 bpm) [Lv. 2]</li>
    </ul>
<li>5 New One Two Party Songs</li>
    <ul>
    <li>*Ka Lide - Believe in Love (128 bpm) [Lv. 3]</li>
    <li>*KIF - Piece of My Heart (128 bpm) [Lv. 3]</li>
    <li>*KIF - The Darkness (134 bpm) [Lv. 4]</li>
    <li>*MJ&iRoK - Rock This Place (128 bpm) [Lv. 4]</li>
    <li>*Spoony - Skake It (128 bpm) [Lv. 3]</li>
    </ul>
<li>97 New Mall Items</li>
    <ul>
    <li>61 new women's items including 1 face, 16 hairs, 9 tops, 10 bottoms, 16 shoes, and 9 sets.</li>
    <li>34 new men's items including 1 face, 9 hairs, 6 tops, 6 bottoms, 6 shoes, and 6 sets.</li>
    <li>2 new motions.</li>
    </ul>
<li>1 New Couple Shop Item</li>
    <ul>
    <li>1 new accessory.</li>
    </ul>
</ol>
A song with an asterisk (*) before it is a premium song. The DJ of the room must have purchased play time for the song from <a href="//redbanamusic.com" target="_blank">RedbanaMusic.com</a> in order to play it.