<b>Version:</b> 10144<br>
<ol>
<li>Christmas Themed Single/Couple Photo Stickers</li>
<li>76 New Mall Items</li>
    <ul>
    <li>Additional christmas themed items added.</li>
    <li>47 new women's items including 1 face, 13 hairs, 7 tops, 7 bottoms, 13 shoes, and 6 sets.</li>
    <li>21 new men's items including 1 face, 5 hairs, 5 tops, 5 bottoms, and 5 shoes.</li>
    <li>2 new items.</li>
    <li>2 new motions.</li>
    <li>1 new platform.</li>
    <li>1 new emoticon bubble.</li>
    <li>2 new accessories.</li>
    </ul>
<li>3 New Couple Shop Items</li>
    <ul>
    <li>1 new accessory.</li>
    <li>1 new ring.</li>
    <li>1 new couple certificate.</li>
    </ul>
</ol>