<b>Version:</b> 10143<br>
<ol>
<li>Secret Garden<br /><img src="{{ GLOBAL.staticUrl }}/img/patchinfo/secretgarden.png" /></li>
    <ul>
    <li>The Secret Garden can be accessed from the Couple Garden.</li>
    <li>In the Secret Garden, you plant herbs that can be combined to create plant growth supplements and rare clothing items.</li>
    <li>First, plant a seed. After planting, you must immediately water and add fertilizer. Secret Garden herbs grow very quickly:</li>
        <ul>
        <li>Rosemary takes 7 minutes to finish.</li>
        <li>Spearmint takes 23 minutes to finish.</li>
        <li>Peppermint takes 127 minutes finish.</li>
        </ul>
    <li>Next, combine herbs in the secret garden cauldron to create materials. Herbs can be combined to create the following:<br /><img src="{{ GLOBAL.staticUrl }}/img/patchinfo/concentrates.png" /></li>
        <ul>
        <li>1 Rosemary Concentrate = 5 Rosemary herbs</li>
        <li>1 Spearmint Concentrate = 5 Spearmint herbs</li>
        <li>1 Double Mix = 5 Rosemary herbs and 5 Spearmint herbs</li>
        <li>1 Triple Mix = 11 Rosemary herbs and 1 Peppermint herb</li>
        <li>1 Triple Mix G = 10 Rosemary herbs, 10 Spearmint herbs, and 1 Peppermint herb</li>
        </ul>
    <li>Next, combine the materials you just created in the same cauldron to create growth supplements/rare items. Materials can be combined to create the following:<br /><img src="{{ GLOBAL.staticUrl }}/img/patchinfo/supplements.png" /></li>
        <ul>
        <li>1 Step Growth Supplement = 1 Rosemary Concentrate, 1 Spearmint Concentrate, 1 Double Mix</li>
        <li>2 Step Growth Supplement = 2 Rosemary Concentrates, 1 Spearmint Concentrate, 1 Triple Mix</li>
        <li>3 Step Growth Supplement = 5 Rosemary Concentrates, 5 Spearmint Concentrates, 1 Triple Mix G</li>
        <li>Instant Growth Supplement = 10 Rosemary Concentrates, 10 Spearmint Concentrates, 1 Triple Mix G</li>
        <li>Rare Items (Includes clothes and a Secret Garden expansion item) = 21 Rosemary Concentrates and 1 Beats item OR 10 Spearmint Concentrates and 1 Beats item</li>
        </ul>
    <li>When you use growth supplements on one of your plants in your regular garden, they will skip however many steps of growth. For example, a 1 Step Growth Supplement will make them skip 1 step. Instant Growth Supplements make your plants bloom instantly.</li>
    </ul>
<li>Christmas theme added to Audition Town & the Couple Garden, and a Christmas tree added to rooms.<br /><img src="{{ GLOBAL.staticUrl }}/img/patchinfo/xmas.png" /></li>
<li>5 New Songs</li>
    <ul>
    <li>Akay47 - Comfortable (feat. Travis Lee & Tattz) (105 bpm)</li>
    <li>Blazed Out Music - Top of the World (130 bpm)</li>
    <li>Denab Records - Feel So Good (133 bpm)</li>
    <li>Denise Lopez - Girls & Rock 'n' Roll (feat. Lazee) (124 bpm)</li>
    <li>DJ Regal - Pump the Bass (143 bpm)</li>
    </ul>
<li>5 New Night Dance Songs</li>
    <ul>
    <li>Akay47 - Comfortable (feat. Travis Lee & Tattz) (105 bpm)</li>
    <li>Blazed Out Music - Top of the World (130 bpm)</li>
    <li>Denab Records - Feel So Good (133 bpm)</li>
    <li>Denise Lopez - Girls & Rock 'n' Roll (feat. Lazee) (124 bpm)</li>
    <li>DJ Regal - Pump the Bass (143 bpm)</li>
    </ul>
<li>5 New Beat Up Songs</li>
    <ul>
    <li>Akay47 - Comfortable (feat. Travis Lee & Tattz) (105 bpm) [Lv. 1]</li>
    <li>Blazed Out Music - Top of the World (130 bpm) [Lv. 2]</li>
    <li>Denab Records - Feel So Good (133 bpm) [Lv. 2]</li>
    <li>Denise Lopez - Girls & Rock 'n' Roll (feat. Lazee) (124 bpm) [Lv. 2]</li>
    <li>DJ Regal - Pump the Bass (143 bpm ) [Lv. 3]</li>
    </ul>
<li>5 New One Two Party Songs</li>
    <ul>
    <li>Akay47 - Comfortable (feat. Travis Lee & Tattz) (105 bpm) [Lv. 2]</li>
    <li>Blazed Out Music - Top of the World (130 bpm) [Lv. 3]</li>
    <li>Denab Records - Feel So Good (133 bpm) [Lv. 3]</li>
    <li>Denise Lopez - Girls & Rock 'n' Roll (feat. Lazee) (124 bpm) [Lv. 3]</li>
    <li>DJ Regal - Pump the Bass (143 bpm ) [Lv. 4]</li>
    </ul>
<li>1 New Space Pang Pang Song</li>
    <ul>
    <li>Audition - Feels Good (2009 mini-album) (124 bpm)</li>
    </ul>
<li>1 New Rhythm Holic Song</li>
    <ul>
    <li>Audition - Tell Me Why (122 bpm)</li>
    </ul>
<li>1 New Guitar Song</li>
    <ul>
    <li>Audition - Symphony From The Rock World (152 bpm) [Easy, Normal, Hard, Crazy]</li>
    </ul>
<li>5 New Block Beat Songs</li>
    <ul>
    <li>Dan aka Dan - The Sound (84 bpm) [Lv. 2]</li>
    <li>Lauryn Vyce & Virtuosyk - Party-Ception (128 bpm) [Lv. 1]</li>
    <li>Sideway Runners - Shooting Star (139 bpm) [Lv. 2]</li>
    <li>Soul P. - Goodness (feat. Lisa Kimmey) (93 bpm) [Lv. 3]</li>
    <li>The Party Party - Whistle Song (128 bpm) [Lv. 1]</li>
    </ul>
<li>1 Song Removed</li>
    <ul>
    <li>DiRTY RADiO - Wanna Ride (Radio Cut) (124 bpm)</li>
    </ul>
<li>72 New Fashion Mall Items</li>
    <ul>
    <li>45 new women's items including 2 faces, 11 hairs, 5 tops, 6 bottoms, 13 shoes, and 8 sets.</li>
    <li>24 new men's items including 2 faces, 5 hairs, 5 tops, 6 bottoms, and 6 shoes.</li>
    <li>2 new motions.</li>
    <li>1 new accessory.</li>
    </ul>
<li>19 New Couple Garden Market Items</li>
    <ul>
    <li>4 new seeds.</li>
    <li>15 new accessories.</li>
    </ul>
</ol>