<b>Version:</b> 10199<br>
<ol>
    <li>107 New Fashion Mall Items
        <ul>
        <li>67 new women's items including 3 faces, 17 hairs, 13 tops, 13 bottoms, 17 shoes, and 4 sets.</li>
        <li>37 new men's items including 3 faces, 9 hairs, 8 tops, 8 bottoms, 9 shoes, and 1 set.</li>
        <li>1 new DJ booth</li>
        <li>2 new accessories</li>
        </ul></li>
</ol>