<b>Version:</b> 10157/10158/10159<br>
<ol>
<li>Story Mode Episode 1 Reset Item</li>
    <ul>
    <li>With this item, you can reset all of your stories in Episode 1.</li>
    <li>All stories will lock again, as if you've never done story mode before, so you can complete them again.</li>
    <li>The EXP/Beat amounts earned for stories also resets.  Your cumulative story completion amount (i.e. the amount shown in the Story Ranking) will not reset.</li>
    <li>You will retain the highest E1 story medal you've already earned.</li>
    <li>Must be at least Level 6 to purchase the item.</li>
    <li>Can be purchased from the mall under the Items tab for 4,000 Bana Cash.</li>
    </ul>
<li>Sell Multiple Beats Items</li>
    <ul>
    <li>In the My Items section of the mall, you can now click the button at the top to sell multiple Beats items at once.</li>
    <li>Sell up to 10 Beats items at once.</li>
    </ul>
<li>113 New Mall Items</li>
    <ul>
    <li>67 new women's items including 3 faces, 17 hairs, 12 tops, 12 bottoms, 18 shoes, and 5 sets.</li>
    <li>39 new men's items including 3 faces, 9 hairs, 8 tops, 9 bottoms, 9 shoes, and 1 set.</li>
    <li>1 new item.</li>
    <li>1 new DJ booth.</li>
    <li>1 new platform.</li>
    <li>4 new accessories.</li>
    </ul>
<li>4 New Couple Shop Items</li>
    <ul>
    <li>2 new rings.</li>
    <li>2 new couple licenses.</li>
    </ul>
<li>8 New Couple Garden Items</li>
    <ul>
    <li>4 new seeds.</li>
    <li>4 new accessories.</li>
    </ul>
</ol>