<b>Version:</b> 10153/10154<br>
<ol>
<li>Couple Garden Bee Collector</li>
    <ul>
    <li>A bee will go around your garden and collect all of your rewards that drop in Couple Garden.</li>
    <li>Costs 3,000 Cash for 30 days, 6,000 Cash for 90 days, and 18,000 Cash for 1 year.</li>
    </ul>
<li>5 New Couple Garden Items</li>
    <ul>
    <li>2 new seeds.</li>
    <li>2 new accessories.</li>
    <li>1 new item.</li>
    </ul>
<li>109 New Mall Items</li>
    <ul>
    <li>63 new women's items including 3 faces, 17 hairs, 9 tops, 9 bottoms, 17 shoes, and 8 sets.</li>
    <li>43 new men's items including 3 faces, 10 hairs, 10 tops, 10 bottoms, and 10 shoes.</li>
    <li>3 new items.</li>
        <ul>
        <li>2 new hand trails.</li>
        <li>1 new finish effect.</li>
        </ul>
    <li>1 new beats item added (women's hair).</li>
    </ul>
</ol>