<b>Version:</b> 10161<br>
<ol>
<li>108 New Mall Items</li>
    <ul>
    <li>65 new women's items including 3 faces, 17 hairs, 13 tops, 12 bottoms, 16 shoes, and 4 sets.</li>
    <li>41 new men's items including 3 faces, 9 hairs, 9 tops, 9 bottoms, 10 shoes, and 1 set.</li>
    <li>1 new DJ booth.</li>
    <li>1 new guitar.</li>
    </ul>
</ol>