<b>Version:</b> 10162<br>
<ol>
<li>New FAM Battle Modes</li>
    <ul>
    <li>Dynamic 4 & 8 and Crazy Dynamic 4 & 8 added to FAM Battle.</li>
    </ul>
<li>Mission Icons</li>
    <ul>
    <li>New icons appear over your head that show how many missions you've completed.</li>
    <li>These icons cycle.<br /><img src="{{ GLOBAL.staticUrl }}/img/patchinfo/missionicons.png" /></li>
    </ul>
<li>Couple License Preview</li>
    <ul>
    <li>You can now preview couple licenses from the Couple Shop with your own info.</li>
    </ul>
<li>Couple licenses can now be set to private.</li>
<li>5 New Songs</li>
    <ul>
    <li>Amo - Borderline (92 bpm)</li>
    <li>Amo - Fade Out (138 bpm)</li>
    <li>Eminent Pulse - Just One Night (134 bpm)</li>
    <li>Fresh Body Shop - The Game (160 bpm)</li>
    <li>Kyven - My Mistress (124 bpm)</li>
    </ul>
<li>5 New Night Dance Songs</li>
    <ul>
    <li>Amo - Borderline (92 bpm)</li>
    <li>Amo - Fade Out (138 bpm)</li>
    <li>Eminent Pulse - Just One Night (134 bpm)</li>
    <li>Fresh Body Shop - The Game (160 bpm)</li>
    <li>Kyven - My Mistress (124 bpm)</li>
    </ul>
<li>5 New Beat Up Songs</li>
    <ul>
    <li>Amo - Borderline (92 bpm) [Lv. 1]</li>
    <li>Amo - Fade Out (138 bpm) [Lv. 3]</li>
    <li>Eminent Pulse - Just One Night (134 bpm) [Lv. 2]</li>
    <li>Fresh Body Shop - The Game (160 bpm) [Lv. 2]</li>
    <li>Kyven - My Mistress (124 bpm) [Lv. 2]</li>
    </ul>
<li>5 New One Two Party Songs</li>
    <ul>
    <li>Amo - Borderline (92 bpm) [Lv. 2]</li>
    <li>Amo - Fade Out (138 bpm) [Lv. 4]</li>
    <li>Eminent Pulse - Just One Night (134 bpm) [Lv. 3]</li>
    <li>Fresh Body Shop - The Game (160 bpm) [Lv. 4]</li>
    <li>Kyven - My Mistress (124 bpm) [Lv. 3]</li>
    </ul>
<li>1 New Guitar Song</li>
    <ul>
    <li>Audition - Strawberry Jam (188 bpm) [Easy, Normal, Hard, Crazy]</li>
    </ul>
<li>117 New Mall Items</li>
    <ul>
    <li>67 new women's items including 3 faces, 17 hairs, 13 tops, 14 bottoms, 17 shoes, and 3 sets.</li>
    <li>39 new men's items including 3 faces, 9 hairs, 9 tops, 9 bottoms, and 9 shoes.</li>
    <li>1 new DJ booth.</li>
    <li>1 new platform.</li>
    <li>4 new emoticons.</li>
    <li>4 new accessories.</li>
    <li>1 new guitar.</li>
    </ul>
<li>5 New Couple Shop Items</li>
    <ul>
    <li>2 new rings.</li>
    <li>3 new couple licenses.</li>
    </ul>
<li>11 New Couple Garden Items</li>
    <ul>
    <li>2 new seeds.</li>
    <li>9 new accessories.</li>
    </ul>
</ol>