<b>Version:</b> 10192/10193/10194<br>
<ol>
    <li>106 New Fashion Mall Items
        <ul>
        <li>59 new women's items including 3 faces, 15 hairs, 11 tops, 11 bottoms, 15 shoes, and 4 sets.</li>
        <li>47 new men's items including 3 faces, 11 hairs, 8 tops, 9 bottoms, 12 shoes, and 4 sets.</li>
        </ul></li>
</ol>