<b>Version:</b> 10191<br>
<ol>
    <li>2 New Songs
        <ul>
            <li>Daydream Anatomy - 31337 (88 bpm)</li>
            <li>Daydream Anatomy - Snow Day (144 bpm)</li>
        </ul>
    </li>
    <li>2 New Night Dance Songs
        <ul>
            <li>Daydream Anatomy - 31337 (88 bpm)</li>
            <li>Daydream Anatomy - Snow Day (144 bpm)</li>
        </ul>
    </li>
    <li>2 New Beat Up Songs
        <ul>
            <li>Daydream Anatomy - 31337 (88 bpm) [Lv. 2]</li>
            <li>Daydream Anatomy - Snow Day (144 bpm) [Lv. 2]</li>
        </ul>
    </li>
    <li>2 New One Two Party Songs
        <ul>
            <li>Daydream Anatomy - 31337 (88 bpm) [Lv. 2]</li>
            <li>Daydream Anatomy - Snow Day (144 bpm) [Lv. 4]</li>
        </ul>
    </li>
</ol>