<b>Version:</b> 10146<br>
<ol>
<li>Couple Point x2 Card</li>
    <ul>
    <li>This item will multiply your couple points earned by 2. The effect stacks to x4 if both you and your couple have a card active.</li>
    <li>The card is applied to your basic couple points earned for playing with your couple, as well as couple points earned through Synergy bonuses.</li>
    <li>Bonus couple points earned from Couple Dance - 31 Hearts and Block Beat are not multiplied.</li>
    <li>10 rounds can be purchased at the mall in the Items tab for 900 cash.</li>
    </ul>
<li>Happy Box Update</li>
    <ul>
    <li>New rewards added:</li>
        <ul>
        <li>5 new sets each for men and women.</li>
        <li>10, 50, 100, and 200 couple points can be won.</li>
        <li>10, 50, 100, and 200 FAM points can be won.</li>
        </ul>
    </ul>
<li>Sell x2 Beats Cards</li>
    <ul>
    <li>x2 Beats Cards can now be sold for 50 beats each.</li>
    <li>From your inventory in the mall, click the Sell button, then enter how many cards you want to sell.</li>
    </ul>
<li>6 New Songs</li>
    <ul>
    <li>Audition - Holiday (110 bpm)</li>
    <li>Cameron Forbes - Frozen (128 bpm)</li>
    <li>Ian & The Dream - Radio Blastin' (96 bpm)</li>
    <li>Maracalous - Party All Night (127 bpm)</li>
    <li>MJ&iRoK - Club 101 (128 bpm)</li>
    <li>The Relay Company - Diva (117 bpm)</li>
    </ul>
<li>5 New Night Dance Songs</li>
    <ul>
    <li>Cameron Forbes - Frozen (128 bpm)</li>
    <li>Ian & The Dream - Radio Blastin' (96 bpm)</li>
    <li>Maracalous - Party All Night (127 bpm)</li>
    <li>MJ&iRoK - Club 101 (128 bpm)</li>
    <li>The Relay Company - Diva (117 bpm)</li>
    </ul>
<li>5 New One Two Party Songs</li>
    <ul>
    <li>Cameron Forbes - Frozen (128 bpm) [Lv. 3]</li>
    <li>Ian & The Dream - Radio Blastin' (96 bpm) [Lv. 4]</li>
    <li>Maracalous - Party All Night (127 bpm) [Lv. 4]</li>
    <li>MJ&iRoK - Club 101 (128 bpm) [Lv. 3]</li>
    <li>The Relay Company - Diva (117 bpm) [Lv. 2]</li>
    </ul>
<li>6 New Beat Up Songs</li>
    <ul>
    <li>Audition - Holiday (110 bpm) [Lv. 1]</li>
    <li>Cameron Forbes - Frozen (128 bpm) [Lv. 3]</li>
    <li>Ian & The Dream - Radio Blastin' (96 bpm) [Lv. 1]</li>
    <li>Maracalous - Party All Night (127 bpm) [Lv. 2]</li>
    <li>MJ&iRoK - Club 101 (128 bpm) [Lv. 3]</li>
    <li>The Relay Company - Diva (117 bpm) [Lv. 2]</li>
    </ul>
<li>1 New Space Pang Pang Song</li>
    <ul>
    <li>Audition - Again (130 bpm)</li>
    </ul>
<li>2 New Rhythm Holic Songs</li>
    <ul>
    <li>Audition - Mr. Detective (128 bpm)</li>
    <li>Audition - Yes, If It's You (130 bpm)</li>
    </ul>
<li>1 New Guitar Song</li>
    <ul>
    <li>Audition - Father's Hands (124 bpm) [Easy, Normal, Hard]</li>
    </ul>
<li>5 New Block Beat Songs</li>
    <ul>
    <li>Akay47 - Comfortable (feat. Travis Lee & Tattz) (105 bpm) [Lv. 1]</li>
    <li>Blazed Out Music - Top of the World (130 bpm) [Lv. 2]</li>
    <li>Denab Records - Feel So Good (133 bpm) [Lv. 2]</li>
    <li>Denise Lopez - Girls & Rock 'n' Roll (feat. Lazee) (124 bpm) [Lv. 2]</li>
    <li>DJ Regal - Pump the Bass (143 bpm) [Lv. 3]</li>
    </ul>
<li>2 Songs Removed</li>
    <ul>
    <li>Ke$ha - Tik Tok (120 bpm)</li>
    <li>Nights & Weekends - Caught Up In The Cycle (120 bpm)</li>
    </ul>
<li>80 New Fashion Mall Items</li>
    <ul>
    <li>49 new women's items including 2 faces, 13 hairs, 8 tops, 8 bottoms, 13 shoes, and 5 sets.</li>
    <li>26 new men's items including 2 faces, 6 hairs, 6 tops, 6 bottoms, and 6 shoes.</li>
    <li>2 new pets.</li>
    <li>2 new motions.</li>
    <li>1 new item.</li>
    </ul>
<li>3 New Couple Garden Market Items</li>
    <ul>
    <li>2 new seeds.</li>
    <li>1 new accessory.</li>
    </ul>
</ol>