<b>Version:</b> 10176/10177<br>
<b>Manual Patch:</b> <a href="http://www.mediafire.com/download/ocn8layecsb527x/Audition10175to10177.exe" target="_blank">http://www.mediafire.com/download/ocn8layecsb527x/Audition10175to10177.exe</a>
<ol>
    <li>Couple Garden Puzzle<br /><img src="{{ GLOBAL.staticUrl }}/img/patchinfo/puzzle2.png" /></li>
        <ul>
        <li>Each time you harvest a Step 5 flower, there is a chance that you will receive a piece to a puzzle.<br /><img src="{{ GLOBAL.staticUrl }}/img/patchinfo/puzzle1.png" /></li>
        <li>You can view your puzzle boxes by clicking the Puzzle Room button next to the Secret Garden button.</li>
            <ul>
            <li>Couples will receive one puzzle box automatically.<br /><img src="{{ GLOBAL.staticUrl }}/img/patchinfo/puzzle3.png" /></li>
            <li>You can purchase up to two additional puzzle boxes from the Garden Market. The more puzzle boxes you have, the higher the probability of obtaining a puzzle piece.</li>
            <li>Click on a puzzle box to see how you're doing on the current puzzle.<br /><img src="{{ GLOBAL.staticUrl }}/img/patchinfo/puzzle4.png" /></li>
            <li>If you do not like the puzzle you currently have, you can change it for 5,000 Beats. From 10pm to 11pm server time, you can change the puzzle for 50% off.</li>
            </ul>
        <li>Each time you complete a puzzle, you will receive a prize. The prize you get is based on the size of the puzzle you complete. Prizes could be rare couple garden accessories or rare couple rings.</li>
        </ul>
    <li>111 New Mall Items</li>
        <ul>
        <li>61 new women's items including 3 faces, 15 hairs, 13 tops, 13 bottoms, 15 shoes, and 2 sets.</li>
        <li>44 new men's items including 3 faces, 10 hairs, 10 tops, 10 bottoms, and 11 shoes.</li>
        <li>1 new DJ booth.</li>
        <li>4 new accessories.</li>
        <li>1 new guitar.</li>
        </ul>
    <li>6 New Couple Shop Items</li>
        <ul>
            <li>2 new accessories.</li>
            <li>2 new rings.</li>
            <li>2 new licenses.</li>
        </ul>
    <li>18 New Couple Garden Items</li>
        <ul>
            <li>2 new seeds.</li>
            <li>15 new accessories.</li>
            <li>1 new item.</li>
        </ul>
    </ul>
</ol>