<b>Version:</b> 10171<br>
<ol>
<li>One Day Market</li>
    <ul>
        <li>Each day, the One Day Market selects an outfit and makes it 50% off.</li>
        <li>The outfit includes a hair, top, bottom, and shoes item.</li>
        <li>The outfit can only be purchased for 7 days.</li>
        <li>You can see the outfit by clicking the 1 Day Market button in the top-left corner of the mall.</li>
        <li>The items on sale are also marked in the regular mall with a "1 DAY" tag.</li>
        <li>The outfit changes at midnight, server time.</li>
    </ul>
<li>Special Couple Shop Rings</li>
    <ul>
        <li>New rings at the Couple Shop that require a certain number of hearts before you can purchase them.</li>
        <li>There are 6 rings, and they required either 100k, 200k, 300k, 500k, 700k, or 1 million hearts.</li>
    </ul>
<li>106 New Mall Items</li>
    <ul>
    <li>70 new women's items including 3 faces, 15 hairs, 11 tops, 12 bottoms, 15 shoes, and 5 sets.</li>
    <li>36 new men's items including 3 faces, 11 hairs, 9 tops, 9 bottoms, 11 shoes, and 2 sets.</li>
    </ul>
<li>6 New Couple Shop Items</li>
    <ul>
    <li>6 new rings.</li>
    </ul>
<li>New Couple Garden Items</li>
    <ul>
        <li>4 new seeds.</li>
    </ul>
</ol>