<b>Version:</b> 10185/10186/10187<br>
<ol>
    <li>Mark Collection System</li>
        <ul>
        <li>Choose which icons (aka marks) appear with your character.<br /><img src="{{ GLOBAL.staticUrl }}/img/patchinfo/markcollectionbox.jpg" /></li>
        <li>To change which marks appear with your character, go in a room and click "Switch Mark."<br /><img src="{{ GLOBAL.staticUrl }}/img/patchinfo/switchmark.jpg" /></li>
        <li>Check or uncheck the marks you want/don't want with your character and click Confirm.</li>
        <li>You can check or uncheck an entire row by checking the "ALL" box at the beginning of the row.</li>
        <li>There are also 12 new marks that can be purchased for 7 days for 500,000 Beats at the mall. A maximum of 5 marks from the mall will be displayed underneath your regular marks.</li>
        </ul>
    <li>115 New Mall Items</li>
        <ul>
        <li>57 new women's items including 15 hairs, 11 tops, 11 bottoms, 16 shoes, and 4 sets.</li>
        <li>46 new men's items including 3 faces, 11 hairs, 10 tops, 10 bottoms, 11 shoes, and 1 set.</li>
        <li>12 new items.</li>
        </ul>
    <li>3 New Couple Garden Items</li>
        <ul>
            <li>2 new seeds.</li>
            <li>1 new accessory.</li>
        </ul>
</ol>