Version: 10169<br>
<ol>
<li>149 new items have the indefinite purchase option</li>
    <ul><li> <b>Female</b><ul><li> Face<ul><li>Delight Face</li>
</ul></li>
<li> Hair<ul><li> Checkered Throwback Cap</li>
<li> Fringe Blond</li>
<li> Fringe Bob</li>
<li> Fringe with Ponytail</li>
<li> Fringe with Ponytail</li>
<li> Fringe with Ponytail</li>
<li> Green Safari Hat</li>
<li> It's a Wrap!</li>
<li> Long Black Hair</li>
<li> Long Blond Hair</li>
<li> Long Blue-Black Hair</li>
<li> Long Brown SunCap</li>
<li> Long Pink Hair</li>
<li> Long Silver BlueCap</li>
<li> Mermaid Hair</li>
<li> NYC Walker</li>
<li> Overly Stylish Hair(F)</li>
<li> Picnic Hat</li>
<li> Sexy Wave</li>
<li> Sexy Wave (Brown)</li>
<li> Sexy Wave (Green)</li>
<li> Short Bob</li>
<li> Short Bob</li>
<li> Short Bob</li>
<li> Side Ponytails</li>
<li> Straight Fringe Red</li>
<li> Straight Fringe Yellow</li>
<li> Super Stunner (F)</li>
</ul></li>
<li> Top<ul><li> Concert Diva Style Top</li>
<li> Girls School Uniform</li>
<li> Idol Mesh Knit</li>
<li> Long Yellow Top</li>
<li> Midas Top</li>
<li> NY Style Top</li>
<li> Overly Stylish Top(F)</li>
<li> Pink Ribbon Blouse</li>
<li> Pretty Sense Top</li>
<li> Princess Style Top</li>
<li> Rainbow Knit Top</li>
<li> Red Single Sleeve</li>
<li> Sailor Cardigan Red</li>
<li> Sexy Sporty Look</li>
<li> Sexy Tank Top</li>
<li> Sexy Top</li>
<li> Sleeveless Rainbow Knit</li>
<li> SneakThief Black Top</li>
<li> Southern Charms Long Sleeve</li>
<li> TankTop &amp; ArmBand</li>
<li> Trinity Top</li>
<li> White Tiger Halter</li>
<li> Wine Leather Top</li>
<li> Yellow Stripe Top</li>
</ul></li>
<li> Bottom<ul><li> Belted Jeans</li>
<li> BootCut Model Jeans</li>
<li> Deadly Black Bottom</li>
<li> Jean Shorts</li>
<li> Long PinkFlare Skirt</li>
<li> LooseJeans &amp; PinkBelt</li>
<li> NY Style Skirt</li>
<li> Original Olive Pants</li>
<li> Pretty Sense Bottom</li>
<li> Princess Style Skirt</li>
<li> Ribboned &amp; Laced Skirt</li>
<li> Sexy Sporty Miniskirt</li>
<li> Tiger Mini Skirt</li>
<li> Torn Jeans</li>
<li> Trinity Bottom</li>
<li> Two-Way Belt Denim</li>
<li> WaveJeans &amp; Scarf/Belt</li>
<li> Wine Leather Bottom</li>
</ul></li>
<li> Shoes<ul><li> Angel Blue Sneakers</li>
<li> Deadly Black Boots</li>
<li> Furry Ankle Boots</li>
<li> Long Laced Boots</li>
<li> Long Leather Boots</li>
<li> Luxury Heels</li>
<li> NY Style Shoes</li>
<li> Overly Stylish Shoes(F)</li>
<li> Pretty Sense Trainers</li>
<li> Sporty Ankle Boots</li>
<li> Summer Shoes</li>
<li> Tiger High Heels</li>
</ul></li>
</ul></li>
<li> <b>Male</b><br>
<ul><li> Hair<ul><li> 2 Kool 4 School</li>
<li> Cryptic</li>
<li> Eccentric Explosion</li>
<li> Fireburst Sun Cap</li>
<li> Ghostly Red</li>
<li> Ghostly White</li>
<li> Lion Mane</li>
<li> Overly Stylish Hair 2 (M)</li>
<li> Pink Spiky GreyBand</li>
<li> Pointy Fringe</li>
<li> Punk</li>
<li> Red Lion Mane</li>
<li> Sailor Look</li>
<li> Sailor Look</li>
<li> Silver Lion Mane</li>
<li> Spiky Ponytail</li>
<li> Spiky Ponytail</li>
<li> Sun Cap with Glasses</li>
<li> Superstar Stomper</li>
<li> Tempo Tempest (M)</li>
<li> Wild Panther</li>
<li> Wild Tiger</li>
<li> WineHair with GreyBand</li>
<li> Yellow Spiky GreyBand</li>
</ul></li>
<li> Top<ul><li> All Black</li>
<li> Biker Style Top</li>
<li> Black Leather Jacket</li>
<li> Boy's School Uniform</li>
<li> Cryptic Crush Top</li>
<li> Gothic Top</li>
<li> Hacker Cloak</li>
<li> Knit Coat</li>
<li> Magician Coat</li>
<li> Overly Stylish Top(M)</li>
<li> Printed Jacket</li>
<li> Punk Top</li>
<li> Rhythm Ninja Black Top</li>
<li> Rocker Style</li>
<li> TooStylish Top(M)</li>
<li> White Suit Top</li>
</ul></li>
<li> Bottom<ul><li> Biker Style Pants</li>
<li> Black Leather Pants</li>
<li> Blazin Blue Jeans(M)</li>
<li> Charcoal Jeans (M)</li>
<li> Dark Prayer</li>
<li> Deadly Black Bottom</li>
<li> Gothic Pants</li>
<li> Loose Jeans</li>
<li> Magician Bottom</li>
<li> Matrix Pants</li>
<li> Printed Jeans</li>
<li> Rocker Jeans</li>
<li> Straight-Line Jeans</li>
<li> Velvet Pants</li>
<li> White Suit Bottom</li>
</ul></li>
<li> Shoes<ul><li> Biker Boots</li>
<li> Cartoon Buffoon Sneakers</li>
<li> Diablo Dancer Boots</li>
<li> Eclipse Clubbers (M)</li>
<li> Everyday Sneakers</li>
<li> Flip Flops</li>
<li> Gothic Boots</li>
<li> Overkill Clubbers (M)</li>
<li> Rocker Boots</li>
<li> Steel Toe Boots</li>
<li> White Night Sneakers</li>
</ul></li>
</ul></li>
</ul>
<li>112 New Fashion Mall Items</li>
    <ul>
    <li>75 new women's items including 3 faces, 18 hairs, 12 tops, 14 bottoms, 20 shoes, and 8 sets.</li>
    <li>37 new men's items including 3 faces, 8 hairs, 8 tops, 9 bottoms, 8 shoes, and 1 set.</li>
    </ul>
</ol>