<b>Version:</b> 10190<br>
<ol>
    <li>Account PINs</li>
        <ul>
            <li>Create a PIN number to better protect your account.</li>
            <li>When you log in, you must create a 6-digit PIN number in order to access your account. Enter the pin twice to confirm it.</li>
            <li>After you create your PIN, you must enter it each time you log in.</li>
        </ul>
    <li>2 New Songs</li>
        <ul>
            <li>Daydream Anatomy - Magic (138 bpm)</li>
            <li>StaticBlu - Two-Fold Shuffle (120 bpm)</li>
        </ul>
	<li>2 New Night Dance Songs</li>
        <ul>
            <li>Daydream Anatomy - Magic (138 bpm)</li>
            <li>StaticBlu - Two-Fold Shuffle (120 bpm)</li>
        </ul>
	<li>2 New Beat Up Songs</li>
        <ul>
            <li>Daydream Anatomy - Magic (138 bpm) [Lv. 2]</li>
            <li>StaticBlu - Two-Fold Shuffle (120 bpm) [Lv. 1]</li>
        </ul>
	<li>2 New One Two Party Songs</li>
        <ul>
            <li>Daydream Anatomy - Magic (138 bpm) [Lv. 3]</li>
            <li>StaticBlu - Two-Fold Shuffle (120 bpm) [Lv. 3]</li>
        </ul>
    <li>161 New Fashion Mall Items</li>
        <ul>
        <li>90 new women's items including 3 faces, 22 hairs, 17 tops, 17 bottoms, 24 shoes, and 7 sets.</li>
        <li>60 new men’s items including 3 faces, 14 hairs, 13 tops, 13 bottoms, 15 shoes, and 2 sets.</li>
		<li>1 new DJ booth</li>
		<li>1 new platform</li>
		<li>4 new emoticons</li>
		<li>4 new accessories</li>
		<li>1 new guitar</li>
        </ul>
	<li>16 New Couple Shop Items
		<ul>
		<li>4 new women's items including 1 hair, 1 top, 1 bottom, and 1 shoes.</li>
		<li>4 new men's items including 1 hair, 1 top, 1 bottom, and 1 shoes.</li>
		<li>4 new accessories</li>
		<li>2 new rings</li>
		<li>2 new licenses</li>
		</ul></li>
</ol>