<b>Version:</b> 10179
<ol>
    <li>1,000 new items now have the indefinite purchase option. <a href="https://docs.google.com/spreadsheet/ccc?key=0AhH9OMTrnhzrdHI0UTlralB0cExnc1hQZ1FOUU5nUmc#gid=0" target="_blank">View the list here</a>.</li>
</ol>