<ol class="decimal"><li>Couple Garden Mandrakes (Children)<ul><li>Grow a little one for you and your couple from the Couple Garden.</li>
<li>To start, purchase a boy or girl baby seedling from the Items tab of the Couple Garden Market. Purchasing the seedling will open the Baby Room (accessed by a button at the top of the Couple Garden).</li>
<li>Water, dust, and fertilize the seedling periodically like you would a normal plant until your seedling Grows Up into a baby.<br />
		<img  src="http://i.imgur.com/gBiAYgl.png" /></li>
<li>Your baby now has different wants, such as bottles, that need to be fulfilled periodically. After caring for your baby for a while, it will grow up into a toddler.<br />
		<img src="http://i.imgur.com/DX1AhoN.png" /></li>
<li>As a toddler, it will have even more wants, such as books or cake, that need to be fulfilled periodically.</li>
<li>After caring for your toddler for a while, it will finally be all grown up and will be added to your items in the Fashion Mall under the Pet tab.<br />
		<img src="http://i.imgur.com/OHwwdXr.png" /></li>
<li>Once in your inventory, it lasts 30 days and will give between 10% and 50% bonus EXP per game.</li>
</ul></li>
<li>10 New Songs<ul><li>Baauer - One Touch (96 bpm)</li>
<li>Baauer - Infinite Daps (96 bpm)</li>
<li>Dj Snake &amp; Aluna George - You Know You Like It (98 bpm)</li>
<li>Flux Pavilion - Mountains and Molehills (Kill The Noise &amp; Bro Safari Remix) (87 bpm)</li>
<li>Juicy J - One of Those Nights ft. The Weeknd (130 bpm)</li>
<li>The Weeknd - King Of The Fall (Explicit) (156 bpm)</li>
<li>The Weeknd - Life Of The Party (138 bpm)</li>
<li>Yellow Claw - DJ Turn It Up (102 bpm)</li>
<li>Yellow Claw - Pillz (150 bpm)</li>
<li>Yellow Claw - Slow Down (100 bpm)</li>
</ul></li>
<li>10 New Beat Up Songs<ul><li>Baauer - One Touch (96 bpm) [Lv. 1]</li>
<li>Baauer - Infinite Daps (96 bpm) [Lv. 1]</li>
<li>Dj Snake &amp; Aluna George - You Know You Like It (98 bpm) [Lv. 2]</li>
<li>Flux Pavilion - Mountains and Molehills (Kill The Noise &amp; Bro Safari Remix) (87 bpm) [Lv. 1]</li>
<li>Juicy J - One of Those Nights ft. The Weeknd (130 bpm) [Lv. 3]</li>
<li>The Weeknd - King Of The Fall (Explicit) (156 bpm) [Lv. 3]</li>
<li>The Weeknd - Life Of The Party (138 bpm) [Lv. 3]</li>
<li>Yellow Claw - DJ Turn It Up (102 bpm) [Lv. 2]</li>
<li>Yellow Claw - Pillz (150 bpm) [Lv. 3]</li>
<li>Yellow Claw - Slow Down (100 bpm) [Lv. 2]</li>
</ul></li>
<li>10 New One Two Party Songs<ul><li>Baauer - One Touch (96 bpm) [Lv. 2]</li>
<li>Baauer - Infinite Daps (96 bpm) [Lv. 2]</li>
<li>Dj Snake &amp; Aluna George - You Know You Like It (98 bpm) [Lv. 3]</li>
<li>Flux Pavilion - Mountains and Molehills (Kill The Noise &amp; Bro Safari Remix) (87 bpm) [Lv. 2]</li>
<li>Juicy J - One of Those Nights ft. The Weeknd (130 bpm) [Lv. 4]</li>
<li>The Weeknd - King Of The Fall (Explicit) (156 bpm) [Lv. 4]</li>
<li>The Weeknd - Life Of The Party (138 bpm) [Lv. 4]</li>
<li>Yellow Claw - DJ Turn It Up (102 bpm) [Lv. 3]</li>
<li>Yellow Claw - Pillz (150 bpm) [Lv. 4]</li>
<li>Yellow Claw - Slow Down (100 bpm) [Lv. 3]</li>
</ul></li>
<li>68 New Fashion Mall Items<ul><li>41 new women's items including 11 hairs, 8 tops, 8 bottoms, 11 shoes, and 3 sets.</li>
<li>27 new men's items including 7 hairs, 6 tops, 6 bottoms, 7 shoes, and 1 set.</li>
</ul></li>
<li>Community Agents are now denoted in game.</li>
<li>Bug Fixes<ul><li>Fixed issues related to discount coupons given from the Time Box.</li>
</ul></li>
</ol>