<b>Version:</b> 10205<br>
<ol>
    <li>106 New Fashion Mall Items
        <ul>
        <li>67 new women's items including 3 faces, 17 hairs, 14 tops, 13 bottoms, 16 shoes, and 4 sets.</li>
        <li>39 new men's items including 3 faces, 9 hairs, 9 tops, 9 bottoms, and 9 shoes.</li>
        </ul></li>
</ol>