<b>Version:</b> 10234<br>
<ol>
    <li>Beginner Triple Mission<ul>
        <li>Triple Mission is a new feature for players level 10 and under.</li>
        <li>Click on the green Triple Mission button in the lobby to bring up your mission progress.</li>
        <li>First Mission: Logging In<ul>
            <li>The first mission is available for the first 60 days after creating your account. You can see how many days are left at the bottom of the window.</li>
            <li>After logging in for 7, 14, and 21 days, you will receive a prize:<ul>
                <li>7 day prize: 7 Day Exchange Ticket (Allows you to get any cash item for 7 days for free)</li>
                <li>14 day prize: 7 Day Exchange Ticket and a 30% Discount Coupon</li>
                <li>21 day prize: Two 7 Day Exchange Tickets and two 30% Discount Coupons</li>
                </ul></li>
            </ul></li>
        <li>Second Mission: 100 Games - After playing 100 games with at least one other person, excluding games played in tournaments, you will receive two 7 Day Exchange Tickets.</li>
        <li>Third Mission: 10 Friends - After you add 10 friends to your buddy list, you will receive a x2 EXP Card and a x2 Beats Card (20 rounds each).</li>
        <li>If you do not claim your prizes before you reach level 11, they will automatically be sent to your inbox.</li>
        </ul></li>
        
    <li>Beginner Special Packs<ul>
        <li>These are special item packs purchasable from the mall by players level 10 and under. They offer significant discounts for packs of items. There are two packs available. Each pack may be purchased one time.</li>
        <li>When going to the mall, click on the new Newbie Exclusive Special Pack section to purchase a pack.</li>
        <li>The Beginner Pack costs 1,700 cash and includes:<ul>
            <li>One x2 EXP card (20 rounds)</li>
            <li>Premium Messenger Plus (30 days)</li>
            <li>Luxury DJ booth (7 days)</li>
            <li>Exchange ticket to get one clothes item from the mall for free for 7 days</li>
            <li>30% discount coupon</li>
            </ul></li>
            <li>The Lovely Pack may only be purchased by those who have a couple. It costs 2,100 cash and includes:<ul>
                        <li>One x2 Couple Points Card (10 rounds)</li>
    <li>Premium Messenger Plus (30 days)</li>
    <li>Couple Wing Accessory (7 days)</li>
    <li>Exchange ticket to get one clothes item from the mall for free for 7 days</li>
    <li>30% discount coupon</li>
                </ul>
            </li>
        </ul></li>
        
        <li>8 New Songs<ul>
            <li>Ben Saunders - Turn Back Time (128 bpm)</li>
            <li>Deorro feat. Adrian Delgado - All I Need Is Your Love (128 bpm)</li>
            <li>Diplo - Dynamite (150 bpm)</li>
            <li>Diplo - Girls Gone Wild (150 bpm)</li>
            <li>Diplo - Revolution (128 bpm)</li>
            <li>Diplo - Will Calls (150 bpm)</li>
            <li>Exid - I Feel Good (R. Tee Remix) (128 bpm)</li>
            <li>Karetus - My Religion (128 bpm)</li>
            </ul></li>
            
            <li>8 New Night Dance Songs<ul>
            <li>Ben Saunders - Turn Back Time (128 bpm)</li>
            <li>Deorro feat. Adrian Delgado - All I Need Is Your Love (128 bpm)</li>
            <li>Diplo - Dynamite (150 bpm)</li>
            <li>Diplo - Girls Gone Wild (150 bpm)</li>
            <li>Diplo - Revolution (128 bpm)</li>
            <li>Diplo - Will Calls (150 bpm)</li>
            <li>Exid - I Feel Good (R. Tee Remix) (128 bpm)</li>
            <li>Karetus - My Religion (128 bpm)</li>
            </ul></li>
            
            <li>8 New Beat Up Songs<ul>
            <li>Ben Saunders - Turn Back Time (128 bpm) [Lv. 2]</li>
            <li>Deorro feat. Adrian Delgado - All I Need Is Your Love (128 bpm) [Lv. 2]</li>
            <li>Diplo - Dynamite (150 bpm) [Lv. 3]</li>
            <li>Diplo - Girls Gone Wild (150 bpm) [Lv. 3]</li>
            <li>Diplo - Revolution (128 bpm) [Lv. 2]</li>
            <li>Diplo - Will Calls (150 bpm) [Lv. 3]</li>
            <li>Exid - I Feel Good (R. Tee Remix) (128 bpm) [Lv. 2]</li>
            <li>Karetus - My Religion (128 bpm) [Lv. 2]</li>
            </ul></li>
            
            <li>8 New One Two Party Songs<ul>
            <li>Ben Saunders - Turn Back Time (128 bpm) [Lv. 2]</li>
            <li>Deorro feat. Adrian Delgado - All I Need Is Your Love (128 bpm) [Lv. 2]</li>
            <li>Diplo - Dynamite (150 bpm) [Lv. 3]</li>
            <li>Diplo - Girls Gone Wild (150 bpm) [Lv. 4]</li>
            <li>Diplo - Revolution (128 bpm) [Lv. 4]</li>
            <li>Diplo - Will Calls (150 bpm) [Lv. 4]</li>
            <li>Exid - I Feel Good (R. Tee Remix) (128 bpm) [Lv. 3]</li>
            <li>Karetus - My Religion (128 bpm) [Lv. 3]</li>
            </ul></li>
            
            <li>8 New Space Pang Pang Songs<ul>
            <li>Ben Saunders - Turn Back Time (128 bpm)</li>
            <li>Deorro feat. Adrian Delgado - All I Need Is Your Love (128 bpm)</li>
            <li>Diplo - Dynamite (150 bpm)</li>
            <li>Diplo - Girls Gone Wild (150 bpm)</li>
            <li>Diplo - Revolution (128 bpm)</li>
            <li>Diplo - Will Calls (150 bpm)</li>
            <li>Exid - I Feel Good (R. Tee Remix) (128 bpm)</li>
            <li>Karetus - My Religion (128 bpm)</li>
            </ul></li>
            
            <li>8 New Rhythm Holic Songs<ul>
            <li>Ben Saunders - Turn Back Time (128 bpm)</li>
            <li>Deorro feat. Adrian Delgado - All I Need Is Your Love (128 bpm)</li>
            <li>Diplo - Dynamite (150 bpm)</li>
            <li>Diplo - Girls Gone Wild (150 bpm)</li>
            <li>Diplo - Revolution (128 bpm)</li>
            <li>Diplo - Will Calls (150 bpm)</li>
            <li>Exid - I Feel Good (R. Tee Remix) (128 bpm)</li>
            <li>Karetus - My Religion (128 bpm)</li>
            </ul></li>
        
        <li>8 New Block Beat Songs<ul>
            <li>Ben Saunders - Turn Back Time (128 bpm) [Lv. 2]</li>
            <li>Deorro feat. Adrian Delgado - All I Need Is Your Love (128 bpm) [Lv. 2]</li>
            <li>Diplo - Dynamite (150 bpm) [Lv. 3]</li>
            <li>Diplo - Girls Gone Wild (150 bpm) [Lv. 3]</li>
            <li>Diplo - Revolution (128 bpm) [Lv. 2]</li>
            <li>Diplo - Will Calls (150 bpm) [Lv. 3]</li>
            <li>Exid - I Feel Good (R. Tee Remix) (128 bpm) [Lv. 2]</li>
            <li>Karetus - My Religion (128 bpm) [Lv. 2]</li>
            </ul></li>
        
        <li>106 New Fashion Mall Items<ul>
            <li>66 new women's items including 18 hairs, 12 tops, 12 bottoms, 18 shoes, and 6 sets.</li>
            <li>40 new men's items including 10 hairs, 10 tops, 10 bottoms, and 10 shoes.</li>
        </ul></li>
</ol>