<b>Version:</b> 10214<br>
<ol>
    <li>Megaphone History and Block List</li>
	<li>5 New Songs<ul>
		<li>Aileen Xu - Magnetic (92 bpm)</li>
		<li>Matthew Pablo & Christi Arredondo - Crazy In Love (145 bpm)</li>
		<li>Melodic In Fusion - Let Go (100 bpm)</li>
		<li>Melodic In Fusion - This Silence (106 bpm)</li>
		<li>Oishii & Matthew Pablo - Gametime (127 bpm)</li>
	</ul></li>
	<li>5 New Night Dance Songs<ul>
		<li>Aileen Xu - Magnetic (92 bpm)</li>
		<li>Matthew Pablo & Christi Arredondo - Crazy In Love (145 bpm)</li>
		<li>Melodic In Fusion - Let Go (100 bpm)</li>
		<li>Melodic In Fusion - This Silence (106 bpm)</li>
		<li>Oishii & Matthew Pablo - Gametime (127 bpm)</li>
	</ul></li>
	<li>5 New Beat Up Songs<ul>
		<li>Aileen Xu - Magnetic (92 bpm) [Lv. 1]</li>
		<li>Matthew Pablo & Christi Arredondo - Crazy In Love (145 bpm) [Lv. 2]</li>
		<li>Melodic In Fusion - Let Go (100 bpm) [Lv. 1]</li>
		<li>Melodic In Fusion - This Silence (106 bpm) [Lv. 1]</li>
		<li>Oishii & Matthew Pablo - Gametime (127 bpm) [Lv. 2]</li>
	</ul></li>
	<li>5 New One Two Party Songs<ul>
		<li>Aileen Xu - Magnetic (92 bpm) [Lv. 2]</li>
		<li>Matthew Pablo & Christi Arredondo - Crazy In Love (145 bpm) [Lv. 4]</li>
		<li>Melodic In Fusion - Let Go (100 bpm) [Lv. 2]</li>
		<li>Melodic In Fusion - This Silence (106 bpm) [Lv. 2]</li>
		<li>Oishii & Matthew Pablo - Gametime (127 bpm) [Lv. 3]</li>
	</ul></li>
	<li>1 New Guitar Song<ul>
		<li>Loveholic - Loveholic (136 bpm) [Easy, Normal, Hard]</li>
	</ul></li>
	<li>5 New Block Beat Songs<ul>
		<li>Aileen Xu - Magnetic (92 bpm) [Lv. 1]</li>
		<li>Matthew Pablo & Christi Arredondo - Crazy In Love (145 bpm) [Lv. 2]</li>
		<li>Melodic In Fusion - Let Go (100 bpm) [Lv. 1]</li>
		<li>Melodic In Fusion - This Silence (106 bpm) [Lv. 1]</li>
		<li>Oishii & Matthew Pablo - Gametime (127 bpm) [Lv. 2]</li>
	</ul></li>
	<li>115 New Fashion Mall Items<ul>
		<li>71 new women's items including 3 faces, 19 hairs, 11 tops, 11 bottoms, 19 shoes, and 8 sets.</li>
		<li>38 new men's items including 3 faces, 9 hairs, 8 tops, 8 bottoms, 9 shoes, and 1 set.</li>
		<li>1 new platform.</li>
		<li>2 new emoticons.</li>
		<li>2 new accessories.</li>
		<li>1 new guitar.</li>
	</ul></li>
	<li>11 New Couple Shop Items</li>
	<li>Event Server</li>
</ol>