<ol>
    <li>1 New Guitar Song<ul>
        <li>Audition - Sweden (116 bpm) [Easy, Normal, Hard, Crazy]</li>
    </ul></li>
    <li>113 New Fashion Mall Items<ul>
        <li>70 new women's items including 3 faces, 18 hairs, 14 tops, 13 bottoms, 17 shoes, and 5 sets.</li>
        <li>43 new men's items including 3 faces, 10 hairs, 10 tops, 10 bottoms, and 10 shoes.</li>
    </ul></li>
</ol>