<ol>
    <li>Former premium songs are now available to play freely.<ul>
            <li>Allan Cutler - My Girl (Dance Remix) (128 bpm)</li>
<li>DJ Skarlet - Lost In The Lights (130 bpm)</li>
<li>Ka Lide - Believe in Love (128 bpm)</li>
<li>Ka Lide - Just A Shadow (140 bpm)</li>
<li>KIF - Piece of My Heart (128 bpm)</li>
<li>Lil Bren - Get Low (160 bpm)</li>
<li>MJ&amp;iRoK - Everybody Dance (128 bpm)</li>
<li>MJ&amp;iRoK - Mega Mix (128 bpm)</li>
<li>MJ&amp;iRoK - Mega Mix 2 (128 bpm)</li>
<li>MJ&amp;iRoK - Point of No Return (140 bpm)</li>
<li>MJ&amp;iRoK - Rock This Place (128 bpm)</li>
<li>MJ&amp;iRoK - Turn It Up (130 bpm)</li>
<li>Spoony - Shake It (128 bpm)</li>
<li>The Party 'Party' - I'm On Fire (128 bpm)</li>
        </ul></li>
        <li>Gifting has been re-enabled.<ul>
            <li>To avoid any complications, please do not accept unexpected gifts from unknown sources.</li>
        </ul></li>
        <li>New Fashion Mall Items</li>
</ol>