<b>Version:</b> 10208 - 10209<br>
<ol>
    <li>107 New Fashion Mall Items
        <ul>
        <li>43 new women's items including 3 faces, 9 hairs, 11 tops, 11 bottoms, and 9 shoes.</li>
        <li>64 new men's items including 3 faces, 15 hairs, 14 tops, 14 bottoms, 15 shoes, and 3 sets.</li>
        </ul></li>
    <li>X-Trap Update</li>
</ol>