<ol>
    <li>Event Server<ul>
        <li>Players level 21 and over will receive 50% more EXP in the Event server.</li>
        <li>Last until the maintenance on August 26, 2014.</li>
    </ul></li>
</ol>