<b>Version:</b> 10233<br>
<ol>
	<li>113 New Fashion Mall Items<ul>
            <li>69 new women's items including 19 hairs, 12 tops, 12 bottoms, 19 shoes, and 7 sets.</li>
            <li>44 new men's items including 11 hairs, 11 tops, 11 bottoms, and 11 shoes.</li>
        </ul></li>
</ol>