<ol>
	<li>FAM Ranking Seasons<ul>
		<li>Creates seasons for FAM Points and rewards the top FAMs in each season.</li>
		<li>There are four seasons throughout the year:<ul>
			<li>Season 1: January ~ March</li>
			<li>Season 2: April ~ June</li>
			<li>Season 3: July ~ September</li>
			<li>Season 4: October ~ December</li>
		</ul></li>
		<li>FAM Points earned in the current season are shown on a separate ranking board.</li>
		<li>At the end of each season, all members of the top 5 FAMs will receive a prize:<ul>
			<li>The 1st Place FAM will receive a 30% Discount Coupon, a special effect on their characters in rooms, and the season set.</li>
			<li>The 2nd through 5th Place FAMs will receive the season set.</li>
		</ul></li>
		<li>The top 5 will also be added to the Hall of FAM archive of winners on the Ranking Board.</li>
		<li>5 FAM Points are now awarded each time someone checks attendance at the FAM House instead of after all members have checked in.</li>
	</ul></li>
	<li>7 New Songs<ul>
		<li>Audien feat. Michael S. - Leaving You (128 bpm)</li>
		<li>Deorro - Yee (128 bpm)</li>
		<li>Flux - Bada Bing (128 bpm)</li>
		<li>Flux - Rescue (107 bpm)</li>
		<li>Galantis - Smile (128 bpm)</li>
		<li>Gareth Emery - Sanctuary (ft. Lucy Saunders) (133 bpm)</li>
		<li>Karetus - How I Roll (ft. Aaron London) (103 bpm)</li>
	</ul></li>
	<li>7 New Night Dance Songs<ul>
		<li>Audien feat. Michael S. - Leaving You (128 bpm)</li>
		<li>Deorro - Yee (128 bpm)</li>
		<li>Flux - Bada Bing (128 bpm)</li>
		<li>Flux - Rescue (107 bpm)</li>
		<li>Galantis - Smile (128 bpm)</li>
		<li>Gareth Emery - Sanctuary (ft. Lucy Saunders) (133 bpm)</li>
		<li>Karetus - How I Roll (ft. Aaron London) (103 bpm)</li>
	</ul></li>
	<li>7 New Beat Up Songs<ul>
		<li>Audien feat. Michael S. - Leaving You (128 bpm) [Lv. 3]</li>
		<li>Deorro - Yee (128 bpm) [Lv. 2]</li>
		<li>Flux - Bada Bing (128 bpm) [Lv. 1]</li>
		<li>Flux - Rescue (107 bpm) [Lv. 1]</li>
		<li>Galantis - Smile (128 bpm) [Lv. 2]</li>
		<li>Gareth Emery - Sanctuary (ft. Lucy Saunders) (133 bpm) [Lv. 3]</li>
		<li>Karetus - How I Roll (ft. Aaron London) (103 bpm) [Lv. 1]</li>
	</ul></li>
	<li>7 New One Two Party Songs<ul>
		<li>Audien feat. Michael S. - Leaving You (128 bpm) [Lv. 3]</li>
		<li>Deorro - Yee (128 bpm) [Lv. 3]</li>
		<li>Flux - Bada Bing (128 bpm) [Lv. 3]</li>
		<li>Flux - Rescue (107 bpm) [Lv. 2]</li>
		<li>Galantis - Smile (128 bpm) [Lv. 3]</li>
		<li>Gareth Emery - Sanctuary (ft. Lucy Saunders) (133 bpm) [Lv. 4]</li>
		<li>Karetus - How I Roll (ft. Aaron London) (103 bpm) [Lv. 2]</li>
	</ul></li>
	<li>7 New Rhythmholic Songs<ul>
		<li>Audien feat. Michael S. - Leaving You (128 bpm)</li>
		<li>Deorro - Yee (128 bpm)</li>
		<li>Flux - Bada Bing (128 bpm)</li>
		<li>Flux - Rescue (107 bpm)</li>
		<li>Galantis - Smile (128 bpm)</li>
		<li>Gareth Emery - Sanctuary (ft. Lucy Saunders) (133 bpm)</li>
		<li>Karetus - How I Roll (ft. Aaron London) (103 bpm)</li>
	</ul></li>
	<li>7 New Space Pang Pang Songs<ul>
		<li>Audien feat. Michael S. - Leaving You (128 bpm)</li>
		<li>Deorro - Yee (128 bpm)</li>
		<li>Flux - Bada Bing (128 bpm)</li>
		<li>Flux - Rescue (107 bpm)</li>
		<li>Galantis - Smile (128 bpm)</li>
		<li>Gareth Emery - Sanctuary (ft. Lucy Saunders) (133 bpm)</li>
		<li>Karetus - How I Roll (ft. Aaron London) (103 bpm)</li>
	</ul></li>
	<li>7 New Block Beat Songs<ul>
		<li>Audien feat. Michael S. - Leaving You (128 bpm) [Lv. 3]</li>
		<li>Deorro - Yee (128 bpm) [Lv. 2]</li>
		<li>Flux - Bada Bing (128 bpm) [Lv. 1]</li>
		<li>Flux - Rescue (107 bpm) [Lv. 1]</li>
		<li>Galantis - Smile (128 bpm) [Lv. 2]</li>
		<li>Gareth Emery - Sanctuary (ft. Lucy Saunders) (133 bpm) [Lv. 3]</li>
		<li>Karetus - How I Roll (ft. Aaron London) (103 bpm) [Lv. 1]</li>
	</ul></li>
	<li>111 New Fashion Mall Items<ul>
		<li>38 new men's items including 8 hairs, 8 tops, 10 bottoms, 10 shoes, and 2 sets.</li>
		<li>66 new women's items including 16 hairs, 13 tops, 14 bottoms, 18 shoes, and 5 sets.</li>
		<li>1 new DJ booth.</li>
		<li>1 new platform.</li>
		<li>1 new guitar.</li>
		<li>4 new accessories.</li>
	</ul></li>
	<li>4 New Couple Shop Items<ul>
		<li>2 new rings.</li>
		<li>2 new licenses.</li>
	</ul></li>
</ol>