<ol>
<li>Couple Garden 3rd Expansion<ul><li>Add more space for flowers and accessories with a 3rd expansion for your couple garden.</li>
<li>The 1st and 2nd expansions must be purchased before the 3rd can be purchased from the Items tab of the Couple Garden Market.</li>
<li>The third expansion adds 14 blocks to each side of your garden, making the total number of blocks 180. The blocks outlined in red are added with the 3rd expansion:<br />
		<img class="bbcode-attachment" src="http://i.imgur.com/1RxpENi.png" border="0" alt="" /></li>
</ul></li>
<li>Couple Garden One Touch Magic Wand<ul><li>The one touch magic wand is a new item available for your couple garden that will automatically water, dust, or fertilize all of your flowers for you.<br />
		<img class="bbcode-attachment" src="http://i.imgur.com/1v3zEkc.png" border="0" alt="" /></li>
<li>After you purchase the wand, an On/Off toggle button appears underneath the water, dust, and fertilize actions.<br />
		<img class="bbcode-attachment" src="http://i.imgur.com/x3W9Fe2.png" border="0" alt="" /><br />
		Click the water, dust, or fertilize buttons while they are &quot;On&quot; to automatically complete that action on all of your plants.</li>
</ul></li>
<li>Fashion Mall Summer Cash Sales<ul><li>All hairs, faces, shoes, and emoticons are 10% off.</li>
<li>All DJ booths, platforms, guitars, and usable items in the Items tab are 20% off.</li>
<li>All tops, bottoms, and accessories are 30% off.</li>
<li>All sets and pets are 50% off.</li>
<li>Sale ends August 5.</li>
</ul></li>
<li>173 new items have been given the indefinite purchase option.  They are marked as &quot;New!!&quot; at the mall.<ul>
    <li>
    <div style="overflow-y:scroll; width: 500px; height: 700px;">
    ---FEMALE---<br />
	--FACE--<br />
    Bewitching-eye girl face<br />
	Dark circle face<br />
	Devil Earts Face<br />
	FlashyEyes Surprise<br />
	growling face<br />
	Happy, Happy Joy<br />
	I don't believe you!<br />
	Innocent Cute Face<br />
	Oops! Face Girl<br />
	pooh-pooh' face<br />
	Shock and Awe<br />
	Um, Yea...<br />
    <br />
	--HAIR--<br />
    Benign Beauty Low Ponytail<br />
	Black Fly Girl Hat<br />
	Cute Bandana girl<br />
	Diva 03 Style<br />
	Feathered Lady's Hair<br />
	Flaming Red Pigtails<br />
	FullBrown Side Ponytail<br />
	Gothic Blonde Girl<br />
	HappyBirthday couple style<br />
	Lacy Blue Style 3<br />
	Luxury Black Hat<br />
	Miniature Hair-Bow<br />
	NY Striped Snap-Back<br />
	pink lady hair w/ bows<br />
	PinkRibbon BlondeHair<br />
	Platinum White Tint<br />
	PolkaPassion Oversized Bow<br />
	purple beanie horn-rimmed glasses<br />
	Queen Me<br />
	Rad Carrot Orange Ponytail<br />
	Red Pin Hair<br />
	Red Schoolgirl Style<br />
	Reliably Bold Loose Curls<br />
	Romantically Softened Curls<br />
	TenderText Loose Curls<br />
	Video Diva Braids<br />
	Wavy Ebony Locks<br />
    <br />
	--TOP--<br />
    2014 Redbana-Audition Hoody<br />
	Asymmetrical Sleeved Blouse<br />
	Baby blue stripe t-shirt<br />
	Babygirl T<br />
	Baker-Miller Pink Jacket<br />
	Black Bangles Top<br />
	Bloom Front Top<br />
	Checkered Red Tanktop<br />
	Christmas New Year T-shirt<br />
	Christmas T-shirt<br />
	DandyGrace Jacket<br />
	Darling Daisy Sweater<br />
	Eugenia style top<br />
	Fancy Black Couple Style<br />
	Fancy T-Shirt<br />
	Fire Diva Top<br />
	Gothic Black Jacket<br />
	Gothica<br />
	Hawaiian LeiLove Bikini<br />
	Japanese Schoolgirl Top<br />
	Lavender Pink Bath Gown<br />
	Loving Gnomes Striped Blouse<br />
	N.Y.City DeepBlue<br />
	Pearl-Pink Ruffled Collar Blouse<br />
	Pink Schoolgirl Top<br />
	PolkaPartiality Pocket Tank<br />
	PolkaPassion Bikini Tee<br />
	Punk Top<br />
	purple rabbit tshirt<br />
	RedTie Sleeveless<br />
	Rudolph Girl Top<br />
	Shiny Black Top<br />
	Sleepy Kitten Striped Knit<br />
	Spring Blue lacy shirt<br />
	StarLand Smiley couple style<br />
	Striped Sentiment Red Polo<br />
	Sublime Bikini Top<br />
	TiedBlouse with Blazer<br />
	Training look couple style<br />
	Trendy Blouse<br />
	Vogue Style Top<br />
	Wedding Top<br />
	With All My Heart (F)<br />
	With Love Baby Tee<br />
	Yearned Embrace Sweatshirt<br />
    <br />
	--BOTTOM--<br />
    Black Attack Bottoms<br />
	Black Legg. Mini skirt<br />
	Black shorts w/ long socks<br />
	Centralized Buttons Denim Skirt<br />
	Denim shorts w/ knee socks<br />
	Embroidered Hem Denim Skirt<br />
	Holler Denim Shorts<br />
	Muse Style Bottom<br />
	Picnic Checkered Red Shorts<br />
	Pinky Sweat Suit<br />
	purple vintage shorts<br />
	Reliably Bold Striped Pants<br />
	Silver Bunny Bottoms<br />
	TYoung-1 Style<br />
	White Sport Shorts<br />
    <br />
	--SHOES--<br />
    BeautySun-1 style<br />
	belted fashion black boots<br />
	Black fishnet boots<br />
	Blue Danseuse Cap-Toe Oxfords<br />
	Buckled Brink-Pink HighTops<br />
	Classy black-heel boots<br />
	Courted Aristocrat Boots<br />
	Cute girl style flower shoes<br />
	Cute Jewel Flip-flops<br />
	Girly Black Boots<br />
	Golden Buckled Black Boots<br />
	Hearts White Shoes<br />
	Pansy Ankle Boots<br />
	Pink strap flats<br />
	pinkyrace-1 style<br />
	PlaidVest couple style<br />
	Pleasant Crimson Sandals<br />
	PolkaPartiality Dolphin Sandals<br />
	Prime Vintage Shoes<br />
	RedBow Leopard Pumps<br />
	Studded Ecru Strap Heels<br />
    <br />
	--SET--<br />
	Baby Couple Style<br />
	burgundy bow pink dress<br />
	Feathery Peacck Dress<br />
	Ivory rose white dress<br />
	Queen of Dance Set<br />
	Thai Traditional Northset<br />
	Weeping Willow Dress<br />
    <br />
	--ACCESORRY--<br />
    Unique YellowBouquet<br />
    <br />
	<br />
	---MALE---<br />
	--FACE--<br />
    Devil Ears Face<br />
	growling face<br />
	I don't believe you!<br />
	Menace face<br />
	passionate face<br />
	Pirate Boy face<br />
	pooh-pooh' face<br />
	Shock and Awe<br />
	shy face<br />
	Um, Yea...<br />
    <br />
	--HAIR--<br />
    Black Fedora Wild Perm<br />
	Blond &amp; pink dyed hair<br />
	Blue Spring Style<br />
	Casanova<br />
	Fleet Line Short Cut<br />
	Lead Guitarist<br />
	Permed Asymmetric Fringe Cut<br />
	Tilted Beret<br />
    <br />
	--TOP--<br />
    babyblue shirt<br />
	Black Devil Top<br />
	Bold Rosso Corsa Scarf<br />
	Casanova Jacket<br />
	Classic Rose Top<br />
	Dandy Rick Jacket<br />
	DeepBlue jacket w/ warm scarf<br />
	Distinguished Argyle Checkered Jumper<br />
	FallClassic Den. Jacket<br />
	FlamingRed Couple Set<br />
	Loving Gnomes Striped Blouse<br />
	Rad Beast Shoulder Blade<br />
	Red checkered winter jacket<br />
	Royal Prince Top<br />
    <br />
	--BOTTOM--<br />
    Bright Sunrise Pattern Belt<br />
	Casanova Pants<br />
	Clown Pink Shorts<br />
	Hunter Ken Style<br />
	Reticent Rocker Studded Jeans<br />
	Reticent Rocker Studded Jeans<br />
	Rocking Spirit Skull Pants<br />
    <br />
	--SHOES--<br />
    stylish walking shoes<br />
	Triple Chain Shoes<br />
	Vintage Classic Shoes<br />
    <br />
	--SET--<div>
    Black Wing Dress<br />
    <br />
	--ACCESSORY--<br />
    Unique YellowBouquet
    </div>
    </li>
    </ul></li>
<li>112 New Fashion Mall Items<ul>
    <li>62 new female's items including 17 hairs, 11 tops, 10 bottoms, 15 shoes, and 9 sets.</li>
    <li>47 new men's items including 11 hairs, 12 tops, 11 bottoms, 10 shoes, and 3 sets.</li>
    <li>1 new DJ booth.</li>
    <li>1 new accessory.</li>
    <li>1 new guitar.</li>
    </ul></li>
</ol>