<ol><li>616 new items now have the indefinite purchase option. New indefs are marked as &quot;New!!&quot; at the mall.</li>
<li>9 New Songs<ul><li>Azelia Banks - JFK (130 bpm)</li>
<li>Glitch Mob - Between Two Points (feat. Swan) (122 bpm)</li>
<li>Panic! At The Disco - Girls Girls Boys (145 bpm)</li>
<li>Panic! At The Disco - Miss Jackson (82 bpm)</li>
<li>Schoolboy Q - Man of the Year (112 bpm)</li>
<li>Schoolboy Q - Hands On The Wheel - feat. ASAP Rocky (128 bpm)</li>
<li>The Weeknd - Drunk In Love (140 bpm)</li>
<li>The Weeknd - Wanderlust (116 bpm)</li>
<li>TST - No Regular (130 bpm)</li>
</ul></li>
<li>9 New Beat Up Songs<ul><li>Azelia Banks - JFK (130 bpm) [Lv. 2]</li>
<li>Glitch Mob - Between Two Points (feat. Swan) (122 bpm) [Lv. 2]</li>
<li>Panic! At The Disco - Girls Girls Boys (145 bpm) [Lv. 3]</li>
<li>Panic! At The Disco - Miss Jackson (82 bpm) [Lv. 1]</li>
<li>Schoolboy Q - Man of the Year (112 bpm) [Lv. 1]</li>
<li>Schoolboy Q - Hands On The Wheel - feat. ASAP Rocky (128 bpm) [Lv. 2]</li>
<li>The Weeknd - Drunk In Love (140 bpm) [Lv. 3]</li>
<li>The Weeknd - Wanderlust (116 bpm) [Lv. 1]</li>
<li>TST - No Regular (130 bpm) [Lv. 2]</li>
</ul></li>
<li>9 New One Two Party Songs<ul><li>Azelia Banks - JFK (130 bpm) [Lv. 3]</li>
<li>Glitch Mob - Between Two Points (feat. Swan) (122 bpm) [Lv. 3]</li>
<li>Panic! At The Disco - Girls Girls Boys (145 bpm) [Lv. 4]</li>
<li>Panic! At The Disco - Miss Jackson (82 bpm) [Lv. 2]</li>
<li>Schoolboy Q - Man of the Year (112 bpm) [Lv. 2]</li>
<li>Schoolboy Q - Hands On The Wheel - feat. ASAP Rocky (128 bpm) [Lv. 3]</li>
<li>The Weeknd - Drunk In Love (140 bpm) [Lv. 4]</li>
<li>The Weeknd - Wanderlust (116 bpm) [Lv. 2]</li>
<li>TST - No Regular (130 bpm) [Lv. 3]</li>
</ul></li>
<li>1 New Guitar Song<ul><li>Day break - Do It! (Duet with MAYA) (125 bpm) [Easy, Normal, Hard]</li>
</ul></li>
<li>99 New Cash Fashion Mall Items<ul><li>57 new women's items including 15 hairs, 12 tops, 12 bottoms, 15 shoes, and 3 sets.</li>
<li>42 new men's items including 11 hairs, 10 tops, 10 bottoms, and 10 shoes, and 1 set.</li>
</ul></li>
<li>121 New Beats Fashion Mall Items<ul><li>45 new women's items including 3 hairs, 11 tops, 5 bottoms, 10 shoes, and 16 sets.</li>
<li>76 new men's items including 26 hairs, 14 tops, 7 bottoms, 27 shoes, and 2 sets.</li>
</ul></li>
</ol>