<ol>
    <li>Couple Garden Backgrounds<ul><li>Customize your Couple Garden with new backgrounds.<br>
		<img src="http://i.imgur.com/TH3sO9j.png" border="0" alt=""></li>
<li>These backgrounds are purchasable from the Items tab of the Garden Market.</li>
<li>They are purchasable for 30 days. If you purchase the item again, the duration will be extended by an additional 30 days. You can also purchase multiple different backgrounds simultaneously.</li>
<li>To enable a background that you've purchased, go to the Items tab in My Items and click the Use button underneath it. To disable it, click the Use button again and your background will go back to the default. The time left will still decrease even while the background is disabled.</li>
</ul></li>
<li>Alien Invasion!<ul><li>Audition Town is under attack!</li>
</ul></li>
<li>116 New Fashion Mall Items<ul><li>70 new female items including 18 hairs, 13 tops, 14 bottoms, 19 shoes, and 6 sets.</li>
<li>42 new male items including 10 hairs, 9 tops, 10 bottoms, 11 shoes, and 2 sets.</li>
<li>1 new guitar.</li>
<li>3 new accessories.</li>
</ul></li>
<li>3 New Couple Shop Items<ul><li>2 new rings.</li>
<li>1 new accessory.</li>
</ul></li>
<li>Lobby BGM has been changed.</li>
<li>Audition is now compatible with Windows 10.</li>
</ol>