<ol><li>Audition Town Halloween Theme</li>
    <li>6 New Songs<ul><li>Ron Reeser - You &amp; I feat. Sugar Joiko (Hydrogenio Remix) (128 bpm)</li>
            <li>Kavalier - Better feat. Elias (127 bpm)</li>
            <li>WIA - You are the Sunshine of My Life (92 bpm)</li>
            <li>WIA - Loving you (130 bpm)</li>
            <li>WIA - Get Out (120 bpm)</li>
            <li>WIA - Por Una Cabeza (120 bpm)</li>
        </ul></li>
    <li>3 New Night Dance Songs<ul><li>Ron Reeser - You &amp; I feat. Sugar Joiko (Hydrogenio Remix) (128 bpm)</li>
            <li>Kavalier - Better feat. Elias (127 bpm)</li>
            <li>WIA - You are the Sunshine of My Life (92 bpm)</li>
        </ul></li>
    <li>3 New Beat Up Songs<ul><li>Ron Reeser - You &amp; I feat. Sugar Joiko (Hydrogenio Remix) (128 bpm) [Lv. 3]</li>
            <li>Kavalier - Better feat. Elias (127 bpm) [Lv. 2]</li>
            <li>WIA - You are the Sunshine of My Life (92 bpm) [Lv. 2]</li>
        </ul></li>
    <li>3 New One Two Party Songs<ul><li>Ron Reeser - You &amp; I feat. Sugar Joiko (Hydrogenio Remix) (128 bpm) [Lv. 4]</li>
            <li>Kavalier - Better feat. Elias (127 bpm) [Lv. 3]</li>
            <li>WIA - You are the Sunshine of My Life (92 bpm) [Lv. 2]</li>
        </ul></li>
    <li>3 New Rhythmholic Songs<ul><li>Ron Reeser - You &amp; I feat. Sugar Joiko (Hydrogenio Remix) (128 bpm)</li>
            <li>Kavalier - Better feat. Elias (127 bpm)</li>
            <li>WIA - You are the Sunshine of My Life (92 bpm)</li>
        </ul></li>
    <li>3 New Space Pang Pang Songs<ul><li>Ron Reeser - You &amp; I feat. Sugar Joiko (Hydrogenio Remix) (128 bpm)</li>
            <li>Kavalier - Better feat. Elias (127 bpm)</li>
            <li>WIA - You are the Sunshine of My Life (92 bpm)</li>
        </ul></li>
    <li>3 New Block Beat Songs<ul><li>Ron Reeser - You &amp; I feat. Sugar Joiko (Hydrogenio Remix) (128 bpm) [Lv. 3]</li>
            <li>Kavalier - Better feat. Elias (127 bpm) [Lv. 2]</li>
            <li>WIA - You are the Sunshine of My Life (92 bpm) [Lv. 2]</li>
        </ul></li>
    <li>100 New Fashion Mall Items<ul><li>59 new women's items including 15 hairs, 14 tops, 14 bottoms, 15 shoes, and 1 set.</li>
            <li>38 new men's items including 11 hairs, 9 tops, 9 bottoms, and 9 shoes.</li>
            <li>1 new platform.</li>
            <li>2 new accessories.</li>
        </ul></li>
    <li>8 New Couple Shop Items<ul><li>4 new women's items including 1 hair, 1 top, 1 bottom, and 1 shoes.</li>
            <li>4 new men's items including 1 hair, 1 top, 1 bottom, and 1 shoes.</li>
        </ul></li>
    <li>The puzzle event has concluded.<ul><li>It should return in the future!</li>
        </ul></li>
</ol>