<ol>
    <li>Audition Town Christmas Theme - Happy Holidays!<br>
        <img src="http://i.imgur.com/zLPUqIW.jpg" border="0" alt=""></li>
    <li>UI Updates<ul><li>The Ranking Board has been updated. Rankings are now grouped into categories, and your character will appear when someone clicks on your name.<br>
                <img src="http://i.imgur.com/qucMTlA.jpg" alt=""></li>
            <li>A new "Change Stage" button has been added to rooms. Click it to bring up a list of stages to choose from.<br>
                <img src="http://i.imgur.com/Q7jWwOw.jpg" alt=""></li>
            <li>Mall item listings are now paginated. You can toggle this on and off by clicking the "Old Version Screen" button next to the page numbers. Also, a button has been added which shows only new items.<br>
                <img src="http://i.imgur.com/eE34EVo.jpg" alt=""></li>
            <li>The Gift Box and Mission Book buttons have been grouped into a new Menu button in the lobby.<br>
                <img src="http://i.imgur.com/mVQ9CRd.jpg" alt=""></li>
        </ul></li>
    <li>The default basic supply clothing has been updated.<br>
        <img src="http://i.imgur.com/Fz5sah3.png" alt=""></li>
    <li>5 New Songs<ul><li>Jung L - Can't Stop (107 bpm)</li>
            <li>Jung L - Lucky Star (118 bpm)</li>
            <li>Teha - Kiss &amp; Cry (115 bpm)</li>
            <li>Mocozi - This is Love (Feat. MAK@AshGrey) (100 bpm)</li>
            <li>Mocozi - Love Song (87 bpm)</li>
        </ul></li>
    <li>5 New Night Dance Songs<ul><li>Jung L - Can't Stop (107 bpm)</li>
            <li>Jung L - Lucky Star (118 bpm)</li>
            <li>Teha - Kiss &amp; Cry (115 bpm)</li>
            <li>Mocozi - This is Love (Feat. MAK@AshGrey) (100 bpm)</li>
            <li>Mocozi - Love Song (87 bpm)</li>
        </ul></li>
    <li>5 New Beat Up Songs<ul><li>Jung L - Can't Stop (107 bpm) [Lv. 2]</li>
            <li>Jung L - Lucky Star (118 bpm) [Lv. 2]</li>
            <li>Teha - Kiss &amp; Cry (115 bpm) [Lv. 2]</li>
            <li>Mocozi - This is Love (Feat. MAK@AshGrey) (100 bpm) [Lv. 1]</li>
            <li>Mocozi - Love Song (87 bpm) [Lv. 1]</li>
        </ul></li>
    <li>5 New One Two Party Songs<ul><li>Jung L - Can't Stop (107 bpm) [Lv. 3]</li>
            <li>Jung L - Lucky Star (118 bpm) [Lv. 3]</li>
            <li>Teha - Kiss &amp; Cry (115 bpm) [Lv. 3]</li>
            <li>Mocozi - This is Love (Feat. MAK@AshGrey) (100 bpm) [Lv. 2]</li>
            <li>Mocozi - Love Song (87 bpm) [Lv. 2]</li>
        </ul></li>
    <li>5 New Rhythmholic Songs<ul><li>Jung L - Can't Stop (107 bpm)</li>
            <li>Jung L - Lucky Star (118 bpm)</li>
            <li>Teha - Kiss &amp; Cry (115 bpm)</li>
            <li>Mocozi - This is Love (Feat. MAK@AshGrey) (100 bpm)</li>
            <li>Mocozi - Love Song (87 bpm)</li>
        </ul></li>
    <li>5 New Space Pang Pang Songs<ul><li>Jung L - Can't Stop (107 bpm)</li>
            <li>Jung L - Lucky Star (118 bpm)</li>
            <li>Teha - Kiss &amp; Cry (115 bpm)</li>
            <li>Mocozi - This is Love (Feat. MAK@AshGrey) (100 bpm)</li>
            <li>Mocozi - Love Song (87 bpm)</li>
        </ul></li>
    <li>5 New Block Beat Songs<ul><li>Jung L - Can't Stop (107 bpm) [Lv. 2]</li>
            <li>Jung L - Lucky Star (118 bpm) [Lv. 2]</li>
            <li>Teha - Kiss &amp; Cry (115 bpm) [Lv. 2]</li>
            <li>Mocozi - This is Love (Feat. MAK@AshGrey) (100 bpm) [Lv. 1]</li>
            <li>Mocozi - Love Song (87 bpm) [Lv. 1]</li>
        </ul></li>
    <li>108 New Fashion Mall Items<ul><li>62 new women's items including 16 hairs, 14 tops, 14 bottoms, 16 shoes, and 2 sets.</li>
            <li>44 new men's items including 11 hairs, 11 tops, 11 bottoms, and 11 shoes.</li>
            <li>2 new accessories.</li>
        </ul></li>
    <li>6 New Couple Shop Items<ul><li>3 new women's items including 1 bottom, 1 shoes, and 1 set.</li>
            <li>3 new men's items including 1 bottom, 1 shoes, and 1 set.</li>
        </ul></li>
</ol>