<ol>
<li>Couple Garden Picky Queen Bee<ul>
    <li>The picky queen bee will pick up rewards from your Couple Garden for you.<br>
		<img src="http://i.imgur.com/VxuZndC.png" border="0" alt=""></li>
<li>The picky queen bee is similar to the Yellow Helmet Little Honeybee, but you can choose what is picked up.</li>
<li>It is available for purchase for 4,000 Cash in the Couple Garden Market. If you already own the Yellow Helmet Little Honeybee or the Diligent Beat Mole, you will receive an extension to the period of use for the queen bee. You cannot purchase a Diligent Beats Mole or Yellow Helmet Little Honeybee item if you already own the Picky Queen Bee item.</li>
<li>After purchasing it, it will appear on the left for the male character or on the right for the female character.<br>
		<img src="http://i.imgur.com/2rAK6Dk.png" border="0" alt=""></li>
<li>Click on the queen bee to bring up a checklist of items that you would like the bee to pick up (Beats, Items, and/or Couple Points). After you choose, send the bee on its way to pick up those items.</li>
<li>After it's done, a summary of all items picked up will appear.</li>
</ul></li>
<li>111 New Fashion Mall Items<ul><li>64 women's items including 2 faces, 15 hairs, 13 tops, 15 bottoms, 16 shoes, and 3 sets.</li>
<li>45 men's items including 2 faces, 10 hairs, 10 tops, 11 bottoms, 11 shoes, and 1 set.</li>
<li>1 new DJ booth</li>
<li>1 new guitar</li>
</ul></li>
</ol>