<ol><li>Room List Sorting &amp; Filtering<ul><li>Two new buttons are now at the top of the room list.<br>
                <img src="http://i.imgur.com/YFIHrFH.png" border="0" alt=""></li>
            <li>Click the "See waiting room first" button to sort the room list by putting all "Waiting" rooms at the top of the list, regardless of VIP, Event, and DJ tags.</li>
            <li>Click the "Sort by game mode" button to bring up a list of modes.<br>
                <img src="http://i.imgur.com/4Uhr9kj.png" border="0" alt=""><ul><li>Uncheck the boxes next to the modes that you do not want shown in the room list.</li>
                    <li>Click OK to apply the filter or Close to close the mode list without affecting the room list.</li>
                </ul></li>
        </ul></li>
    <li>6 New Songs<ul><li>Thomas Easton - Outlast (128 bpm)</li>
            <li>Basil-X - Run to the Finish (160 bpm)</li>
            <li>Thomas Easton - Vortex (128 bpm)</li>
            <li>Audition - AEIAOE (130 bpm)</li>
            <li>Audition - Goodbye (157 bpm)</li>
            <li>Audition - Cheer Up!! (103 bpm)</li>
        </ul></li>
    <li>6 New Night Dance Songs<ul><li>Thomas Easton - Outlast (128 bpm)</li>
            <li>Basil-X - Run to the Finish (160 bpm)</li>
            <li>Thomas Easton - Vortex (128 bpm)</li>
            <li>Audition - AEIAOE (130 bpm)</li>
            <li>Audition - Goodbye (157 bpm)</li>
            <li>Audition - Cheer Up!! (103 bpm)</li>
        </ul></li>
    <li>6 New Beat Up Songs<ul><li>Thomas Easton - Outlast (128 bpm) [Lv. 2]</li>
            <li>Basil-X - Run to the Finish (160 bpm) [Lv. 3]</li>
            <li>Thomas Easton - Vortex (128 bpm) [Lv. 2]</li>
            <li>Audition - AEIAOE (130 bpm) [Lv. 2]</li>
            <li>Audition - Goodbye (157 bpm) [Lv. 3]</li>
            <li>Audition - Cheer Up!! (103 bpm) [Lv. 2]</li>
        </ul></li>
    <li>6 New One Two Party Songs<ul><li>Thomas Easton - Outlast (128 bpm) [Lv. 3]</li>
            <li>Basil-X - Run to the Finish (160 bpm) [Lv. 4]</li>
            <li>Thomas Easton - Vortex (128 bpm) [Lv. 3]</li>
            <li>Audition - AEIAOE (130 bpm) [Lv. 3]</li>
            <li>Audition - Goodbye (157 bpm) [Lv. 4]</li>
            <li>Audition - Cheer Up!! (103 bpm) [Lv. 3]</li>
        </ul></li>
    <li>6 New Space Pang Pang Songs<ul><li>Thomas Easton - Outlast (128 bpm)</li>
            <li>Basil-X - Run to the Finish (160 bpm)</li>
            <li>Thomas Easton - Vortex (128 bpm)</li>
            <li>Audition - AEIAOE (130 bpm)</li>
            <li>Audition - Goodbye (157 bpm)</li>
            <li>Audition - Cheer Up!! (103 bpm)</li>
        </ul></li>
    <li>6 New Rhythmholic Songs<ul><li>Thomas Easton - Outlast (128 bpm)</li>
            <li>Basil-X - Run to the Finish (160 bpm)</li>
            <li>Thomas Easton - Vortex (128 bpm)</li>
            <li>Audition - AEIAOE (130 bpm)</li>
            <li>Audition - Goodbye (157 bpm)</li>
            <li>Audition - Cheer Up!! (103 bpm)</li>
        </ul></li>
    <li>6 New Block Beat Songs<ul><li>Thomas Easton - Outlast (128 bpm) [Lv. 2]</li>
            <li>Basil-X - Run to the Finish (160 bpm) [Lv. 3]</li>
            <li>Thomas Easton - Vortex (128 bpm) [Lv. 2]</li>
            <li>Audition - AEIAOE (130 bpm) [Lv. 2]</li>
            <li>Audition - Goodbye (157 bpm) [Lv. 3]</li>
            <li>Audition - Cheer Up!! (103 bpm) [Lv. 2]</li>
        </ul></li>
    <li>87 New Fashion Mall Items<ul><li>51 new women's items including 14 hairs, 9 tops, 9 bottoms, 14 shoes, and 5 sets.</li>
            <li>35 new men's items including 9 hairs, 8 tops, 8 bottoms, 9 shoes, and 1 set.</li>
            <li>1 new platform.</li>
        </ul></li>
</ol>