<ol>
    <li>New Room Backgrounds
        <ul>
            <li>Change the background of the game room with new items purchasable at the mall.</li>
        </ul>
    </li>
    <li>2 New Songs
        <ul>
            <li>Kyven - Keep Getting Over You (108 bpm)</li>
            <li>STAMEN - I Wanna Feel (126 bpm)</li>
        </ul>
    </li>
    <li>2 New Night Dance Songs
        <ul>
            <li>Kyven - Keep Getting Over You (108 bpm)</li>
            <li>STAMEN - I Wanna Feel (126 bpm)</li>
        </ul>
    </li>
    <li>2 New Beat Up Songs
        <ul>
            <li>Kyven - Keep Getting Over You (108 bpm) [Lv. 2]</li>
            <li>STAMEN - I Wanna Feel (126 bpm) [Lv. 3]</li>
        </ul>
    </li>
    <li>2 New One Two Party Songs
        <ul>
            <li>Kyven - Keep Getting Over You (108 bpm) [Lv. 3]</li>
            <li>STAMEN - I Wanna Feel (126 bpm) [Lv. 4]</li>
        </ul>
    </li>
    <li>2 New Rhythmholic Songs
        <ul>
            <li>Kyven - Keep Getting Over You (108 bpm)</li>
            <li>STAMEN - I Wanna Feel (126 bpm)</li>
        </ul>
    </li>
    <li>2 New Space Pang Pang Songs
        <ul>
            <li>Kyven - Keep Getting Over You (108 bpm)</li>
            <li>STAMEN - I Wanna Feel (126 bpm)</li>
        </ul>
    </li>
    <li>2 New Block Beat Songs
        <ul>
            <li>Kyven - Keep Getting Over You (108 bpm) [Lv. 2]</li>
            <li>STAMEN - I Wanna Feel (126 bpm) [Lv. 3]</li>
        </ul>
    </li>
    <li>110 New Fashion Mall Items
        <ul>
            <li>56 new women's items including 2 faces, 15 hairs, 7 tops, 7 bottoms, 15 shoes, and 10 sets.</li>
            <li>46 new men's items including 1 face, 12 hairs, 10 tops, 10 bottoms, 11 shoes, and 2 sets.</li>
            <li>3 new item.</li>
            <li>4 new pets.</li>
            <li>1 new accessory.</li>
        </ul>
    </li>
    <li>9 New Couple Shop Items
        <ul>
            <li>3 new women's items including 1 hair, 1 shoes, and 1 set.</li>
            <li>4 new men's items including 1 hair, 1 top, 1 bottom, and 1 shoes.</li>
            <li>2 new accessories.</li>
        </ul>
    </li>
    <li>7 New Couple Garden Items
        <ul>
            <li>4 new seeds.</li>
            <li>3 new accessories.</li>
        </ul>
    </li>
</ol>