<ol>
    <li>New Special Items
        <ul>
            <li>Special items will change your waiting room motion, finish move motion, scoreboard design, and result screen design.</li>
            <li>Special items are also required to purchase matching Special pets.</li>
            <li>Special items are marked with an "S" at the mall.</li>
        </ul>
    </li>
    <li>7 New Songs
        <ul>
            <li>DAENGZA - Boynation (Original Mix) (128 bpm)</li>
            <li>Kyven - Laser Light (128 bpm)</li>
            <li>Kyven - One More Time (121 bpm)</li>
            <li>Kyven - Running Red (125 bpm)</li>
            <li>Kyven - Shine (128 bpm)</li>
            <li>Kyven - The Hard Part (110 bpm)</li>
            <li>Kyven - Two (We'll Be Together) (126 bpm)</li>
        </ul>
    </li>
    <li>7 New Night Dance Songs
        <ul>
            <li>DAENGZA - Boynation (Original Mix) (128 bpm)</li>
            <li>Kyven - Laser Light (128 bpm)</li>
            <li>Kyven - One More Time (121 bpm)</li>
            <li>Kyven - Running Red (125 bpm)</li>
            <li>Kyven - Shine (128 bpm)</li>
            <li>Kyven - The Hard Part (110 bpm)</li>
            <li>Kyven - Two (We'll Be Together) (126 bpm)</li>
        </ul>
    </li>
    <li>7 New Beat Up Songs
        <ul>
            <li>DAENGZA - Boynation (Original Mix) (128 bpm) [Lv. 3]</li>
            <li>Kyven - Laser Light (128 bpm) [Lv. 3]</li>
            <li>Kyven - One More Time (121 bpm) [Lv. 3]</li>
            <li>Kyven - Running Red (125 bpm) [Lv. 3]</li>
            <li>Kyven - Shine (128 bpm) [Lv. 3]</li>
            <li>Kyven - The Hard Part (110 bpm) [Lv. 2]</li>
            <li>Kyven - Two (We'll Be Together) (126 bpm) [Lv. 3]</li>
        </ul>
    </li>
    <li>7 New One Two Party Songs
        <ul>
            <li>DAENGZA - Boynation (Original Mix) (128 bpm) [Lv. 4]</li>
            <li>Kyven - Laser Light (128 bpm) [Lv. 4]</li>
            <li>Kyven - One More Time (121 bpm) [Lv. 4]</li>
            <li>Kyven - Running Red (125 bpm) [Lv. 4]</li>
            <li>Kyven - Shine (128 bpm) [Lv. 4]</li>
            <li>Kyven - The Hard Part (110 bpm) [Lv. 3]</li>
            <li>Kyven - Two (We'll Be Together) (126 bpm) [Lv. 4]</li>
        </ul>
    </li>
    <li>7 New Rhythmholic Songs
        <ul>
            <li>DAENGZA - Boynation (Original Mix) (128 bpm)</li>
            <li>Kyven - Laser Light (128 bpm)</li>
            <li>Kyven - One More Time (121 bpm)</li>
            <li>Kyven - Running Red (125 bpm)</li>
            <li>Kyven - Shine (128 bpm)</li>
            <li>Kyven - The Hard Part (110 bpm)</li>
            <li>Kyven - Two (We'll Be Together) (126 bpm)</li>
        </ul>
    </li>
    <li>7 New Space Pang Pang Songs
        <ul>
            <li>DAENGZA - Boynation (Original Mix) (128 bpm)</li>
            <li>Kyven - Laser Light (128 bpm)</li>
            <li>Kyven - One More Time (121 bpm)</li>
            <li>Kyven - Running Red (125 bpm)</li>
            <li>Kyven - Shine (128 bpm)</li>
            <li>Kyven - The Hard Part (110 bpm)</li>
            <li>Kyven - Two (We'll Be Together) (126 bpm)</li>
        </ul>
    </li>
    <li>7 New Block Beat Songs
        <ul>
            <li>DAENGZA - Boynation (Original Mix) (128 bpm) [Lv. 3]</li>
            <li>Kyven - Laser Light (128 bpm) [Lv. 3]</li>
            <li>Kyven - One More Time (121 bpm) [Lv. 3]</li>
            <li>Kyven - Running Red (125 bpm) [Lv. 3]</li>
            <li>Kyven - Shine (128 bpm) [Lv. 3]</li>
            <li>Kyven - The Hard Part (110 bpm) [Lv. 2]</li>
            <li>Kyven - Two (We'll Be Together) (126 bpm) [Lv. 3]</li>
        </ul>
    </li>
    <li>124 New Fashion Mall Items
        <ul>
            <li>70 new women's items including 1 face, 19 hairs, 12 tops, 12 bottoms, 18 shoes, and 8 sets.</li>
            <li>51 new men's items including 1 face, 12 hairs, 11 tops, 11 bottoms, 12 shoes, and 4 sets.</li>
            <li>2 new pets.</li>
            <li>1 new accessory.</li>
        </ul>
    </li>
</ol>