<ol>
    <li>111 New Fashion Mall Items<ul>
            <li>63 new women's items including 1 face, 17 hairs, 11 tops, 11 bottoms, 17 shoes, and 6 sets.</li>
            <li>45 new men's items including 1 face, 11 hairs, 11 tops, 11 bottoms, and 11 shoes.</li>
            <li>1 new platform.</li>
            <li>2 new accessories.</li>
        </ul></li>
</ol>