<ol>
    <li>Story Mode - Episode 3</li>
    <li>Puzzle Event
        <ul>
            <li>At the end of each game, you have a chance to receive a puzzle piece.</li>
            <li>Complete your puzzle to earn a prize.</li>
            <li>You can see the progress you've made by clicking the puzzle icon in the My Info Menu from the lobby.</li>
        </ul>
    </li>
    <li>3 New Songs
        <ul>
            <li>Canz and Windows - Are You Here To Stay (100 bpm)</li>
            <li>STAMEN - Chaos (Original Mix) (126 bpm)</li>
            <li>Canz and Windows - Things Better Left (145 bpm)</li>
        </ul>
    </li>
    <li>3 New Night Dance Songs
        <ul>
            <li>Canz and Windows - Are You Here To Stay (100 bpm)</li>
            <li>STAMEN - Chaos (Original Mix) (126 bpm)</li>
            <li>Canz and Windows - Things Better Left (145 bpm)</li>
        </ul>
    </li>
    <li>3 New Beat Up Songs
        <ul>
            <li>Canz and Windows - Are You Here To Stay (100 bpm) [Lv. 2]</li>
            <li>STAMEN - Chaos (Original Mix) (126 bpm) [Lv. 3]</li>
            <li>Canz and Windows - Things Better Left (145 bpm) [Lv. 3]</li>
        </ul>
    </li>
    <li>3 New One Two Party Songs
        <ul>
            <li>Canz and Windows - Are You Here To Stay (100 bpm) [Lv. 3]</li>
            <li>STAMEN - Chaos (Original Mix) (126 bpm) [Lv. 3]</li>
            <li>Canz and Windows - Things Better Left (145 bpm) [Lv. 4]</li>
        </ul>
    </li>
    <li>3 New Rhythmholic Songs
        <ul>
            <li>Canz and Windows - Are You Here To Stay (100 bpm)</li>
            <li>STAMEN - Chaos (Original Mix) (126 bpm)</li>
            <li>Canz and Windows - Things Better Left (145 bpm)</li>
        </ul>
    </li>
    <li>3 New Space Pang Pang Songs
        <ul>
            <li>Canz and Windows - Are You Here To Stay (100 bpm)</li>
            <li>STAMEN - Chaos (Original Mix) (126 bpm)</li>
            <li>Canz and Windows - Things Better Left (145 bpm)</li>
        </ul>
    </li>
    <li>3 New Block Beat Songs
        <ul>
            <li>Canz and Windows - Are You Here To Stay (100 bpm) [Lv. 2]</li>
            <li>STAMEN - Chaos (Original Mix) (126 bpm) [Lv. 3]</li>
            <li>Canz and Windows - Things Better Left (145 bpm) [Lv. 3]</li>
        </ul>
    </li>
    <li>New Fashion Mall Items</li>
    <li>New Couple Shop Items</li>
</ol>