<ol>
    <li>Story Mode Episode 2 Reset Item<ul>
            <li>The item will reset your progress on Episode 2 of Story Mode.</li>
            <li>All stories will reset to 0 completions and their EXP/Beats rewards will reset to the maximum amount.</li>
            <li>You will retain the E2 badge you had prior to resetting.</li>
        </ul></li>
        <li>New Emoticon Set: Mochi</li>
        <li>4 New Songs<ul>
                <li>DAENGZA - FILM (143 bpm)</li>
                <li>DAENGZA - Pizza (Original Mix) (124 bpm)</li>
                <li>YABAK X YONGKA - More than higher (feat. takpam) (86 bpm)</li>
                <li>YoonSeok Choi - Sky (Inst) (80 bpm)</li>
        </ul></li>
        <li>4 New Night Dance Songs<ul>
                <li>DAENGZA - FILM (143 bpm)</li>
                <li>DAENGZA - Pizza (Original Mix) (124 bpm)</li>
                <li>YABAK X YONGKA - More than higher (feat. takpam) (86 bpm)</li>
                <li>YoonSeok Choi - Sky (Inst) (80 bpm)</li>
        </ul></li>
        <li>4 New Beat Up Songs<ul>
                <li>DAENGZA - FILM (143 bpm) [Lv. 3]</li>
                <li>DAENGZA - Pizza (Original Mix) (124 bpm) [Lv. 3]</li>
                <li>YABAK X YONGKA - More than higher (feat. takpam) (86 bpm) [Lv. 1]</li>
                <li>YoonSeok Choi - Sky (Inst) (80 bpm) [Lv. 1]</li>
        </ul></li>
        <li>4 New One Two Party Songs<ul>
                <li>DAENGZA - FILM (143 bpm) [Lv. 4]</li>
                <li>DAENGZA - Pizza (Original Mix) (124 bpm) [Lv. 4]</li>
                <li>YABAK X YONGKA - More than higher (feat. takpam) (86 bpm) [Lv. 2]</li>
                <li>YoonSeok Choi - Sky (Inst) (80 bpm) [Lv. 2]</li>
        </ul></li>
        <li>4 New Rhythmholic Songs<ul>
                <li>DAENGZA - FILM (143 bpm)</li>
                <li>DAENGZA - Pizza (Original Mix) (124 bpm)</li>
                <li>YABAK X YONGKA - More than higher (feat. takpam) (86 bpm)</li>
                <li>YoonSeok Choi - Sky (Inst) (80 bpm)</li>
            </ul></li>
        <li>4 New Space Pang Pang Songs<ul>
                <li>DAENGZA - FILM (143 bpm)</li>
                <li>DAENGZA - Pizza (Original Mix) (124 bpm)</li>
                <li>YABAK X YONGKA - More than higher (feat. takpam) (86 bpm)</li>
                <li>YoonSeok Choi - Sky (Inst) (80 bpm)</li>
            </ul></li>
        <li>4 New Block Beat Songs<ul>
                <li>DAENGZA - FILM (143 bpm) [Lv. 3]</li>
                <li>DAENGZA - Pizza (Original Mix) (124 bpm) [Lv. 3]</li>
                <li>YABAK X YONGKA - More than higher (feat. takpam) (86 bpm) [Lv. 1]</li>
                <li>YoonSeok Choi - Sky (Inst) (80 bpm) [Lv. 1]</li>
        </ul></li>
        <li>1 New Lobby Song<ul>
                <li>DAENGZA - Sorrow Hill (Original Mix)</li>
            </ul></li>
        <li>108 New Fashion Mall Items<ul>
                <li>65 new women's items including 17 hairs, 14 tops, 14 bottoms, 17 shoes, and 3 sets.</li>
                <li>40 new men's items including 10 hairs, 10 tops, 10 bottoms, and 10 shoes.</li>
                <li>1 new usable item.</li>
                <li>1 new emoticon.</li>
                <li>1 new accessory.</li>
            </ul></li>
</ol>