<ol>
    <li>Story Mode - Secret Episode Stories 31 through 60<ul>
            <li>List of requirements:<ul>
                <li>31 - Get 1st place against NPCs in Choreography - C - 4 Keys.</li>
		<li>32 - Get 1st place against NPCs in Choreography - C - 8 Keys.</li>
		<li>33 - Get at least 5 Perfects in a row (Perfect x4) with NPCs in Choreography - 8 Keys.</li>
		<li>34 - Get 1st place against NPCs in Choreography - 4 Keys.</li>
		<li>35 - Win as a team against NPCs in Choreography - C - 4 Keys.</li>
		<li>36 - Get 1st place against NPCs in Choreography - Expert.</li>
		<li>37 - Get at least 4 Perfects in a row (Perfect x3) and no Bads with NPCs in Choreography - 4 Keys.</li>
		<li>38 - Get 1st place against NPCs in Choreography - Expert.</li>
		<li>39 - Get at least 200,000 points five times in Choreography - 4 Keys in a room with at least 5 players.</li>
		<li>40 - Get no Bads in Choreography - C - 4 Keys with NPCs.</li>
		<li>41 - Win as a team against NPCs in Choreography - 4 Keys.</li>
		<li>42 - Win as a team against NPCs in Choreography - 8 Keys.</li>
		<li>43 - Win as a team against NPCs in Choreography - C - 4 Keys.</li>
		<li>44 - Get a combo of at least 100 five times in Beat Up - 4 Keys in a room with at least 5 players.</li>
		<li>45 - Get 1st place against NPCs in Choreography - C - 8 Keys.</li>
		<li>46 - Win as a team and get no Misses against NPCs in Choreography - 4 Keys.</li>
		<li>47 - Get 1st place against NPCs in Choreography - C - 8 Keys.</li>
		<li>48 - Get at least 200,000 points five times in Guitar Mode in a room with at least 5 players.</li>
		<li>49 - Get at least 3 Perfects in a row (Perfect x2) three times in Choreography - C - 4 Keys in a room with at least 3 players.</li>
		<li>50 - Get 1st place against NPCs in Choreography - 4 Keys.</li>
		<li>51 - Get 1st place against NPCs in Choreography - 8 Keys.</li>
		<li>52 - Get at least 5 Perfects five times in Beat Rush Normal - 4 Keys in a room with at least 5 players.</li>
		<li>53 - Get 1st place against NPCs in Choreography - Expert.</li>
		<li>54 - Get 1st place against NPCs in Choreography - C - 4 Keys.</li>
		<li>55 - Get at least 300,000 points and at least 4 Perfects in a row (Perfect x3) five times in Choreography - C - 8 Keys in a room with at least 5 players.</li>
		<li>56 - Get 1st place against NPCs in Choreography - 8 Keys.</li>
		<li>57 - Get a combo of at least 200 four times in Beat Up - 6 Keys in a room with at least 4 players.</li>
		<li>58 - Get 1st place against NPCs in Choreography - 8 Keys.</li>
		<li>59 - Get at least 10 Perfects, no Bads, and no Misses with NPCs in Choreography - C - 4 Keys.</li>
		<li>60 - Get at least 6 Perfects in a row (Perfect x5), no Bads, and no Misses with NPCs in Choreography - C - 8 Keys.</li>
            </ul></li>
        </ul></li>
        <li>2 New Songs<ul>
                <li>12Moments - WayBack (151 bpm)</li>
                <li>Yungwook - Maybe (112 bpm)</li>
        </ul></li>
        <li>2 New Night Dance Songs<ul>
                <li>12Moments - WayBack (151 bpm)</li>
                <li>Yungwook - Maybe (112 bpm)</li>
        </ul></li>
        <li>2 New Beat Up Songs<ul>
                <li>12Moments - WayBack (151 bpm) [Lv. 3]</li>
                <li>Yungwook - Maybe (112 bpm) [Lv. 3]</li>
        </ul></li>
        <li>3 New One Two Party Songs<ul>
                <li>12Moments - WayBack (151 bpm) [Lv. 4]</li>
                <li>Audition - Can Can (150 bpm) [Lv. 4]</li>
                <li>Yungwook - Maybe (112 bpm) [Lv. 4]</li>
        </ul></li>
        <li>3 New Rhythmholic Songs<ul>
                <li>12Moments - WayBack (151 bpm)</li>
                <li>Yungwook - Maybe (112 bpm)</li>
                <li>Audition - Can Can (150 bpm)</li>
            </ul></li>
        <li>2 New Space Pang Pang Songs<ul>
                <li>12Moments - WayBack (151 bpm)</li>
                <li>Yungwook - Maybe (112 bpm)</li>
            </ul></li>
        <li>2 New Block Beat Songs<ul>
                <li>12Moments - WayBack (151 bpm) [Lv. 3]</li>
                <li>Yungwook - Maybe (112 bpm) [Lv. 3]</li>
        </ul></li>
        <li>109 New Fashion Mall Items<ul>
                <li>61 new women's items including 17 hairs, 11 tops, 11 bottoms, 16 shoes, and 6 sets.</li>
                <li>46 new men's items including 12 hairs, 11 tops, 11 bottoms, 11 shoes, and 1 set.</li>
                <li>1 new DJ booth.</li>
                <li>1 new guitar.</li>
            </ul></li>
</ol>