<ol>
    <li>Black Label Items
        <ul>
            <li>Select items have been given a "BLACK" label in the mall.</li>
            <li>These items give a new black dressing room, a new "My Info" background, and a special motion.</li>
        </ul>
    </li>
    <li>5 New Songs
        <ul>
            <li>Kdrew - Signals (125 bpm)</li>
            <li>Emiley Stans - S.O.S. (120 bpm)</li>
            <li>For The Year - Here's To You (130 bpm)</li>
            <li>Melissa.B - Love Game (89 bpm)</li>
            <li>ANDROMEDA - All Or Nothing (116 bpm)</li>
        </ul>
    </li>
    <li>New Items</li>
</ol>