<ol>
    <li>Buddy Board</li>
    <li>Audition Town Halloween Theme</li>
    <li>5 New Songs
        <ul>
            <li>Emiley Stans - Monster (80 bpm)</li>
            <li>Mellissa - Steal From My Heart (Ft. Gianna Salvato) (83 bpm)</li>
            <li>For The Year - Distance (88 bpm)</li>
            <li>Papillon Rising - Leading Man (114 bpm)</li>
            <li>Dream Anatomy - Corrupting Tranquility (138 bpm)</li>
        </ul>
    </li>
    <li>5 New Night Dance Songs
        <ul>
            <li>Emiley Stans - Monster (80 bpm)</li>
            <li>Mellissa - Steal From My Heart (Ft. Gianna Salvato) (83 bpm)</li>
            <li>For The Year - Distance (88 bpm)</li>
            <li>Papillon Rising - Leading Man (114 bpm)</li>
            <li>Dream Anatomy - Corrupting Tranquility (138 bpm)</li>
        </ul>
    </li>
    <li>5 New Beat Up Songs
        <ul>
            <li>Emiley Stans - Monster (80 bpm) [Lv. 1]</li>
            <li>Mellissa - Steal From My Heart (Ft. Gianna Salvato) (83 bpm) [Lv. 1]</li>
            <li>For The Year - Distance (88 bpm) [Lv. 1]</li>
            <li>Papillon Rising - Leading Man (114 bpm) [Lv. 2]</li>
            <li>Dream Anatomy - Corrupting Tranquility (138 bpm) [Lv. 3]</li>
        </ul>
    </li>
    <li>4 New One Two Party Songs
        <ul>
            <li>Emiley Stans - Monster (80 bpm) [Lv. 2]</li>
            <li>Mellissa - Steal From My Heart (Ft. Gianna Salvato) (83 bpm) [Lv. 2]</li>
            <li>For The Year - Distance (88 bpm) [Lv. 2]</li>
            <li>Dream Anatomy - Corrupting Tranquility (138 bpm) [Lv. 4]</li>
        </ul>
    </li>
    <li>5 New Rhythmholic Songs
        <ul>
            <li>Emiley Stans - Monster (80 bpm)</li>
            <li>Mellissa - Steal From My Heart (Ft. Gianna Salvato) (83 bpm)</li>
            <li>For The Year - Distance (88 bpm)</li>
            <li>Papillon Rising - Leading Man (114 bpm)</li>
            <li>Dream Anatomy - Corrupting Tranquility (138 bpm)</li>
        </ul>
    </li>
    <li>5 New Space Pang Pang Songs
        <ul>
            <li>Emiley Stans - Monster (80 bpm)</li>
            <li>Mellissa - Steal From My Heart (Ft. Gianna Salvato) (83 bpm)</li>
            <li>For The Year - Distance (88 bpm)</li>
            <li>Papillon Rising - Leading Man (114 bpm)</li>
            <li>Dream Anatomy - Corrupting Tranquility (138 bpm)</li>
        </ul>
    </li>
    <li>5 New Block Beat Songs
        <ul>
            <li>Emiley Stans - Monster (80 bpm) [Lv. 1]</li>
            <li>Mellissa - Steal From My Heart (Ft. Gianna Salvato) (83 bpm) [Lv. 1]</li>
            <li>For The Year - Distance (88 bpm) [Lv. 1]</li>
            <li>Papillon Rising - Leading Man (114 bpm) [Lv. 2]</li>
            <li>Dream Anatomy - Corrupting Tranquility (138 bpm) [Lv. 3]</li>
        </ul>
    </li>
    <li>New Items</li>
</ol>