<ol>
    <li>5 New Songs
        <ul>
            <li>Melissa B. - Breathe (140 bpm)</li>
            <li>2XL - Magic City (81 bpm)</li>
            <li>Melissa B. - It's Real (96 bpm)</li>
            <li>For The Year - Lost Hearts & White Lies (90 bpm)</li>
            <li>Papillon Rising - Things Are Looking Up (125 bpm)</li>
        </ul>
    </li>
    <li>New Items</li>
</ol>