<ol>
    <li>Valentine's Day Event</li>
    <li>New Room Background Items</li>
    <li>The song Emiley Stans - Monster now has easy (80 bpm) and hard (160 bpm) versions.</li>
    <li>2 New Songs
        <ul>
            <li>ANDROMEDA - Leave The Light On (126 bpm)</li>
            <li>Revolucien & A-P Connection - All Night (122 bpm)</li>
        </ul>
    </li>
    <li>New Items</li>
</ol>