<ol>
    <li>3 New Songs
        <ul>
            <li>DAENGZA - White Bells (122 bpm)</li>
            <li>Mystery Skulls - Ghost (120 bpm)</li>
            <li>Melissa.B - Star Light (118 bpm)</li>
        </ul>
    </li>
    <li>New Items</li>
</ol>