<ol>
    <li>5 New Songs
        <ul>
            <li>AlexBeroza - Drive (83 bpm)</li>
            <li>Arc North - Meant To Be (feat. Krista Marina) (105 bpm)</li>
            <li>Aweeden - Essence (130 bpm)</li>
            <li>Daniel Rosty & Sash S - See The Stars (104 bpm)</li>
            <li>pheraph - Like Music (146 bpm)</li>
        </ul>
    </li>
    <li>2 New Guitar Songs
        <ul>
            <li>Audition - Blow (100 bpm) [Easy, Normal, Hard]</li>
            <li>Go Go Boys - I Like You (Rerecord) (110 bpm) [Easy, Normal, Hard]</li>
        </ul>
    </li>
    <li>New Shopping Mall Items</li>
    <li>New Couple Shop Items</li>
</ol>