<ol>
    <li>Item Mode</li>
    <li>6 New Songs
        <ul>
            <li>JOA & Mabeha - Skyward (120 bpm)</li>
            <li>Smokn Beats - Tattoo (feat. Sondrey) (144 bpm)</li>
            <li>Arc North - Never Gonna (128 bpm)</li>
            <li>Trixtor - Another Galaxy (130 bpm)</li>
            <li>Nino Summer - Deep Blue (feat. Harley Bird) (98 bpm)</li>
            <li>Midranger & Misfit Massacre - Lost In Time (135 bpm)</li>
        </ul>
    </li>
    <li>New Shopping Mall Items</li>
    <li>New Couple Shop Items</li>
</ol>