<ol>
    <li>Story Mode Episode 3 - Stories 21 through 40</li>
    <li>6 New Songs
        <ul>
            <li>DJ Shew - Utopia (feat. Hope Raney) (130 bpm)</li>
            <li>Kyven - Make It Through Together (119 bpm)</li>
            <li>J-Marin - Limitless (160 bpm)</li>
            <li>Marco B. - Electus (feat. Amore Jones) (128 bpm)</li>
            <li>DJ Shew - Utopia (Instrumental) (130 bpm)</li>
            <li>Kyven - Make It Through Together (Instrumental) (119 bpm)</li>
        </ul>
    </li>
    <li>2 New Guitar Songs
        <ul>
            <li>Glen Check - Disco Elevator (120 bpm) [Easy, Normal, Hard]</li>
            <li>Day break - Mr. Rolling Stone (135 bpm) [Easy, Normal, Hard]</li>
        </ul>
    </li>
    <li>New Shopping Mall Items</li>
</ol>