<ol>
    <li>OX Help Quiz Event
        <ul>
            <li>Answer Yes/No questions to earn coupons.</li>
            <li>Exchange your coupons for various prizes.</li>
        </ul>
    </li>
    <li>"Switch Mark" extension
        <ul>
            <li>New "Event" section with marks that will be given out as prizes during certain events.</li>
            <li>New "Preview" section.</li>
        </ul>
    </li>
    <li>4 New Songs
        <ul>
            <li>Brooks&Forte - Never Goin' Home (130 bpm)</li>
            <li>Emiley Stans - Turn me on (120 bpm)</li>
            <li>For The Year - Last Night (120 bpm)</li>
            <li>Kyven - Destiny (129 bpm)</li>
        </ul>
    </li>
    <li>4 New Night Dance Songs
        <ul>
            <li>Brooks&Forte - Never Goin' Home (130 bpm)</li>
            <li>Emiley Stans - Turn me on (120 bpm)</li>
            <li>For The Year - Last Night (120 bpm)</li>
            <li>Kyven - Destiny (129 bpm)</li>
        </ul>
    </li>
    <li>4 New Beat Up Songs
        <ul>
            <li>Brooks&Forte - Never Goin' Home (130 bpm) [Lv. 3]</li>
            <li>Emiley Stans - Turn me on (120 bpm) [Lv. 2]</li>
            <li>For The Year - Last Night (120 bpm) [Lv. 2]</li>
            <li>Kyven - Destiny (129 bpm) [Lv. 3]</li>
        </ul>
    </li>
    <li>4 New One Two Party Songs
        <ul>
            <li>Brooks&Forte - Never Goin' Home (130 bpm) [Lv. 4]</li>
            <li>Emiley Stans - Turn me on (120 bpm) [Lv. 3]</li>
            <li>For The Year - Last Night (120 bpm) [Lv. 3]</li>
            <li>Kyven - Destiny (129 bpm) [Lv. 4]</li>
        </ul>
    </li>
    <li>4 New Space Pang Pang Songs
        <ul>
            <li>Brooks&Forte - Never Goin' Home (130 bpm)</li>
            <li>Emiley Stans - Turn me on (120 bpm)</li>
            <li>For The Year - Last Night (120 bpm)</li>
            <li>Kyven - Destiny (129 bpm)</li>
        </ul>
    </li>
    <li>4 New Rhythmholic Songs
        <ul>
            <li>Brooks&Forte - Never Goin' Home (130 bpm)</li>
            <li>Emiley Stans - Turn me on (120 bpm)</li>
            <li>For The Year - Last Night (120 bpm)</li>
            <li>Kyven - Destiny (129 bpm)</li>
        </ul>
    </li>
    <li>4 New Block Beat Songs
        <ul>
            <li>Brooks&Forte - Never Goin' Home (130 bpm) [Lv. 4]</li>
            <li>Emiley Stans - Turn me on (120 bpm) [Lv. 3]</li>
            <li>For The Year - Last Night (120 bpm) [Lv. 3]</li>
            <li>Kyven - Destiny (129 bpm) [Lv. 4]</li>
        </ul>
    </li>
    <li>New Items</li>
</ol>