<ol>
    <li>Anniversary Events
        <ul>
            <li>Double EXP & Couple Points</li>
            <li>You can enter the Couple Shop alone if your Couple Level is 61+.</li>
        </ul>
    </li>
    <li>2 New Songs
        <ul>
            <li>TFLM - Wave From Me (128 bpm)</li>
            <li>The Last - To The Future (112 bpm)</li>
        </ul>
    </li>
    <li>2 New Night Dance Songs
        <ul>
            <li>TFLM - Wave From Me (128 bpm)</li>
            <li>The Last - To The Future (112 bpm)</li>
        </ul>
    </li>
    <li>4 New Beat Up Songs
        <ul>
            <li>TFLM - Wave From Me (128 bpm) [Lv. 3]</li>
            <li>The Last - To The Future (112 bpm) [Lv. 2]</li>
        </ul>
    </li>
    <li>4 New One Two Party Songs
        <ul>
            <li>TFLM - Wave From Me (128 bpm) [Lv. 4]</li>
            <li>The Last - To The Future (112 bpm) [Lv. 3]</li>
        </ul>
    </li>
    <li>2 New Space Pang Pang Songs
        <ul>
            <li>TFLM - Wave From Me (128 bpm)</li>
            <li>The Last - To The Future (112 bpm)</li>
        </ul>
    </li>
    <li>4 New Rhythmholic Songs
        <ul>
            <li>TFLM - Wave From Me (128 bpm)</li>
            <li>The Last - To The Future (112 bpm)</li>
        </ul>
    </li>
    <li>4 New Block Beat Songs
        <ul>
            <li>TFLM - Wave From Me (128 bpm) [Lv. 3]</li>
            <li>The Last - To The Future (112 bpm) [Lv. 2]</li>
        </ul>
    </li>
    <li>3 New Guitar Songs
        <ul>
            <li>Audition - Night Drive (232 bpm) [Easy, Normal, Hard, Crazy]</li>
            <li>Alice - Can't You See Easy (140 bpm) [Easy, Normal, Hard]</li>
            <li>Rb. Duke - Rhythm (116 bpm) [Easy, Normal, Hard]</li>
        </ul>
    </li>
    <li>195 New Shopping Mall Items
        <ul>
            <li>111 new women's items including 2 faces, 30 hairs, 21 tops, 21 bottoms, 29 shoes, and 8 sets.</li>
            <li>82 new men's items including 2 faces, 20 hairs, 20 tops, 20 bottoms, and 20 shoes.</li>
            <li>2 new accessories.</li>
        </ul>
    </li>
    <li>8 New Couple Shop Items
        <ul>
            <li>3 new women's items including 1 hair, 1 shoes, and 1 set.</li>
            <li>3 new men's items including 1 hair, 1 shoes, and 1 set.</li>
            <li>2 new accessories.</li>
        </ul>
    </li>
</ol>