{% extends "base.twig" %}

{% block body %}
    <div class="row">
        <div class="col-md-12 col-sm-12 text-center">
            <div>The Crazy Crew seems to have misled you!</div>
            <div>Page not found (Error 404).</div>
        </div>
    </div>
{% endblock %}