<div class="col-md-12 col-lg-8 col-lg-offset-2 text-center" style="margin-top:10px;">
    <div class="row">
    	<div class="col-md-12">
	        All information and features on Audifan.net are based on Audition Online Dance Battle with publisher Redbana US Corp (also known as "AAU").<br />
	        Audifan.net is neither affiliated with nor endorsed by Redbana US Corp.
	    </div>
    </div>

    <div class="row">
    	<div class="col-md-6 col-md-offset-3">
    		<div class="row" style="margin-top:10px;">
    			<div class="col-md-4 text-center"><a href="/terms/">Terms of Use</a></div>
    			<div class="col-md-4 text-center"><a href="/help/">Help Center</a></div>
    			<div class="col-md-4 text-center"><a href="/tickets/">Contact Us</a></div>
    		</div>
    	</div>
    </div>

    <div class="row" style="margin-top:10px;">
		<div class="col-md-6 text-center">Site Build {% include "generated/version.twig" %}</div>
		<div class="col-md-6 text-center">&copy; {{ "now"|date("Y") }} <a href="https://manawebdevelopment.com/" target="_blank">Mana Web Development</a></div>
	</div>
</div>