{% extends "base.twig" %}

{% block title %}[ADMIN] Audifan.net - Log In As Someone Else{% endblock %}

{% block body %}
<div class="pagetitle">Admin > Log In As Someone Else</div>
<div class="contentwrapperhalf">
    <form method="post" action="/admin/account/loginas/">
        Enter Account ID: <input type="text" name="id" class="prettyinputtext" /><br />
        <input type="submit" name="submit" value="Log In As This Person" class="prettyinputbutton" />
    </form>
</div>
{% endblock %}